openapi: 3.0.0
info:
  title: BigCommerce Abandoned Cart Emails Currencies (Single) API
  version: 3.0.0
  termsOfService: https://www.bigcommerce.com/terms
  description: Abandoned Cart Emails V3 API managing Handlebars-based emails.
  contact:
    name: BigCommerce
    url: https://www.bigcommerce.com
    email: support@bigcommerce.com
servers:
- url: https://api.bigcommerce.com/stores/{store_hash}/v3
  variables:
    store_hash:
      default: store_hash
      description: Permanent ID of the BigCommerce store.
  description: BigCommerce API Gateway
security:
- X-Auth-Token: []
tags:
- name: Currencies (Single)
paths:
  /currencies/{id}:
    parameters:
    - $ref: '#/components/parameters/Accept'
    - name: id
      in: path
      description: Currency ID
      required: true
      schema:
        type: string
    get:
      tags:
      - Currencies (Single)
      summary: BigCommerce Get a Currency
      description: Returns a single *Currency*.
      operationId: getCurrency
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/currency_Full'
    put:
      tags:
      - Currencies (Single)
      summary: BigCommerce Update a Currency
      description: 'Updates a *Currency*.


        **Read-Only Fields**


        * id

        * date_created

        * date_modified

        * currency_code



        The `is_default` property can only be set to true. The value of `is_default` cannot be unset, only overridden. '
      operationId: updateCurrency
      parameters:
      - $ref: '#/components/parameters/ContentType'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/currency_Put'
        required: false
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/currency_Full'
      x-codegen-request-body-name: body
    delete:
      tags:
      - Currencies (Single)
      summary: BigCommerce Delete a Currency
      description: 'Deletes a *Currency*.


        If a currencyʼs `is_default` property is set to true, this currency cannot be deleted. '
      operationId: deleteCurrency
      responses:
        '204':
          description: ''
          content:
            application/json:
              schema:
                type: object
components:
  parameters:
    Accept:
      name: Accept
      in: header
      required: true
      schema:
        type: string
        default: application/json
    ContentType:
      name: Content-Type
      in: header
      required: true
      schema:
        type: string
        default: application/json
  schemas:
    currency_Base:
      title: currency_Base
      required:
      - currency_code
      - currency_exchange_rate
      - decimal_places
      - decimal_token
      - name
      - thousands_token
      - token
      - token_location
      type: object
      properties:
        is_default:
          type: boolean
          description: Specifies the store’s default currency display format. For write operations, only true value is accepted. When set to true, it cannot be unset, only overridden.
          example: false
        country_iso2:
          type: string
          description: 2-letter ISO Alpha-2 code for this currency’s country.
          example: EU
        currency_code:
          type: string
          description: 3-letter ISO 4217 code for this currency.
          example: EUR
        currency_exchange_rate:
          type: string
          description: Amount of this currency that is equivalent to one U.S. dollar.(Float, Float as String, Integer)
          example: '0.849'
        auto_update:
          type: boolean
          description: Specifies whether to use the Open Exchange Rates service to update the currency conversion. A value of false specifies a static conversion value. auto_update only applies to non-transactional currencies.
          example: true
        token_location:
          type: string
          description: Specifies whether this currency’s symbol appears to the “left” or “right” of the numeric amount.
          example: left
        token:
          type: string
          description: Symbol for this currency.
          example: €
        decimal_token:
          type: string
          description: Symbol used as the decimal separator in this currency.
          example: .
        thousands_token:
          type: string
          description: Symbol used as the thousands separator in this currency.
          example: ','
        decimal_places:
          type: integer
          description: Number of decimal places to show for this currency.
          example: 2
        name:
          type: string
          description: Name of the currency.
          example: Euro
        enabled:
          type: boolean
          description: If the currency is active on the store.
          example: false
        is_transactional:
          type: boolean
          description: Indicates if the currency is set as transactional or not. False means display only currency
          example: false
      description: Currency Object
      example:
        id: 2
        is_default: false
        last_updated: Tue, 12 Jun 2018 14:41:56 +0000"
        country_iso2: EU
        currency_code: EUR
        currency_exchange_rate: '0.849'
        auto_update: true
        token_location: left
        token: €
        decimal_token: .
        thousands_token: ','
        decimal_places: 2
        name: Euro
        enabled: false
      x-examples:
        Example:
          value:
            country_iso2: EU
            currency_code: EUR
            currency_exchange_rate: '0.849'
            auto_update: true
            token_location: left
            token: €
            decimal_token: .
            thousands_token: ','
            decimal_places: 2
            name: Euro
            is_transactional: false
            id: 2
            is_default: false
            last_updated: 2018-06-12 14:41:56+00:00
            enabled: false
      x-internal: false
    currency_Put:
      $ref: '#/components/schemas/currency_Post'
    currency_Full:
      title: currency_Full
      allOf:
      - $ref: '#/components/schemas/currency_Base'
      - type: object
        properties:
          id:
            type: integer
            description: ID of the currency. Read only.
            readOnly: true
            example: 2
          last_updated:
            type: string
            description: Date the currency was last updated, created or modified.
            format: date-time
      x-internal: false
    currency_Post:
      $ref: '#/components/schemas/currency_Base'
  securitySchemes:
    X-Auth-Token:
      name: X-Auth-Token
      description: '### OAuth scopes


        | UI Name | Permission | Parameter |

        |:--|:--|:-|

        | Information & Settings  | read-only  | `store_v2_information_read_only`|

        | Information & Settings  | modify     | `store_v2_information`          |


        ### Authentication header


        | Header | Argument | Description |

        |:-|:|:|

        | `X-Auth-Token` | `access_token` | For more about API accounts that generate `access_token`s, see our [Guide to API Accounts](/docs/start/authentication/api-accounts). |


        ### Further reading


        For example requests and more information about authenticating BigCommerce APIs, see [Authentication and Example Requests](/docs/start/authentication#x-auth-token-header-example-requests).


        For more about BigCommerce OAuth scopes, see our [Guide to API Accounts](/docs/start/authentication/api-accounts#oauth-scopes).


        For a list of API status codes, see [API Status Codes](/docs/start/about/status-codes).'
      type: apiKey
      in: header
