openapi: 3.0.0
info:
  title: BigCommerce Abandoned Cart Emails Site Certificate API
  version: 3.0.0
  termsOfService: https://www.bigcommerce.com/terms
  description: Abandoned Cart Emails V3 API managing Handlebars-based emails.
  contact:
    name: BigCommerce
    url: https://www.bigcommerce.com
    email: support@bigcommerce.com
servers:
- url: https://api.bigcommerce.com/stores/{store_hash}/v3
  variables:
    store_hash:
      default: store_hash
      description: Permanent ID of the BigCommerce store.
  description: BigCommerce API Gateway
security:
- X-Auth-Token: []
tags:
- name: Site Certificate
paths:
  /sites/{site_id}/certificate:
    parameters:
    - $ref: '#/components/parameters/Accept'
    - in: path
      name: site_id
      schema:
        type: integer
      required: true
    get:
      summary: BigCommerce Get a Site’s SSL/TLS Certificate Information
      description: Obtain information about a site’s SSL/TLS certificate.
      tags:
      - Site Certificate
      operationId: getSiteCertificate
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CertificateResponse'
              examples: {}
    put:
      summary: BigCommerce Upsert a Site’s SSL/TLS Certificate Information
      operationId: upsertSiteCertificate
      parameters:
      - $ref: '#/components/parameters/ContentType'
      tags:
      - Site Certificate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InstallCertificateData'
        description: ''
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
            Example:
              examples:
                response:
                  value: "{\n    \"data\": {},\n    \"meta\": {}\n}"
      description: '- If a value for `url` is not supplied, the saved certificate is associated with the specified site’s `primary` URL.

        - Use caution. Because this endpoint upserts, supplying an SSL certificate for a domain that already has a certificate connected overwrites the domain’s extant certificate.'''
  /sites/certificates:
    parameters:
    - $ref: '#/components/parameters/Accept'
    get:
      summary: BigCommerce Get Site Certificates
      tags:
      - Site Certificate
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCertificatesResponse'
      operationId: getSitesCertificates
      description: Return all SSL certificates connected to domains within a store.
      parameters:
      - schema:
          type: string
        in: query
        name: urls:in
        description: Query certificates by one or more URLs
components:
  schemas:
    EmptyResponse:
      type: object
      properties:
        data:
          type: object
          properties: {}
        meta:
          type: object
          properties: {}
    CertificateResponse:
      title: CertificateResponse
      type: object
      description: ''
      properties:
        data:
          type: object
          properties:
            status:
              type: string
              enum:
              - shared
              - dedicated
            installed_certificate:
              $ref: '#/components/schemas/InstalledCertificateDetail'
        meta:
          $ref: '#/components/schemas/MetaOpen'
      x-tags:
      - Models
    CertificateWrite:
      title: CertificateWrite
      type: object
      description: ''
      properties:
        certificate:
          type: string
          description: The primary certificate, as a string.
        private_key:
          type: string
          description: The private key, as a string. Is a "write-only" field, will never be returned after write.
        intermediate_certificates:
          type: string
          description: The intermediate certificate(s), as a string.
      x-tags:
      - Models
    GetCertificatesResponse:
      title: GetCertificatesResponse
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/InstalledCertificateDetail'
        meta:
          $ref: '#/components/schemas/MetaOpen'
    MetaOpen:
      title: Response meta
      type: object
      properties: {}
      additionalProperties: true
      description: Response metadata.
    InstallCertificateData:
      type: object
      properties:
        url:
          type: string
          description: URL for the site.
          example: kittens.mybigcommerce.com
        certificate:
          $ref: '#/components/schemas/CertificateWrite'
    InstalledCertificateDetail:
      title: CertificateInfo
      description: Details about the installed certificate, including the raw certificate data, without the private key.
      type: object
      nullable: true
      properties:
        common_name:
          type: string
          example: store.com
          description: Common Name on the TLS certificate.
        subject_alternative_names:
          type: array
          example:
          - store.com
          - www.store.com
          description: Subject Alternative Names for which the certificate is also valid.
          items:
            type: string
        validity_not_before:
          type: string
          example: '2018-01-04T04:15:50.000Z'
          description: When does the validity period of this certificate begin? RFC 3339.
        validity_not_after:
          type: string
          example: '2018-01-04T04:15:50.000Z'
          description: When does the validity period of this certificate end? If this date is in the past, the certificate has expired. RFC 3339.
        signing_algorithm:
          type: string
          description: Signing algorithm used to sign the certificate.
        issuer:
          type: string
        certificate:
          type: string
          description: The primary certificate, as a string.
        intermediate_certificates:
          type: string
          description: The intermediate certificate(s), as a string.
      x-tags:
      - Models
  parameters:
    Accept:
      name: Accept
      in: header
      required: true
      description: The [MIME type](https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/MIME_types) of the response body.
      schema:
        type: string
        default: application/json
    ContentType:
      name: Content-Type
      in: header
      required: true
      description: The [MIME type](https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/MIME_types) of the request body.
      schema:
        type: string
        default: application/json
  securitySchemes:
    X-Auth-Token:
      name: X-Auth-Token
      description: '### OAuth scopes


        | UI Name | Permission | Parameter |

        |:--|:--|:-|

        | Information & Settings  | read-only  | `store_v2_information_read_only`|

        | Information & Settings  | modify     | `store_v2_information`          |


        ### Authentication header


        | Header | Argument | Description |

        |:-|:|:|

        | `X-Auth-Token` | `access_token` | For more about API accounts that generate `access_token`s, see our [Guide to API Accounts](/docs/start/authentication/api-accounts). |


        ### Further reading


        For example requests and more information about authenticating BigCommerce APIs, see [Authentication and Example Requests](/docs/start/authentication#x-auth-token-header-example-requests).


        For more about BigCommerce OAuth scopes, see our [Guide to API Accounts](/docs/start/authentication/api-accounts#oauth-scopes).


        For a list of API status codes, see [API Status Codes](/docs/start/about/status-codes).'
      type: apiKey
      in: header
