openapi: 3.2.0
info:
  title: BigCommerce Wishlist Wishlists Items API
  description: 'Create and manage customer wishlists and wishlist items.


    ## Additional Information


    * [Wishlists (Help Center)](https://support.bigcommerce.com/s/article/Wishlists)'
  version: ''
  termsOfService: https://www.bigcommerce.com/terms
  contact:
    name: BigCommerce
    url: https://www.bigcommerce.com
    email: support@bigcommerce.com
servers:
- url: https://api.bigcommerce.com/stores/{store_hash}/v3
  variables:
    store_hash:
      default: store_hash
      description: Permanent ID of the BigCommerce store.
  description: BigCommerce API Gateway
security:
- X-Auth-Token: []
tags:
- name: Wishlists Items
paths:
  /wishlists/{wishlist_id}/items/{item_id}:
    parameters:
    - $ref: '#/components/parameters/WishlistID'
    - $ref: '#/components/parameters/Accept'
    - name: item_id
      in: path
      required: true
      schema:
        type: integer
        format: int32
    delete:
      tags:
      - Wishlists Items
      summary: BigCommerce Delete Wishlist Item
      description: Deletes a wishlist item.
      operationId: deleteWishlistItem
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/wishlist_Full'
                  meta:
                    type: object
                    properties: {}
                    additionalProperties: true
                    description: Response metadata.
              example:
                data:
                  id: 30
                  customer_id: 10
                  name: Christmas List
                  is_public: true
                  token: d2d55481-13eb-4d1e-9d79-9062b518570d
                  items:
                  - id: 44
                    product_id: 77
                    variant_id: 1
                  - id: 45
                    product_id: 80
                    variant_id: 1
                  - id: 46
                    product_id: 81
                    variant_id: 1
                  - id: 47
                    product_id: 86
                    variant_id: 1
                  - id: 48
                    product_id: 88
                    variant_id: 1
                meta: {}
        '401':
          description: Authentication information is missing or invalid.
          content:
            application/json:
              schema:
                title: Error
                type: object
                properties:
                  status:
                    type: integer
                    format: int32
                  title:
                    type: string
                  type:
                    type: string
        '404':
          description: Wishlist not found.
          content:
            application/json:
              schema:
                type: object
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                title: Error
                type: object
                properties:
                  status:
                    type: integer
                    format: int32
                  title:
                    type: string
                  type:
                    type: string
  /wishlists/{wishlist_id}/items:
    parameters:
    - $ref: '#/components/parameters/WishlistID'
    - $ref: '#/components/parameters/Accept'
    post:
      tags:
      - Wishlists Items
      summary: BigCommerce Add Wishlist Item
      description: Adds a wishlist item. More than one item can be added at a time.
      operationId: addWishlistItem
      parameters:
      - $ref: '#/components/parameters/ContentType'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/wishlistItem_Post'
        required: false
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/wishlist_Full'
                  meta:
                    type: object
                    properties: {}
                    additionalProperties: true
                    description: Response metadata.
              example:
                data:
                  id: 30
                  customer_id: 10
                  name: Christmas List
                  is_public: true
                  token: d2d55481-13eb-4d1e-9d79-9062b518570d
                  items:
                  - id: 44
                    product_id: 77
                    variant_id: 1
                  - id: 45
                    product_id: 80
                    variant_id: 1
                  - id: 46
                    product_id: 81
                    variant_id: 1
                  - id: 47
                    product_id: 86
                    variant_id: 1
                  - id: 48
                    product_id: 88
                    variant_id: 1
                meta: {}
        '401':
          description: Authentication information is missing or invalid.
          content:
            application/json:
              schema:
                title: Error
                type: object
                properties:
                  status:
                    type: integer
                    format: int32
                  title:
                    type: string
                  type:
                    type: string
        '404':
          description: Wishlist not found.
          content: {}
        '500':
          description: Internal server error.
          content: {}
components:
  parameters:
    Accept:
      name: Accept
      in: header
      required: true
      description: The [MIME type](https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/MIME_types) of the response body.
      schema:
        type: string
        default: application/json
    ContentType:
      name: Content-Type
      in: header
      required: true
      description: The [MIME type](https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/MIME_types) of the request body.
      schema:
        type: string
        default: application/json
    WishlistID:
      name: wishlist_id
      in: path
      description: ID of the Wishlist.
      required: true
      schema:
        type: integer
        format: int32
  schemas:
    wishlistItem_Full:
      title: wishlistItem_Full
      type: object
      properties:
        id:
          type: integer
          description: The ID of the item.
          format: int32
          example: 12
        product_id:
          type: integer
          description: The ID of the product.
          format: int32
          example: 55
        variant_id:
          type: integer
          description: The variant ID of the product.
          format: int32
          example: 22
      x-internal: false
    wishlistItem_Post:
      type: object
      title: wishlistItem_Post
      properties:
        items:
          type: array
          items:
            type: object
            properties:
              product_id:
                type: integer
                example: 12
              variant_id:
                type: integer
                example: 152
      x-examples:
        example-1:
          items:
          - product_id: 12
            variant_id: 152
    wishlist_Full:
      title: wishlist_Full
      type: object
      properties:
        id:
          type: integer
          description: Wishlist ID, provided after creating a wishlist with a POST.
          format: int32
          example: 30
        customer_id:
          type: integer
          description: The ID the customer to which the wishlist belongs.
          format: int32
          example: 12
        name:
          type: string
          description: The name of the wishlist.
          example: Christmas List
        is_public:
          type: boolean
          description: Whether the wishlist is available to the public.
          example: true
        token:
          type: string
          description: The token of the wishlist. This is created internally within BigCommerce. The wishlist ID is to be used for external apps. Read-Only.
          format: uuid
          example: 02d55481-13eb-4d1e-9d79-9062b518570d
        items:
          type: array
          description: Array of wishlist items.
          items:
            $ref: '#/components/schemas/wishlistItem_Full'
      x-internal: false
  securitySchemes:
    X-Auth-Token:
      name: X-Auth-Token
      description: '### OAuth scopes


        | UI Name | Permission | Parameter |

        |:--|:--|:-|

        |  Customers | modify | `store_v2_customers` |

        |  Customers | read-only | `store_v2_customers_read_only` |


        ### Authentication header


        | Header | Argument | Description |

        |:-|:|:|

        | `X-Auth-Token` | `access_token` | For more about API accounts that generate `access_token`s, see our [Guide to API Accounts](/docs/start/authentication/api-accounts). |


        ### Further reading


        For example requests and more information about authenticating BigCommerce APIs, see [Authentication and Example Requests](/docs/start/authentication#x-auth-token-header-example-requests).


        For more about BigCommerce OAuth scopes, see our [Guide to API Accounts](/docs/start/authentication/api-accounts#oauth-scopes).


        For a list of API status codes, see [API Status Codes](/docs/start/about/status-codes).'
      type: apiKey
      in: header
