openapi: 3.2.0
info:
  description: Manage settings and configuration for BigCommerce hosted stores and headless storefronts.
  termsOfService: https://www.bigcommerce.com/terms
  contact:
    name: BigCommerce
    url: https://www.bigcommerce.com
    email: support@bigcommerce.com
  title: BigCommerce Settings V3 Storefront Product API
  version: 3.0.0
servers:
- url: https://api.bigcommerce.com/stores/{store_hash}/v3
  variables:
    store_hash:
      default: store_hash
      description: Permanent ID of the BigCommerce store.
  description: BigCommerce API Gateway
security:
- X-Auth-Token: []
tags:
- name: Storefront Product
paths:
  /settings/storefront/product:
    parameters:
    - $ref: '#/components/parameters/Accept'
    get:
      operationId: getSettingsStorefrontProduct
      summary: BigCommerce Get Storefront Product Settings
      description: "Returns product settings.\n\n - Channel ID can be used as a query parameter for getting channel-specific setting. If omitted, you will interact with the global setting only. \n\n - `null` indicates that a particular field has not been overridden on a channel level when channel level settings are requested and values are inherited from global level."
      parameters:
      - $ref: '#/components/parameters/ChannelIdParam'
      responses:
        '200':
          $ref: '#/components/responses/200-storefront-product-settings'
      tags:
      - Storefront Product
    put:
      operationId: updateSettingsStorefrontProduct
      summary: BigCommerce Update Storefront Product Settings
      description: "Updates product settings.\n\n - Channel ID can be used as a query parameter for updating channel-specific setting. If omitted, you will interact with the global setting only. \n\n - `null` should be supplied to delete overrides per given channel and to inherit values from global level. Partial updates are not supported and all settings should be supplied with `null` value in order to delete overrides per channel."
      parameters:
      - $ref: '#/components/parameters/ContentType'
      - $ref: '#/components/parameters/ChannelIdParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StorefrontProductSettings'
      responses:
        '200':
          $ref: '#/components/responses/200-storefront-product-settings'
        '422':
          $ref: '#/components/responses/422ErrorResp'
      tags:
      - Storefront Product
components:
  schemas:
    MetaOpen:
      title: Response meta
      type: object
      properties: {}
      additionalProperties: true
      description: Response metadata.
    StorefrontProductSettings:
      type: object
      properties:
        show_product_price:
          type: boolean
          description: 'Determines the visibility of the product price.

            '
          example: true
        show_product_sku:
          type: boolean
          description: 'Determines the visibility of the product SKU.

            '
          example: true
        show_product_weight:
          type: boolean
          description: 'Determines the visibility of the productʼs weight.

            '
          example: false
        show_product_brand:
          type: boolean
          description: 'Determines the visibility of the productʼs brand.

            '
          example: true
        show_product_shipping:
          type: boolean
          description: 'Determines the visibility of the productʼs shipping option.

            '
          example: false
        show_product_rating:
          type: boolean
          description: 'Determines the visibility of the productʼs rating.

            '
          example: true
        show_add_to_cart_link:
          type: boolean
          description: 'Determines the visibility of the Add to Cart link.

            '
          example: true
        default_preorder_message:
          type: string
          description: 'The productʼs pre-order message. If undefined, the message defaults to the storewide setting.

            '
          example: Preorder message
        show_breadcrumbs_product_pages:
          type: string
          enum:
          - show_one
          - show_none
          example: show_one
        show_add_to_cart_qty_box:
          type: boolean
          description: 'Determines the visibility of the Add to Cart quantity setting.

            '
          example: true
        show_add_to_wishlist:
          type: boolean
          description: 'Determines the visibility of the Add to Wishlist setting.

            '
          example: true
        hide_price_from_guests:
          type: boolean
          description: 'Determines the visibility of the price.

            '
          example: false
      title: StorefrontProductSettings
      x-tags:
      - Models
  parameters:
    Accept:
      name: Accept
      in: header
      required: true
      description: The [MIME type](https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/MIME_types) of the response body.
      schema:
        type: string
        default: application/json
    ContentType:
      name: Content-Type
      in: header
      required: true
      description: The [MIME type](https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/MIME_types) of the request body.
      schema:
        type: string
        default: application/json
    ChannelIdParam:
      description: Channel ID to use for channel-specific setting. If omitted, you will interact with the global setting only.
      in: query
      name: channel_id
      schema:
        type: integer
  responses:
    200-storefront-product-settings:
      description: OK. `null` indicates that a particular field has not been overridden on a channel level when channel level settings are requested
      content:
        application/json:
          examples: {}
          schema:
            type: object
            properties:
              data:
                $ref: '#/components/schemas/StorefrontProductSettings'
              meta:
                $ref: '#/components/schemas/MetaOpen'
    422ErrorResp:
      description: '`422 Unprocessable Entity` Provided settings could not be applied for some reason - detailed errors in the response.

        '
      content:
        application/json:
          examples: {}
          schema:
            description: ''
            type: object
            properties:
              errors:
                type: object
                properties:
                  ? ''
                  : type: string
                    example: 'Incorrect value [current__only], it should match one of: current_category_only,child_categories_if_category_empty,child_categories; Incorrect value [besling], it should match one of: featured, newest, bestselling, alphaasc, alphadesc, avgcustomerreview, priceasc, pricedesc, relevance'
                    minLength: 1
              status:
                type: number
                example: 422
              title:
                type: string
                example: JSON data is missing or invalid
                minLength: 1
              type:
                type: string
                example: https://developer.bigcommerce.com/api-docs/getting-started/api-status-codes
                minLength: 1
            x-examples:
              example-1:
                errors:
                  ? ''
                  : 'Incorrect value [], it should match one of: current_category_only,child_categories_if_category_empty,child_categories; Incorrect value [], it should match one of: featured, newest, bestselling, alphaasc, alphadesc, avgcustomerreview, priceasc, pricedesc, relevance'
                status: 422
                title: JSON data is missing or invalid
                type: https://developer.bigcommerce.com/api-docs/getting-started/api-status-codes
  securitySchemes:
    X-Auth-Token:
      name: X-Auth-Token
      description: '### OAuth scopes


        | UI Name | Permission | Parameter |

        |:--|:--|:-|

        |  Information & Settings | modify | `store_v2_information` |

        |  Information & Settings | read-only | `store_v2_information_read_only` |


        ### Authentication header


        | Header | Argument | Description |

        |:-|:|:|

        | `X-Auth-Token` | `access_token` | For more about API accounts that generate `access_token`s, see our [Guide to API Accounts](/docs/start/authentication/api-accounts). |


        ### Further reading


        For example requests and more information about authenticating BigCommerce APIs, see [Authentication and Example Requests](/docs/start/authentication#x-auth-token-header-example-requests).


        For more about BigCommerce OAuth scopes, see our [Guide to API Accounts](/docs/start/authentication/api-accounts#oauth-scopes).


        For a list of API status codes, see [API Status Codes](/docs/start/about/status-codes).'
      type: apiKey
      in: header
