openapi: 3.0.0
info:
  title: BigCommerce Abandoned Cart Emails Transactions API
  version: 3.0.0
  termsOfService: https://www.bigcommerce.com/terms
  description: Abandoned Cart Emails V3 API managing Handlebars-based emails.
  contact:
    name: BigCommerce
    url: https://www.bigcommerce.com
    email: support@bigcommerce.com
servers:
- url: https://api.bigcommerce.com/stores/{store_hash}/v3
  variables:
    store_hash:
      default: store_hash
      description: Permanent ID of the BigCommerce store.
  description: BigCommerce API Gateway
security:
- X-Auth-Token: []
tags:
- name: Transactions
paths:
  /orders/{order_id}/transactions:
    parameters:
    - $ref: '#/components/parameters/Accept'
    - $ref: '#/components/parameters/OrderIdParam'
    get:
      tags:
      - Transactions
      description: 'Returns an **orderʼs** transactions.


        **Usage Notes**

        * Depending on the payment method, different information will be available (not all payment gateways return full card or fraud detail).



        Requires at least one of the following scopes:

        * `store_v2_transactions_read_only`

        * `store_v2_transactions`'
      operationId: getOrderTransactions
      responses:
        '200':
          $ref: '#/components/responses/TransactionCollection_Resp'
        '204':
          description: 'No content found to fulfill request.

            '
          content:
            application/json:
              schema:
                description: No-content response for the BigCommerce API.
                type: object
                properties:
                  status:
                    description: '204 HTTP status code.

                      '
                    type: integer
                  title:
                    description: The error title describing the situation.
                    type: string
                  type:
                    type: string
                  instance:
                    type: string
                title: No Content
        '404':
          description: 'The resource was not found.

            '
          content:
            application/json:
              schema:
                description: Error payload for the BigCommerce API.
                type: object
                properties:
                  status:
                    description: '404 HTTP status code.

                      '
                    type: integer
                  title:
                    description: The error title describing the particular error.
                    type: string
                  type:
                    type: string
                  instance:
                    type: string
                title: Not Found
      summary: BigCommerce Get Transactions
components:
  parameters:
    Accept:
      name: Accept
      in: header
      required: true
      description: The [MIME type](https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/MIME_types) of the response body.
      schema:
        type: string
        default: application/json
    OrderIdParam:
      name: order_id
      in: path
      description: 'The ID of the `Order` to which the transactions belong.

        '
      required: true
      schema:
        type: integer
  responses:
    TransactionCollection_Resp:
      description: Response payload for the BigCommerce Order Transactions API.
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  $ref: '#/components/schemas/Transaction'
              meta:
                $ref: '#/components/schemas/metaCollection_Full'
  schemas:
    metaCollection_Full:
      type: object
      title: metaCollection_Full
      properties:
        pagination:
          $ref: '#/components/schemas/pagination_Full'
      x-internal: false
      x-examples:
        example-1:
          pagination:
            total: 0
            count: 0
            per_page: 0
            current_page: 0
            total_pages: 0
            links:
              previous: string
              current: ?page=1&limit=50
              next: string
    links_Full:
      type: object
      properties:
        previous:
          type: string
          description: 'Link to the previous page returned in the response.

            '
        current:
          type: string
          description: 'Link to the current page returned in the response.

            '
          example: ?page=1&limit=50
        next:
          type: string
          description: 'Link to the next page returned in the response.

            '
      title: links_Full
      x-internal: false
    Transaction:
      allOf:
      - title: Transaction Base
        properties:
          event:
            type: string
            description: 'Store event that created the transaction.

              '
            enum:
            - purchase
            - authorization
            - capture
            - refund
            - void
            - pending
            - settled
          method:
            type: string
            description: 'The payment method: `credit_card` - a credit-card transaction; `electronic_wallet` - an online wallet; `store_credit` - a transaction using store credit; `gift_certificate` - a transaction using a gift certificate; `custom` - manual payment methods; `token` - payment token; `nonce` - temporary payment token; `offsite` - online payment off the site; `offline` - payment method that takes place offline.

              '
            enum:
            - credit_card
            - electronic_wallet
            - gift_certificate
            - store_credit
            - apple_pay_card
            - bigpay_token
            - apple_pay_token
            - token
            - custom
            - offsite
            - offline
            - nonce
          amount:
            type: number
            format: float
            description: 'Amount of money in the transaction.

              '
          currency:
            type: string
            format: ISO-4217
            description: 'Currency used for the transaction.

              '
          gateway:
            type: string
            description: 'The payment gateway, where applicable.

              '
            enum:
            - 2checkout
            - adyen
            - amazon
            - authorizenet
            - bankdeposit
            - braintree
            - cheque
            - cod
            - custom
            - firstdatagge4
            - giftcertificate
            - hps
            - instore
            - klarna
            - migs
            - moneyorder
            - nmi
            - paypalexpress
            - paypalpaymentsprous
            - paypalpaymentsprouk
            - plugnpay
            - qbmsv2
            - securenet
            - square
            - storecredit
            - stripe
            - testgateway
            - usaepay
          gateway_transaction_id:
            description: 'The transaction ID returned by the payment gateway for this transaction item.

              '
            type: string
          date_created:
            description: 'The date/time of the transaction.

              '
            type: string
            format: date-time
          test:
            type: boolean
            description: 'True if the transaction performed was a test, or if the gateway is in test mode.

              '
          status:
            type: string
            description: 'Status of the transaction.

              '
            enum:
            - ok
            - error
          fraud_review:
            type: boolean
            description: 'Result of gateway fraud review, if any. Default is `false`.

              '
          reference_transaction_id:
            type: integer
            description: 'Identifier for an existing transaction upon which this transaction acts.

              '
          offline:
            type: object
            description: Offline payment (e.g., check or purchase order).
            title: Offline
            properties:
              display_name:
                description: 'Display name for the offline payment.

                  '
                type: string
          custom:
            type: object
            description: Custom payment from manual order.
            title: Custom
            properties:
              payment_method:
                description: 'Text entered for the payment method in the control panel.

                  '
                type: string
          payment_method_id:
            type: string
            description: 'The payment method ID used for this transaction.

              '
        required:
        - event
        - method
        - amount
        - currency
        - gateway
      - properties:
          id:
            type: integer
            description: 'Unique identifier for the transaction.

              '
          order_id:
            type: string
            description: 'Identifier for the BigCommerce Order with which this transaction is associated.

              '
          date_created:
            description: 'The date/time of the transaction.

              '
            type: string
            format: date-time
          payment_instrument_token:
            type: string
            description: This field contains internal BigPay token for stored card that is then mapped to the actual third-party token. We currently do not offer a way to get third party tokens.These tokens are read-only and do not return any information about the payment.
          avs_result:
            description: Address Verification Service (AVS) result from the payment gateway.
            type: object
            title: AVS Results
            properties:
              code:
                description: AVS code.
                type: string
              message:
                description: AVS message.
                type: string
              street_match:
                description: AVS Code for street matching result.
                type: string
              postal_match:
                description: AVS Code for postal matching result.
                type: string
          cvv_result:
            description: Card Verification Value result from the payment gateway.
            type: object
            title: CVV Result
            properties:
              code:
                description: CVV code.
                type: string
              message:
                description: CVV message.
                type: string
          credit_card:
            $ref: '#/components/schemas/CreditCard'
          gift_certificate:
            type: object
            description: A gift-certificate model.
            title: Gift Certificate
            properties:
              code:
                description: 'The gift-certificate code.

                  '
                type: string
                example: MB345
              original_balance:
                type: number
                description: 'The balance on a gift certificate when it was purchased.

                  '
                format: float
                example: 100
                minimum: 0
                maximum: 21474836.47
              starting_balance:
                description: 'The balance on a gift certificate at the time of this purchase.

                  '
                type: number
                format: float
                example: 100
              remaining_balance:
                description: 'The remaining balance on a gift certificate.

                  '
                type: number
                format: float
                example: 35.42
              status:
                description: 'The status of a gift certificate: `active` - gift certificate is active; `pending` - gift certificate purchase is pending; `disabled` - gift certificate is disabled; `expired` - gift certificate is expired.

                  '
                type: string
                enum:
                - active
                - pending
                - disabled
                - expired
          store_credit:
            type: object
            description: 'A store credit model.

              '
            properties:
              remaining_balance:
                description: 'Remaining balance of shopperʼs store credit.

                  '
                type: number
                format: float
                example: 35.42
      type: object
      title: ''
      x-examples:
        Example 1:
          event: purchase
          method: credit_card
          amount: 3.4
          currency: string
          gateway: 2checkout
          gateway_transaction_id: string
          date_created: '2019-08-24T14:15:22Z'
          test: true
          status: ok
          fraud_review: true
          reference_transaction_id: 0
          offline:
            display_name: string
          custom:
            payment_method: string
          payment_method_id: string
          id: 0
          order_id: string
          payment_instrument_token: string
          avs_result:
            code: string
            message: string
            street_match: string
            postal_match: string
          cvv_result:
            code: string
            message: string
          credit_card:
            card_type: alelo
            card_iin: string
            card_last4: string
            card_expiry_month: 1
            card_expiry_year: 0
          gift_certificate:
            code: MB345
            original_balance: 100
            starting_balance: 100
            remaining_balance: 35.42
            status: active
          store_credit:
            remaining_balance: 35.42
      description: ''
    pagination_Full:
      type: object
      title: pagination_Full
      properties:
        total:
          description: Total number of items in the result set.
          type: integer
          format: int32
        count:
          description: Total number of items in the collection response.
          type: integer
          format: int32
        per_page:
          description: The amount of items returned in the collection per page, controlled by the limit parameter.
          type: integer
          format: int32
        current_page:
          description: The page you are currently on within the collection.
          type: integer
          format: int32
        total_pages:
          description: The total number of pages in the collection.
          type: integer
          format: int32
        links:
          $ref: '#/components/schemas/links_Full'
      x-internal: false
    CreditCard:
      type: object
      description: A credit-card model.
      title: Credit Card
      properties:
        card_type:
          type: string
          enum:
          - alelo
          - alia
          - american_express
          - cabal
          - carnet
          - dankort
          - diners_club
          - discover
          - elo
          - forbrugsforeningen
          - jcb
          - maestro
          - master
          - naranja
          - sodexo
          - unionpay
          - visa
          - vr
          description: '**Allowed values**: alelo, alia, american_express, cabal, carnet, dankort, diners_club, discover, elo, forbrugsforeningen, jcb, maestro, master, naranja, sodexo, unionpay, visa, vr'
        card_iin:
          description: 'The IIN of a credit-card number.

            '
          type: string
        card_last4:
          description: 'The last 4 digits of a credit-card number.

            '
          type: string
        card_expiry_month:
          description: 'The expiry month of a credit-card.

            '
          type: integer
          minimum: 1
          maximum: 12
        card_expiry_year:
          description: 'The expiry year of a credit-card.

            '
          type: integer
      x-internal: false
  securitySchemes:
    X-Auth-Token:
      name: X-Auth-Token
      description: '### OAuth scopes


        | UI Name | Permission | Parameter |

        |:--|:--|:-|

        | Information & Settings  | read-only  | `store_v2_information_read_only`|

        | Information & Settings  | modify     | `store_v2_information`          |


        ### Authentication header


        | Header | Argument | Description |

        |:-|:|:|

        | `X-Auth-Token` | `access_token` | For more about API accounts that generate `access_token`s, see our [Guide to API Accounts](/docs/start/authentication/api-accounts). |


        ### Further reading


        For example requests and more information about authenticating BigCommerce APIs, see [Authentication and Example Requests](/docs/start/authentication#x-auth-token-header-example-requests).


        For more about BigCommerce OAuth scopes, see our [Guide to API Accounts](/docs/start/authentication/api-accounts#oauth-scopes).


        For a list of API status codes, see [API Status Codes](/docs/start/about/status-codes).'
      type: apiKey
      in: header
