openapi: 3.2.0
info:
  title: BigCommerce Catalog - Products Summary API
  description: "> The Catalog API manages products, categories, brands, bulk pricing rules, and more. To learn more about catalog resources, see the [Catalog Overview](/docs/store-operations/catalog).\n\nOur Catalog Products endpoints let you [create products](/docs/rest-catalog/products#create-a-product), perform [batch operations on existing products](/docs/rest-catalog/products#update-products-batch) and work with [reviews](/docs/rest-catalog/products/reviews), [images](/docs/rest-catalog/products/images), and [videos](/docs/rest-catalog/products/videos). Note that after a product is created initially, you can manage the nuances of its variations using the [Product Modifier](/docs/rest-catalog/product-modifiers), [Product Variant](/docs/rest-catalog/product-variants), and [Product Variant Options](/docs/rest-catalog/product-variant-options) endpoints. \n\nOther core product endpoints focus on [bulk pricing](/docs/rest-catalog/products/bulk-pricing-rules), [complex rules](/docs/rest-catalog/products/complex-rules), [custom fields](/docs/rest-catalog/products/custom-fields), and [metafields](/docs/rest-catalog/products/metafields). Product Variant objects also contain [their own metafields](/docs/rest-catalog/product-variants/metafields). For [MSF-enabled](/docs/storefront/multi-storefront) stores, the product object also contains product [channel assignments](/docs/rest-catalog/products/channel-assignments) and [category assignments](/docs/rest-catalog/products/category-assignments); read more about [products in the MSF context](/docs/storefront/multi-storefront/guide#products). \n\nThis API family also contains an endpoint to [Get a catalog summary](/docs/rest-catalog/products/summary).\n\n> To learn more about authenticating Catalog endpoints, locate the **Authentication** section at the top of each endpoint, then click **Show Details**. \n\n## Resources\n\n### Webhooks\n* [Product webhook events](/docs/integrations/webhooks/events#products)\n* [Product assignment webhook events](/docs/integrations/webhooks/events/channels#product-assignments) \n\n### Additional Catalog endpoints\n* [Brands](/docs/rest-catalog/brands)\n* [Categories](/docs/rest-catalog/categories)\n* [Category Trees](/docs/rest-catalog/category-trees)\n* [Product Modifiers](/docs/rest-catalog/product-modifiers)\n* [Product Variants](/docs/rest-catalog/product-variants)\n* [Product Variant Options](/docs/rest-catalog/product-variant-options)"
  termsOfService: https://www.bigcommerce.com/terms
  contact:
    name: BigCommerce
    url: https://www.bigcommerce.com
    email: support@bigcommerce.com
  version: ''
servers:
- url: https://api.bigcommerce.com/stores/{store_hash}/v3
  variables:
    store_hash:
      default: store_hash
      description: Permanent ID of the BigCommerce store.
  description: BigCommerce API Gateway
security:
- X-Auth-Token: []
tags:
- name: Summary
paths:
  /catalog/summary:
    parameters:
    - $ref: '#/components/parameters/Accept'
    get:
      tags:
      - Summary
      summary: BigCommerce Get a Catalog Summary
      description: 'Returns a lightweight inventory summary from the BigCommerce Catalog.


        The inventory summary includes:

        * "inventory_count"

        * "variant_count"

        * "inventory_value"

        * "highest_variant_price"

        * "average_variant_price"

        * "lowest_variant_price"

        * "oldest_variant_date"

        * "newest_variant_date"

        * "primary_category_id"

        * "primary_category_name"'
      operationId: getCatalogSummary
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                title: Catalog Summary Response
                type: object
                properties:
                  data:
                    title: Catalog Summary
                    type: object
                    properties:
                      inventory_count:
                        type: integer
                        description: 'A count of all inventory items in the catalog.

                          '
                        example: 2000
                      inventory_value:
                        type: number
                        description: 'Total value of storeʼs inventory.

                          '
                        format: double
                        example: 267000
                      primary_category_id:
                        type: integer
                        description: 'ID of the category containing the most products.

                          '
                        example: 23
                      primary_category_name:
                        type: string
                        description: 'Name of the category containing the most products.

                          '
                        example: Shop All
                      variant_count:
                        type: integer
                        description: Total number of variants
                        example: 46
                      highest_variant_price:
                        type: number
                        description: Highest priced variant
                        format: double
                        example: 249
                      average_variant_price:
                        type: number
                        description: Average price of all variants
                        format: double
                        example: 83.07978261
                      lowest_variant_price:
                        type: string
                        description: Lowest priced variant in the store
                        example: '7'
                      oldest_variant_date:
                        type: string
                        example: '2018-08-15T00:00:00+00:00'
                      newest_variant_date:
                        type: string
                        example: '2018-08-16T00:00:00+00:00'
                    description: Catalog Summary object describes a lightweight summary of the catalog.
                  meta:
                    $ref: '#/components/schemas/metaEmpty_Full'
components:
  parameters:
    Accept:
      name: Accept
      in: header
      required: true
      description: The [MIME type](https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/MIME_types) of the response body.
      schema:
        type: string
        default: application/json
  schemas:
    metaEmpty_Full:
      type: object
      title: Response meta
      properties: {}
      additionalProperties: true
      description: Response metadata.
  securitySchemes:
    X-Auth-Token:
      name: X-Auth-Token
      description: '### OAuth scopes


        | UI Name | Permission | Parameter |

        |:--|:--|:-|

        |  Products | modify | `store_v2_products` |

        |  Products | read-only | `store_v2_products_read_only` |


        ### Authentication header


        | Header | Argument | Description |

        |:-|:|:|

        | `X-Auth-Token` | `access_token` | For more about API accounts that generate `access_token`s, see our [Guide to API Accounts](/docs/start/authentication/api-accounts). |


        ### Further reading


        For example requests and more information about authenticating BigCommerce APIs, see [Authentication and Example Requests](/docs/start/authentication#x-auth-token-header-example-requests).


        For more about BigCommerce OAuth scopes, see our [Guide to API Accounts](/docs/start/authentication/api-accounts#oauth-scopes).


        For a list of API status codes, see [API Status Codes](/docs/start/about/status-codes).'
      type: apiKey
      in: header
