openapi: 3.2.0
info:
  title: BigCommerce Content Pages API
  description: "Manage blog posts, blog tags, content pages, and redirects.\n\n> #### Warning\n> **Deprecations**\n> * Redirects V2 are deprecated; use [Redirects V3](/docs/rest-management/redirects) instead. \n> * Pages V2 are deprecated; use [Pages V3](/docs/rest-content/pages) instead."
  version: ''
  termsOfService: https://www.bigcommerce.com/terms
  contact:
    name: BigCommerce
    url: https://www.bigcommerce.com
    email: support@bigcommerce.com
servers:
- url: https://api.bigcommerce.com/stores/{store_hash}/v2
  variables:
    store_hash:
      default: store_hash
      description: Permanent ID of the BigCommerce store.
  description: BigCommerce API Gateway
security:
- X-Auth-Token: []
tags:
- name: Pages
paths:
  /pages:
    parameters:
    - $ref: '#/components/parameters/Accept'
    get:
      deprecated: true
      tags:
      - Pages
      summary: BigCommerce Get All Pages
      description: 'Returns a list of *Pages*. Default sorting is by auto-generated ID from oldest to newest.


        > #### Warning

        > **Deprecated**

        > * This API operation is deprecated. Avoid using this API operation if possible. It will be removed in a future version.

        > * To get one or more pages, use Pages V3ʼs [Get pages](/docs/rest-content/pages#get-pages) endpoint. To get a single page, use Pages V3ʼs [Get a page](/docs/rest-content/pages#get-a-page) endpoint.

        '
      operationId: getPages
      parameters:
      - name: page
        in: query
        description: Filter param.
        schema:
          type: number
      - name: limit
        in: query
        description: Filter param.
        schema:
          type: number
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/page_Full'
            Example:
              example:
              - id: 6
                parent_id: 5
                type: page
                contact_fields: fullname,companyname,phone,orderno,rma
                email: janedoes@example.com
                name: Contact Form
                url: /contact-us/
                meta_description: ''
                body: We are happy to answer questions or help you with...
                mobile_body: ''
                feed: ''
                link: ''
                has_mobile_version: false
                is_visible: true
                is_homepage: false
                layout_file: page.html
                sort_order: 3
                meta_title: ''
                search_keywords: ''
                meta_keywords: ''
    post:
      deprecated: true
      tags:
      - Pages
      summary: BigCommerce Create a Page
      description: 'Creates a *Page*. The request payload limit is 1MB.


        **Required Fields**

        *   `type`

        *   `name`

        *   `link` (for a page of `type: link`)

        *   `feed` (for a page of `type: rss_feed`)

        *   `body` (for a page of `type: raw`)


        **Read Only Fields**

        *   `id`


        ## Content Type


        The default value for `content_type` is `text/html`; however, if `page_type` is set to `raw`, `content_type` can be changed to `text/javascript` or `application/json`. Updating this field allows you to place a JavaScript or a JSON file in the root directory.


        > #### Warning

        > **Deprecated**

        > * This API operation is deprecated. Avoid using this API operation if possible. It will be removed in a future version.

        > * To create one or more pages, use Pages V3ʼs [Create pages](/docs/rest-content/pages#create-pages) endpoint. '
      operationId: createPage
      parameters:
      - $ref: '#/components/parameters/ContentType'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/page_Base'
            example:
              parent_id: 5
              type: page
              contact_fields: fullname,companyname,phone,orderno,rma
              email: janedoes@example.com
              name: Contact Form
              url: /contact-us/
              meta_description: string
              body: <p>We're happy to answer questions or help you with returns.<br />Please fill out the form below if you need assistance.</p>
              mobile_body: '0'
              has_mobile_version: false
              is_visible: true
              is_homepage: false
              meta_title: string
              layout_file: page.html
              sort_order: 3
              search_keywords: string
              meta_keywords: string
              feed: string
              link: string
              content_type: text/html
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/page_Full'
              example:
                id: 6
                parent_id: 5
                type: page
                contact_fields: fullname,companyname,phone,orderno,rma
                email: janedoes@example.com
                name: Contact Form
                url: /contact-us/
                meta_description: ''
                body: We're happy to answer questions or help you with returns.<br />Please fill out the form below if you need assistance.
                mobile_body: ''
                has_mobile_version: false
                feed: ''
                link: ''
                is_visible: true
                is_homepage: false
                layout_file: page.html
                sort_order: 3
                meta_title: ''
                search_keywords: ''
                meta_keywords: ''
        '207':
          description: Multiple operations have taken place and the status for each operation can be viewed in the body of the response. Typically indicates that a partial failure has occurred, such as when a `POST` or `PUT` request is successful, but saving the URL has failed.
          content:
            application/json:
              schema:
                type: object
  /pages/{id}:
    parameters:
    - $ref: '#/components/parameters/Accept'
    - name: id
      in: path
      description: ID of the page.
      required: true
      schema:
        type: integer
    get:
      deprecated: true
      tags:
      - Pages
      summary: BigCommerce Get A Page
      description: "Returns a *Page*. \n\n> #### Warning\n> **Deprecated**\n> * This API operation is deprecated. Avoid using this API operation if possible. It will be removed in a future version.\n> * To get a single page, use Pages V3ʼs [Get a page](/docs/rest-content/pages#get-a-page) endpoint.\n"
      operationId: getPage
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/page_Full'
              example:
                id: 1
                name: RSS Syndication
                meta_title: ''
                body: '%%Syndicate%%'
                is_visible: true
                parent_id: 0
                sort_order: 5
                meta_keywords: '0'
                type: page
                meta_description: ''
                is_homepage: false
                layout_file: ''
                is_customers_only: false
                search_keywords: '0'
                has_mobile_version: false
                feed: ''
                link: ''
                mobile_body: '0'
                url: /rss-syndication/
    put:
      deprecated: true
      tags:
      - Pages
      summary: BigCommerce Update a Page
      description: 'Updates a *Page*. The request payload limit is 1MB.


        **Read Only Fields**

        * id


        > #### Warning

        > **Deprecated**

        > * This API operation is deprecated. Avoid using this API operation if possible. It will be removed in a future version.

        > * To update multiple pages, use Pages V3ʼs [Update pages](/docs/rest-content/pages#update-pages) endpoint. To update a single page, use Pages V3ʼs [Update a page](/docs/rest-content/pages#update-a-page) endpoint.'
      operationId: updatePage
      parameters:
      - $ref: '#/components/parameters/ContentType'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/page_Full'
        required: false
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/page_Full'
              example:
                id: 2
                name: Shipping & Returns
                meta_title: ''
                body: '<em>To edit this page simply login to the control panel, click the <strong style=''font-weight: 400''>Website Content</strong> tab and choose the </em> <strong style=''font-weight: 400''><em>View Web Pages option. Click Edit next to the Shipping & Returns page and you can change this text. A sample returns policy is shown below which you can edit as needed.</em><em style=''font-style: normal''><br/><br/></em></strong><em style=''font-style: normal''><strong>Returns Policy</strong></em><strong style=''font-weight: 400''></em></em><em style=''font-style: normal''><br/><br/></em>You may return most new, unopened items within 30 days of delivery for a full refund. We''ll also pay the return shipping costs if the return is a result of our error (you received an incorrect or defective item, etc.).<br/><br/>You should expect to receive your refund within four weeks of giving your package to the return shipper, however, in many cases you will receive a refund more quickly. This time period includes the transit time for us to receive your return from the shipper (5 to 10 business days), the time it takes us to process your return once we receive it (3 to 5 business days), and the time it takes your bank to process our refund request (5 to 10 business days).<br/><br/>If you need to return an item, please <a href=''/contact-us/''>Contact Us</a> with your order number and details about the product you would like to return. We will respond quickly with instructions for how to return items from your order.<br/><br/></strong><strong>Shipping</em></em></em></strong><strong style=''font-weight: 400''><em style=''font-style: normal''><br/><br/></em>We can ship to virtually any address in the world. Note that there are restrictions on some products, and some products cannot be shipped to international destinations.<br/><br/>When you place an order, we will estimate shipping and delivery dates for you based on the availability of your items and the shipping options you choose. Depending on the shipping provider you choose, shipping date estimates may appear on the shipping quotes page.<br/><br/>Please also note that the shipping rates for many items we sell are weight-based. The weight of any such item can be found on its detail page. To reflect the policies of the shipping companies we use, all weights will be rounded up to the next full pound.<br/>'
                is_visible: true
                parent_id: 0
                sort_order: 2
                meta_keywords: ''
                type: page
                meta_description: ''
                is_homepage: false
                layout_file: page.html
                is_customers_only: false
                search_keywords: ''
                has_mobile_version: false
                feed: ''
                link: ''
                mobile_body: ''
                url: /shipping-returns/
        '207':
          description: Multiple operations have taken place and the status for each operation can be viewed in the body of the response. Typically indicates that a partial failure has occurred, such as when a `POST` or `PUT` request is successful, but saving the URL has failed.
          content:
            application/json:
              schema:
                type: object
    delete:
      deprecated: true
      tags:
      - Pages
      summary: BigCommerce Delete a Page
      description: "Deletes a *Page*.\n\n> #### Warning\n> **Deprecated**\n> * This API operation is deprecated. Avoid using this API operation if possible. It will be removed in a future version.\n> * To delete multiple pages, use Pages V3ʼs [Delete pages](/docs/rest-content/pages#delete-pages) endpoint. To delete a single page, use Pages V3ʼs [Delete a page](/docs/rest-content/pages#delete-a-page) endpoint. \n"
      operationId: deletePage
      responses:
        '204':
          description: ''
          content: {}
components:
  parameters:
    Accept:
      name: Accept
      in: header
      required: true
      description: The [MIME type](https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/MIME_types) of the response body.
      schema:
        type: string
        default: application/json
    ContentType:
      name: Content-Type
      in: header
      required: true
      description: The [MIME type](https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/MIME_types) of the request body.
      schema:
        type: string
        default: application/json
  schemas:
    page_Base_Res:
      title: page_Base_Res
      type: object
      x-internal: false
      properties:
        parent_id:
          type: integer
          description: ID of any parent Web page.
          example: 5
        type:
          type: string
          description: '`page`: free-text page

            `link`: link to another web address

            `rss_feed`: syndicated content from an RSS feed

            `contact_form`: When the store’s contact form is used

            '
          enum:
          - page
          - rss_feed
          - contact_form
          - raw
          - link
        contact_fields:
          type: string
          description: 'Where the page’s type is a contact form: object whose members are the fields enabled (in the control panel) for storefront display. Possible members are:`fullname`: full name of the customer submitting the form; `phone`: customer’s phone number, as submitted on the form; `companyname`: customer’s submitted company name; `orderno`: customer’s submitted order number; `rma`: customer’s submitted RMA (Return Merchandise Authorization) number.'
          example: fullname,companyname,phone,orderno,rma
        email:
          type: string
          description: Where the page’s type is a contact form, the email address that receives messages sent using the form.
          example: janedoes@example.com
        name:
          type: string
          description: Page name, as displayed on the storefront.
          example: Contact Form
        url:
          type: string
          description: Relative URL on the storefront for this page.
          example: /contact-us/
        meta_description:
          type: string
          description: Description contained within this page’s `<meta/>` element.
        body:
          type: string
          description: HTML or variable that populates this page’s `<body>` element, in default/desktop view. Required in POST if page type is `raw`.
          example: <p>We're happy to answer questions or help you with returns.<br />Please fill out the form below if you need assistance.</p>
        mobile_body:
          type: string
          description: HTML to use for this page’s body when viewed in the mobile template (deprecated).
          example: '0'
        has_mobile_version:
          type: boolean
          description: If true, this page has a mobile version.
          example: false
        is_visible:
          type: boolean
          description: If true, this page appears in the storefront’s navigation menu.
          example: true
        is_homepage:
          type: boolean
          description: If true, this page is the storefront’s home page.
          example: false
        meta_title:
          type: string
          description: Text specified for this page’s `<title>` element. If empty, the value of the name property is used.
        layout_file:
          type: string
          description: Layout template for this page. This field is writable only for stores with a Blueprint theme applied.
          example: page.html
        sort_order:
          type: integer
          description: Order in which this page should display on the storefront. (Lower integers specify earlier display.)
          example: 3
        search_keywords:
          type: string
          description: Comma-separated list of keywords that shoppers can use to locate this page when searching the store.
        meta_keywords:
          type: string
          description: Comma-separated list of SEO-relevant keywords to include in the page’s `<meta/>` element.
        feed:
          type: string
          description: If page type is `rss_feed` then this field is visible.
        link:
          type: string
          description: If page type is `link` this field is returned.
        content_type:
          type: string
          example: text/html
          enum:
          - application/json
          - text/javascript
          - text/html
    page_Base:
      title: page_Base
      type: object
      x-internal: false
      properties:
        parent_id:
          type: integer
          description: ID of any parent Web page.
          example: 5
        type:
          type: string
          description: '`page`: free-text page

            `link`: link to another web address

            `rss_feed`: syndicated content from an RSS feed

            `contact_form`: When the store’s contact form is used

            '
          enum:
          - page
          - rss_feed
          - contact_form
          - raw
          - link
        contact_fields:
          type: string
          description: 'Where the page’s type is a contact form: object whose members are the fields enabled (in the control panel) for storefront display. Possible members are:`fullname`: full name of the customer submitting the form; `phone`: customer’s phone number, as submitted on the form; `companyname`: customer’s submitted company name; `orderno`: customer’s submitted order number; `rma`: customer’s submitted RMA (Return Merchandise Authorization) number.'
          example: fullname,companyname,phone,orderno,rma
        email:
          type: string
          description: Where the page’s type is a contact form, the email address that receives messages sent using the form.
          example: janedoes@example.com
        name:
          type: string
          description: Page name, as displayed on the storefront.
          example: Contact Form
        url:
          type: string
          description: Relative URL on the storefront for this page.
          example: /contact-us/
        meta_description:
          type: string
          description: Description contained within this page’s `<meta/>` element.
        body:
          type: string
          description: HTML or variable that populates this page’s `<body>` element, in default/desktop view. Required in POST if page type is `raw`.
          example: <p>We're happy to answer questions or help you with returns.<br />Please fill out the form below if you need assistance.</p>
        mobile_body:
          type: string
          description: HTML to use for this page’s body when viewed in the mobile template (deprecated).
          example: '0'
        has_mobile_version:
          type: boolean
          description: If true, this page has a mobile version.
          example: false
        is_visible:
          type: boolean
          description: If true, this page appears in the storefront’s navigation menu.
          example: true
        is_homepage:
          type: boolean
          description: If true, this page is the storefront’s home page.
          example: false
        meta_title:
          type: string
          description: Text specified for this page’s `<title>` element. If empty, the value of the name property is used.
        layout_file:
          type: string
          description: Layout template for this page. This field is writable only for stores with a Blueprint theme applied.
          example: page.html
        sort_order:
          type: integer
          description: Order in which this page should display on the storefront. (Lower integers specify earlier display.)
          example: 3
        search_keywords:
          type: string
          description: Comma-separated list of keywords that shoppers can use to locate this page when searching the store.
        meta_keywords:
          type: string
          description: Comma-separated list of SEO-relevant keywords to include in the page’s `<meta/>` element.
        feed:
          type: string
          description: If page type is `rss_feed` then this field is visible. Required in POST required for `rss page` type.
        link:
          type: string
          description: If page type is `link` this field is returned. Required in  POST to create a `link` page.
        content_type:
          type: string
          example: text/html
          enum:
          - application/json
          - text/javascript
          - text/html
      required:
      - type
      - name
      - body
    page_Full:
      title: page_Full
      allOf:
      - type: object
        properties:
          id:
            type: integer
            description: ID of the page. Read-Only.
            example: 44
            readOnly: true
      - $ref: '#/components/schemas/page_Base_Res'
      x-internal: false
  securitySchemes:
    X-Auth-Token:
      name: X-Auth-Token
      description: '### OAuth scopes


        | UI Name | Permission | Parameter |

        |:--|:--|:-|

        |  Content | modify | `store_v2_content` |

        |  Content | read-only | `store_v2_content_read_only` |


        ### Authentication header


        | Header | Argument | Description |

        |:-|:|:|

        | `X-Auth-Token` | `access_token` | For more about API accounts that generate `access_token`s, see our [Guide to API Accounts](/docs/start/authentication/api-accounts). |


        ### Further reading


        For example requests and more information about authenticating BigCommerce APIs, see [Authentication and Example Requests](/docs/start/authentication#x-auth-token-header-example-requests).


        For more about BigCommerce OAuth scopes, see our [Guide to API Accounts](/docs/start/authentication/api-accounts#oauth-scopes).


        For a list of API status codes, see [API Status Codes](/docs/start/about/status-codes).'
      type: apiKey
      in: header
