openapi: 3.0.0
info:
  title: BigCommerce Abandoned Cart Emails Units of Measurement API
  version: 3.0.0
  termsOfService: https://www.bigcommerce.com/terms
  description: Abandoned Cart Emails V3 API managing Handlebars-based emails.
  contact:
    name: BigCommerce
    url: https://www.bigcommerce.com
    email: support@bigcommerce.com
servers:
- url: https://api.bigcommerce.com/stores/{store_hash}/v3
  variables:
    store_hash:
      default: store_hash
      description: Permanent ID of the BigCommerce store.
  description: BigCommerce API Gateway
security:
- X-Auth-Token: []
tags:
- name: Units of Measurement
paths:
  /settings/store/units-of-measurement:
    get:
      summary: BigCommerce Get Units of Measurement Settings
      operationId: getSettingsMeasurementUnits
      description: Get settings for [units of measurements](https://support.bigcommerce.com/s/article/Store-Settings?language=en_US#physical).
      tags:
      - Units of Measurement
      responses:
        '200':
          description: OK. When you request channel-level settings, `null` indicates that a channel does not have overrides.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/MeasurementUnitsSettings'
                  meta:
                    type: object
        '422':
          description: The provided settings could not be applied. See detailed errors in the response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      parameters:
      - $ref: '#/components/parameters/ChannelIdParam'
    put:
      summary: BigCommerce Update Units of Measurement Settings
      operationId: updateSettingsMeasurementUnits
      description: "Update settings for [units of measurements](https://support.bigcommerce.com/s/article/Store-Settings?language=en_US#physical).\n\nThe endpoint does not support partial updates. Provide all fields to update global or channel-level settings.\n\nCreate channel-level settings, or overrides for a channel, using the `channel_id`  query parameter. \n\nTo delete overrides for a channel, supply `null` as a value for all fields. A channel then inherits global values.\n\nThe endpoint does not support 'null' as a value for global-level settings."
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeasurementUnitsSettings'
      responses:
        '200':
          description: OK. When you request channel-level settings, `null` indicates that a channel does not have overrides.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/MeasurementUnitsSettings'
                  meta:
                    type: object
      parameters:
      - $ref: '#/components/parameters/ChannelIdParam'
      tags:
      - Units of Measurement
components:
  schemas:
    BaseError:
      description: 'Error payload for the BigCommerce API.

        '
      type: object
      properties:
        instance:
          type: string
        status:
          description: 'The HTTP status code.

            '
          type: integer
        title:
          description: 'The error title describing the particular error.

            '
          type: string
        type:
          type: string
      x-internal: false
    DetailedErrors:
      type: object
      properties: {}
      additionalProperties: true
      title: Detailed Errors
      x-internal: false
    ErrorResponse:
      allOf:
      - $ref: '#/components/schemas/BaseError'
      - properties:
          errors:
            $ref: '#/components/schemas/DetailedErrors'
        type: object
      x-internal: false
    MeasurementUnitsSettings:
      type: object
      properties:
        weight_measurement:
          type: string
          example: Ounces
          enum:
          - LBS
          - Ounces
          - KGS
          - Grams
          - Tonnes
        length_measurement:
          type: string
          example: Inches
          enum:
          - Inches
          - Centimeters
        decimal_token:
          type: string
          example: .
        thousands_token:
          type: string
          example: ','
        decimal_places:
          type: integer
          example: 2
        factoring_dimension:
          type: string
          example: depth
          enum:
          - depth
          - height
          - width
  parameters:
    ChannelIdParam:
      description: Channel ID to use for channel-specific setting. If omitted, you will interact with the global setting only.
      in: query
      name: channel_id
      schema:
        type: integer
  securitySchemes:
    X-Auth-Token:
      name: X-Auth-Token
      description: '### OAuth scopes


        | UI Name | Permission | Parameter |

        |:--|:--|:-|

        | Information & Settings  | read-only  | `store_v2_information_read_only`|

        | Information & Settings  | modify     | `store_v2_information`          |


        ### Authentication header


        | Header | Argument | Description |

        |:-|:|:|

        | `X-Auth-Token` | `access_token` | For more about API accounts that generate `access_token`s, see our [Guide to API Accounts](/docs/start/authentication/api-accounts). |


        ### Further reading


        For example requests and more information about authenticating BigCommerce APIs, see [Authentication and Example Requests](/docs/start/authentication#x-auth-token-header-example-requests).


        For more about BigCommerce OAuth scopes, see our [Guide to API Accounts](/docs/start/authentication/api-accounts#oauth-scopes).


        For a list of API status codes, see [API Status Codes](/docs/start/about/status-codes).'
      type: apiKey
      in: header
