openapi: 3.0.0
info:
  title: BigCommerce Abandoned Cart Emails Batch Metafields API
  version: 3.0.0
  termsOfService: https://www.bigcommerce.com/terms
  description: Abandoned Cart Emails V3 API managing Handlebars-based emails.
  contact:
    name: BigCommerce
    url: https://www.bigcommerce.com
    email: support@bigcommerce.com
servers:
- url: https://api.bigcommerce.com/stores/{store_hash}/v3
  variables:
    store_hash:
      default: store_hash
      description: Permanent ID of the BigCommerce store.
  description: BigCommerce API Gateway
security:
- X-Auth-Token: []
tags:
- name: Batch Metafields
paths:
  /carts/metafields:
    get:
      summary: BigCommerce Get All Cart Metafields
      tags:
      - Batch Metafields
      description: Get all cart metafields.
      operationId: getCartsMetafields
      responses:
        '200':
          description: 'List of `Metafield` objects.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetaFieldCollectionResponse_Batch'
        '500':
          description: Internal Server Error
      parameters:
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/LimitParam'
      - $ref: '#/components/parameters/MetafieldKeyParam'
      - $ref: '#/components/parameters/MetafieldKeyInParam'
      - $ref: '#/components/parameters/MetafieldNamespaceParam'
      - $ref: '#/components/parameters/MetafieldNamespaceInParam'
      - $ref: '#/components/parameters/DirectionParam'
    post:
      summary: BigCommerce Create multiple Metafields
      tags:
      - Batch Metafields
      description: Create multiple metafields.
      operationId: createCartsMetafields
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                allOf:
                - $ref: '#/components/schemas/MetafieldBase_Post'
                - type: object
                  properties:
                    resource_id:
                      type: string
                      example: '42'
                      description: 'The ID for the cart with which the metafield is associated.

                        '
                  required:
                  - resource_id
        description: ''
      responses:
        '200':
          description: 'List of created `Metafield` objects.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetaFieldCollectionResponse_Batch_POST_PUT'
        '422':
          description: 'Response object for metafields creation with partial success.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetaFieldCollectionResponsePartialSuccess_POST_PUT'
        '500':
          description: Internal Server Error
    put:
      summary: BigCommerce Update multiple Metafields
      tags:
      - Batch Metafields
      description: Create multiple metafields.
      operationId: updateCartsMetafields
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                allOf:
                - $ref: '#/components/schemas/MetafieldBase_Post'
                - type: object
                  properties:
                    id:
                      type: string
                      example: '42'
                      description: 'The ID of metafield to update.

                        '
                  required:
                  - id
        description: ''
      responses:
        '200':
          description: 'List of updated `Metafield` objects.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetaFieldCollectionResponse_Batch_POST_PUT'
        '422':
          description: 'Response object for metafields creation with partial success.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetaFieldCollectionResponsePartialSuccess_POST_PUT'
        '500':
          description: Internal Server Error
    delete:
      summary: BigCommerce Delete All Metafields
      tags:
      - Batch Metafields
      description: Delete all cart metafields.
      operationId: deleteCartsMetafields
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: integer
        description: List of metafield `id`s.
      responses:
        '200':
          description: 'Response object for metafields deletion with success.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetaFieldCollectionDeleteResponseSuccess'
        '422':
          description: 'Response object for metafields deletion with partial success.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetaFieldCollectionResponsePartialSuccess_DELETE'
  /catalog/brands/metafields:
    get:
      summary: BigCommerce Get All Brand Metafields
      tags:
      - Batch Metafields
      description: Get all brand metafields.
      operationId: getBrandsMetafields
      responses:
        '200':
          description: 'List of `Metafield` objects.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetaFieldCollectionResponse'
        '500':
          description: Internal Server Error
      parameters:
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/LimitParam'
      - $ref: '#/components/parameters/MetafieldKeyParam'
      - $ref: '#/components/parameters/MetafieldKeyInParam'
      - $ref: '#/components/parameters/MetafieldNamespaceParam'
      - $ref: '#/components/parameters/MetafieldNamespaceInParam_2'
      - $ref: '#/components/parameters/DirectionParam'
    post:
      summary: BigCommerce Create multiple Metafields
      tags:
      - Batch Metafields
      description: Create multiple metafields.
      operationId: createBrandsMetafields
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                allOf:
                - $ref: '#/components/schemas/MetafieldBase_Post'
                - type: object
                  properties:
                    resource_id:
                      type: integer
                      example: 42
                      description: 'The ID for the brand with which the metafield is associated.

                        '
                  required:
                  - resource_id
        description: ''
      responses:
        '200':
          description: 'List of created `Metafield` objects.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetaFieldCollectionResponse_POST_PUT'
        '422':
          description: 'Response object for metafields creation with partial success.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetaFieldCollectionResponsePartialSuccess_POST_PUT'
        '500':
          description: Internal Server Error
    put:
      summary: BigCommerce Update multiple Metafields
      tags:
      - Batch Metafields
      description: Create multiple metafields.
      operationId: updateBrandsMetafields
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                allOf:
                - $ref: '#/components/schemas/MetafieldBase_Put'
                - type: object
                  properties:
                    id:
                      type: integer
                      example: 42
                      description: 'The ID of metafield to update.

                        '
                  required:
                  - id
        description: ''
      responses:
        '200':
          description: 'List of updated `Metafield` objects.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetaFieldCollectionResponse_POST_PUT'
        '422':
          description: 'Response object for metafields creation with partial success.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetaFieldCollectionResponsePartialSuccess_POST_PUT'
        '500':
          description: Internal Server Error
    delete:
      summary: BigCommerce Delete All Metafields
      tags:
      - Batch Metafields
      description: Delete all brand metafields.
      operationId: deleteBrandsMetafields
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: integer
        description: List of metafield IDs.
      responses:
        '200':
          description: 'Response object for metafields deletion with success.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetaFieldCollectionDeleteResponseSuccess'
        '422':
          description: 'Response object for metafields deletion with partial success.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetaFieldCollectionResponsePartialSuccess_DELETE'
  /catalog/categories/metafields:
    get:
      summary: BigCommerce Get All Category Metafields
      tags:
      - Batch Metafields
      description: Get all category metafields.
      operationId: getCategoriesMetafields
      responses:
        '200':
          description: 'List of `Metafield` objects.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetaFieldCollectionResponse_2'
        '500':
          description: Internal Server Error
      parameters:
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/LimitParam'
      - $ref: '#/components/parameters/MetafieldKeyParam'
      - $ref: '#/components/parameters/MetafieldKeyInParam'
      - $ref: '#/components/parameters/MetafieldNamespaceParam'
      - $ref: '#/components/parameters/MetafieldNamespaceInParam_3'
      - $ref: '#/components/parameters/DirectionParam'
    post:
      summary: BigCommerce Create multiple Metafields
      tags:
      - Batch Metafields
      description: Create multiple metafields.
      operationId: createCategoriesMetafields
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                allOf:
                - $ref: '#/components/schemas/MetafieldBase_Post'
                - type: object
                  properties:
                    resource_id:
                      type: integer
                      example: 42
                      description: 'The ID for the category with which the metafield is associated.

                        '
                  required:
                  - resource_id
        description: ''
      responses:
        '200':
          description: "List of created `Metafield` objects.  \n"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetaFieldCollectionResponse_POST_PUT_2'
        '422':
          description: 'Response object for metafields creation with partial success.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetaFieldCollectionResponsePartialSuccess_POST_PUT'
        '500':
          description: Internal Server Error
    put:
      summary: BigCommerce Update multiple Metafields
      tags:
      - Batch Metafields
      description: Create multiple metafields.
      operationId: updateCategoriesMetafields
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                allOf:
                - $ref: '#/components/schemas/MetafieldBase_Put'
                - type: object
                  properties:
                    id:
                      type: integer
                      example: 42
                      description: 'The ID of metafield to update.

                        '
                  required:
                  - id
        description: ''
      responses:
        '200':
          description: 'List of updated `Metafield` objects.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetaFieldCollectionResponse_POST_PUT_2'
        '422':
          description: 'Response object for metafields creation with partial success.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetaFieldCollectionResponsePartialSuccess_POST_PUT'
        '500':
          description: Internal Server Error
    delete:
      summary: BigCommerce Delete All Metafields
      tags:
      - Batch Metafields
      description: Delete all category metafields.
      operationId: deleteCategoriesMetafields
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: integer
        description: List of metafield IDs.
      responses:
        '200':
          description: 'Response object for metafields deletion with success.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetaFieldCollectionDeleteResponseSuccess'
        '422':
          description: 'Response object for metafields deletion with partial success.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetaFieldCollectionResponsePartialSuccess_DELETE'
  /catalog/variants/metafields:
    get:
      summary: BigCommerce Get All Product Variant Metafields
      tags:
      - Batch Metafields
      description: Get all variant metafields.
      operationId: getVariantsMetafields
      responses:
        '200':
          description: 'List of `Metafield` objects.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetaFieldCollectionResponse_3'
        '500':
          description: Internal Server Error
      parameters:
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/LimitParam'
      - $ref: '#/components/parameters/MetafieldKeyParam'
      - $ref: '#/components/parameters/MetafieldKeyInParam'
      - $ref: '#/components/parameters/MetafieldNamespaceParam'
      - $ref: '#/components/parameters/MetafieldNamespaceInParam_4'
      - $ref: '#/components/parameters/DirectionParam'
    post:
      summary: BigCommerce Create multiple Metafields
      tags:
      - Batch Metafields
      description: Create multiple metafields.
      operationId: createVariantsMetafields
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                allOf:
                - $ref: '#/components/schemas/MetafieldBase_Post'
                - type: object
                  properties:
                    resource_id:
                      type: integer
                      example: 42
                      description: 'The ID for the product variant with which the metafield is associated.

                        '
                  required:
                  - resource_id
        description: ''
      responses:
        '200':
          description: 'List of created `Metafield` objects.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetaFieldCollectionResponse_POST_PUT_3'
        '422':
          description: 'Response object for metafields creation with partial success.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetaFieldCollectionResponsePartialSuccess_POST_PUT'
        '500':
          description: Internal Server Error
    put:
      summary: BigCommerce Update multiple Metafields
      tags:
      - Batch Metafields
      description: Create multiple metafields.
      operationId: updateVariantsMetafields
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                allOf:
                - $ref: '#/components/schemas/MetafieldBase_Put'
                - type: object
                  properties:
                    id:
                      type: integer
                      example: 42
                      description: 'The ID of metafield to update.

                        '
                  required:
                  - id
        description: ''
      responses:
        '200':
          description: 'List of updated `Metafield` objects.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetaFieldCollectionResponse_POST_PUT_3'
        '422':
          description: 'Response object for metafields creation with partial success.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetaFieldCollectionResponsePartialSuccess_POST_PUT'
        '500':
          description: Internal Server Error
    delete:
      summary: BigCommerce Delete All Metafields
      tags:
      - Batch Metafields
      description: Delete all variant metafields.
      operationId: deleteVariantsMetafields
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: integer
        description: List of metafield IDs.
      responses:
        '200':
          description: 'Response object for metafields deletion with success.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetaFieldCollectionDeleteResponseSuccess'
        '422':
          description: 'Response object for metafields deletion with partial success.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetaFieldCollectionResponsePartialSuccess_DELETE'
  /catalog/products/metafields:
    get:
      summary: BigCommerce Get All Product Metafields
      tags:
      - Batch Metafields
      description: Get all product metafields.
      operationId: getProductsMetafields
      responses:
        '200':
          description: 'List of `Metafield` objects.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetaFieldCollectionResponse_4'
        '500':
          description: Internal Server Error
      parameters:
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/LimitParam'
      - $ref: '#/components/parameters/MetafieldKeyParam'
      - $ref: '#/components/parameters/MetafieldKeyInParam'
      - $ref: '#/components/parameters/MetafieldNamespaceParam'
      - $ref: '#/components/parameters/MetafieldNamespaceInParam_5'
      - $ref: '#/components/parameters/DirectionParam'
    post:
      summary: BigCommerce Create multiple Metafields
      tags:
      - Batch Metafields
      description: Create multiple metafields.
      operationId: createProductsMetafields
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                allOf:
                - $ref: '#/components/schemas/MetafieldBase_Post'
                - type: object
                  properties:
                    resource_id:
                      type: integer
                      example: 42
                      description: 'The ID for the product with which the metafield is associated.

                        '
                  required:
                  - resource_id
        description: ''
      responses:
        '200':
          description: "List of created `Metafield` objects.  \n"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetaFieldCollectionResponse_POST_PUT_4'
        '422':
          description: 'Response object for metafields creation with partial success.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetaFieldCollectionResponsePartialSuccess_POST_PUT'
        '500':
          description: Internal Server Error
    put:
      summary: BigCommerce Update multiple Metafields
      tags:
      - Batch Metafields
      description: Update multiple metafields.
      operationId: updateProductsMetafields
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                allOf:
                - $ref: '#/components/schemas/MetafieldBase_Put'
                - type: object
                  properties:
                    id:
                      type: integer
                      example: 42
                      description: 'The ID of metafield to update.

                        '
                  required:
                  - id
        description: ''
      responses:
        '200':
          description: 'List of updated `Metafield` objects.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetaFieldCollectionResponse_POST_PUT_4'
        '422':
          description: 'Response object for metafields creation with partial success.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetaFieldCollectionResponsePartialSuccess_POST_PUT'
        '500':
          description: Internal Server Error
    delete:
      summary: BigCommerce Delete All Metafields
      tags:
      - Batch Metafields
      description: Delete all product metafields.
      operationId: deleteProductsMetafields
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: integer
        description: List of metafield IDs.
      responses:
        '200':
          description: 'Response object for metafields deletion with success.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetaFieldCollectionDeleteResponseSuccess'
        '422':
          description: 'Response object for metafields deletion with partial success.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetaFieldCollectionResponsePartialSuccess_DELETE'
  /channels/metafields:
    get:
      summary: BigCommerce Get All Channel Metafields
      tags:
      - Batch Metafields
      description: Get all channel metafields.
      operationId: getChannelsMetafields
      responses:
        '200':
          description: 'List of `Metafield` objects.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetaFieldCollectionResponse_5'
        '500':
          description: Internal Server Error
      parameters:
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/LimitParam'
      - $ref: '#/components/parameters/MetafieldKeyParam_2'
      - $ref: '#/components/parameters/MetafieldKeyInParam'
      - $ref: '#/components/parameters/MetafieldNamespaceParam_2'
      - $ref: '#/components/parameters/MetafieldNamespaceInParam_6'
      - $ref: '#/components/parameters/DirectionParam_2'
    post:
      summary: BigCommerce Create multiple Metafields
      tags:
      - Batch Metafields
      description: Create multiple metafields.
      operationId: createChannelsMetafields
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/MetafieldPost'
        description: ''
      responses:
        '200':
          description: "List of created `Metafield` objects.  \n"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetaFieldCollectionResponse_POST_PUT_5'
        '422':
          description: 'Response object for metafields creation with partial success.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetaFieldCollectionResponsePartialSuccess_POST_PUT'
        '500':
          description: Internal Server Error
    put:
      summary: BigCommerce Update multiple Metafields
      tags:
      - Batch Metafields
      description: Update multiple metafields.
      operationId: updateChannelsMetafields
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/MetafieldPut'
        description: ''
      responses:
        '200':
          description: 'List of updated `Metafield` objects.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetaFieldCollectionResponse_POST_PUT_5'
        '422':
          description: 'Response object for metafields creation with partial success.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetaFieldCollectionResponsePartialSuccess_POST_PUT'
        '500':
          description: Internal Server Error
    delete:
      summary: BigCommerce Delete All Metafields
      tags:
      - Batch Metafields
      description: Delete all channel metafields.
      operationId: deleteChannelsMetafields
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: integer
        description: List of metafield IDs.
      responses:
        '200':
          description: 'Response object for metafields deletion with success.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetaFieldCollectionDeleteResponseSuccess'
        '422':
          description: 'Response object for metafields deletion with partial success.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetaFieldCollectionResponsePartialSuccess_DELETE'
  /orders/metafields:
    get:
      summary: BigCommerce Get All Order Metafields
      tags:
      - Batch Metafields
      description: Get all order metafields.
      operationId: getOrdersMetafields
      responses:
        '200':
          description: 'List of `Metafield` objects.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetaFieldCollectionResponse_6'
        '500':
          description: Internal Server Error
      parameters:
      - $ref: '#/components/parameters/PageParam'
      - $ref: '#/components/parameters/LimitParam'
      - $ref: '#/components/parameters/MetafieldKeyParam_3'
      - $ref: '#/components/parameters/MetafieldKeyInParam'
      - $ref: '#/components/parameters/MetafieldNamespaceParam_3'
      - $ref: '#/components/parameters/MetafieldNamespaceInParam_7'
      - $ref: '#/components/parameters/DirectionParam'
    post:
      summary: BigCommerce Create multiple Metafields
      tags:
      - Batch Metafields
      description: Create multiple metafields.
      operationId: createOrdersMetafields
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                allOf:
                - $ref: '#/components/schemas/MetafieldBase_Post_2'
                - type: object
                  properties:
                    resource_id:
                      type: integer
                      example: 42
                      description: 'The ID for the order with which the metafield is associated.

                        '
                  required:
                  - resource_id
        description: ''
      responses:
        '200':
          description: 'List of created `Metafield` objects.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetaFieldCollectionResponse_POST_PUT_6'
        '422':
          description: 'Response object for metafields creation with partial success.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetaFieldCollectionResponsePartialSuccess_POST_PUT'
        '500':
          description: Internal Server Error
    put:
      summary: BigCommerce Update multiple Metafields
      tags:
      - Batch Metafields
      description: Create multiple metafields.
      operationId: updateOrdersMetafields
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                allOf:
                - $ref: '#/components/schemas/MetafieldBase_Post_2'
                - type: object
                  properties:
                    id:
                      type: integer
                      example: 42
                      description: 'The ID of metafield to update.

                        '
                  required:
                  - id
        description: ''
      responses:
        '200':
          description: 'List of updated `Metafield` objects.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetaFieldCollectionResponse_POST_PUT_6'
        '422':
          description: 'Response object for metafields creation with partial success.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetaFieldCollectionResponsePartialSuccess_POST_PUT'
        '500':
          description: Internal Server Error
    delete:
      summary: BigCommerce Delete All Metafields
      tags:
      - Batch Metafields
      description: Delete all order metafields.
      operationId: deleteOrdersMetafields
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: integer
        description: List of metafield IDs.
      responses:
        '200':
          description: 'Response object for metafields deletion with success.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetaFieldCollectionDeleteResponseSuccess'
        '422':
          description: 'Response object for metafields deletion with partial success.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetaFieldCollectionResponsePartialSuccess_DELETE'
components:
  parameters:
    MetafieldNamespaceParam_2:
      name: namespace
      in: query
      description: Filter based on a metafieldʼs namespace.
      required: false
      schema:
        type: string
    MetafieldNamespaceParam_3:
      name: namespace
      in: query
      description: 'Filter based on a metafieldʼs key.

        '
      required: false
      schema:
        type: string
    MetafieldNamespaceInParam:
      name: namespace:in
      in: query
      description: Filter based on comma-separated metafieldʼs namespaces. Could be used with vanilla `namespace` query parameter
      required: false
      style: form
      explode: false
      schema:
        type: array
        items:
          type: string
    MetafieldNamespaceInParam_7:
      name: namespace:in
      in: query
      description: Filter based on comma-separated metafieldʼs namespaces. Could be used with vanilla `namespace` query parameter.
      required: false
      style: form
      explode: false
      schema:
        type: array
        items:
          type: string
    MetafieldNamespaceParam:
      name: namespace
      in: query
      description: Filter based on a metafieldʼs namespaces.
      required: false
      schema:
        type: string
    DirectionParam:
      name: direction
      description: 'Sort direction. Acceptable values are: `asc`, `desc`.

        '
      required: false
      in: query
      schema:
        type: string
        enum:
        - asc
        - desc
    MetafieldNamespaceInParam_5:
      name: namespace:in
      in: query
      description: Filter based on comma-separated metafieldʼs namespaces. Could be used with vanilla `namespace` query parameter.
      required: false
      style: form
      explode: false
      schema:
        type: array
        items:
          type: string
    MetafieldNamespaceInParam_3:
      name: namespace:in
      in: query
      description: Filter based on comma-separated metafieldʼs namespaces. Could be used with vanilla `namespace` query parameter.
      required: false
      style: form
      explode: false
      schema:
        type: array
        items:
          type: string
    MetafieldNamespaceInParam_2:
      name: namespace:in
      in: query
      description: Filter based on comma-separated metafieldʼs namespaces. Could be used with vanilla `namespace` query parameter.
      required: false
      style: form
      explode: false
      schema:
        type: array
        items:
          type: string
    DirectionParam_2:
      name: direction
      description: 'Sort direction. Acceptable values are: `asc`, `desc`.'
      required: false
      in: query
      schema:
        type: string
        enum:
        - asc
        - desc
    MetafieldKeyInParam:
      name: key:in
      in: query
      description: Filter based on comma-separated metafieldʼs keys. Could be used with vanilla `key` query parameter.
      required: false
      style: form
      explode: false
      schema:
        type: array
        items:
          type: string
    MetafieldNamespaceInParam_6:
      name: namespace:in
      in: query
      description: Filter based on comma-separated metafieldʼs namespaces. Could be used with vanilla `namespace` query parameter.
      required: false
      style: form
      explode: false
      schema:
        type: array
        items:
          type: string
    MetafieldKeyParam:
      name: key
      in: query
      description: Filter based on a metafieldʼs key.
      required: false
      schema:
        type: string
    MetafieldNamespaceInParam_4:
      name: namespace:in
      in: query
      description: Filter based on comma-separated metafieldʼs namespaces. Could be used with vanilla `namespace` query parameter.
      required: false
      style: form
      explode: false
      schema:
        type: array
        items:
          type: string
    PageParam:
      name: page
      description: 'Specifies the page number in a limited (paginated) list of products.

        '
      required: false
      in: query
      schema:
        type: integer
    LimitParam:
      name: limit
      description: 'Controls the number of items per page in a limited (paginated) list of products.

        '
      required: false
      in: query
      schema:
        type: integer
    MetafieldKeyParam_2:
      name: key
      in: query
      description: 'Filter based on a metafieldʼs key.

        '
      required: false
      schema:
        type: string
    MetafieldKeyParam_3:
      name: key
      in: query
      description: 'Filter based on a metafieldʼs key.

        '
      required: false
      schema:
        type: string
  schemas:
    ErrorDetail:
      type: object
      description: 'Error detail response payload for the BigCommerce API.

        '
      example:
        '1': Unauthorized to delete
        '2': Metafield does not exist
    CollectionMeta_2:
      type: object
      description: Data about the response, including pagination and collection totals.
      properties:
        pagination:
          type: object
          description: Data about the response, including pagination and collection totals.
          title: Pagination
          properties:
            total:
              type: integer
              description: 'Total number of items in the result set.

                '
              example: 36
            count:
              type: integer
              description: 'Total number of items in the collection response.

                '
              example: 36
            per_page:
              type: integer
              description: 'The amount of items returned in the collection per page, controlled by the limit parameter.

                '
              example: 50
            current_page:
              type: integer
              description: 'The page you are currently on within the collection.

                '
              example: 1
            total_pages:
              type: integer
              description: 'The total number of pages in the collection.

                '
              example: 1
            links:
              type: object
              description: 'Pagination links for the previous and next parts of the whole collection.

                '
              properties:
                previous:
                  type: string
                  description: 'Link to the previous page returned in the response.

                    '
                current:
                  type: string
                  description: 'Link to the current page returned in the response.

                    '
                  example: ?page=1&limit=50
                next:
                  type: string
                  description: 'Link to the next page returned in the response.

                    '
      title: Collection Meta
      x-internal: false
    Error:
      type: object
      description: 'Error response payload for the BigCommerce API.

        '
      properties:
        status:
          type: integer
          description: 'The HTTP status code for the error.

            '
          example: 422
        title:
          type: string
          description: 'The error title.

            '
          example: Bulk operation has failed
        type:
          type: string
          description: 'The error type.

            '
          example: https://developer.bigcommerce.com/api-docs/getting-started/api-status-codes
        errors:
          $ref: '#/components/schemas/ErrorDetail'
    MetaFieldCollectionResponse_POST_PUT_3:
      type: object
      description: 'Response payload for the BigCommerce API.

        '
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Metafield_4'
        errors:
          type: array
          description: Empty for 200 responses.
          example: []
        meta:
          $ref: '#/components/schemas/CollectionMeta'
    MetaFieldCollectionResponse_POST_PUT_6:
      type: object
      description: 'Response payload for the BigCommerce API.

        '
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Metafield_7'
        errors:
          type: array
          description: Empty for 200 responses.
          example: []
        meta:
          $ref: '#/components/schemas/CollectionMeta_2'
      x-internal: false
    MetaFieldCollectionResponse_2:
      type: object
      description: 'Response payload for the BigCommerce API.

        '
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Metafield_3'
        meta:
          $ref: '#/components/schemas/CollectionMeta'
      x-internal: false
    MetafieldPost:
      description: 'The model for a POST to create metafield.

        '
      allOf:
      - $ref: '#/components/schemas/MetafieldBase_Post'
      - type: object
        properties:
          resource_id:
            type: integer
            example: 42
            description: 'The ID for the resource with which the metafield is associated.

              '
        required:
        - resource_id
      x-internal: false
    Metafield:
      description: 'Allows app partners to write custom data to various resources in the API.

        '
      allOf:
      - $ref: '#/components/schemas/MetafieldBase'
      - type: object
        properties:
          id:
            type: string
            description: The unique identifier for the metafield.
          date_created:
            type: string
            format: date-time
            description: Date and time of the metafieldʼs creation.
            example: '2022-06-16T18:39:00+00:00'
          date_modified:
            type: string
            format: date-time
            description: Date and time when the metafield was last updated.
            example: '2022-06-16T18:39:00+00:00'
          owner_client_id:
            type: string
            description: Client ID for the metafieldʼs creator.
            example: asdfasdfasdfasdfasdfasdfasdf
            readOnly: true
      x-internal: false
    MetafieldBase_Put:
      type: object
      description: 'Common Metafield properties.

        '
      x-internal: false
      properties:
        permission_set:
          type: string
          description: 'Determines the visibility and writeability of the field by other API consumers.

            | Value | Description |

            | : | : |

            | `app_only` | Private to the app that owns the field. |

            | `read` | Visible to other API consumers. |

            | `write` | Open for reading and writing by other API consumers. |

            | `read_and_sf_access` | Visible to other API consumers, including on the storefront. |

            | `write_and_sf_access` | Open for reading and writing by other API consumers, including on the storefront. |

            '
          enum:
          - app_only
          - read
          - write
          - read_and_sf_access
          - write_and_sf_access
        namespace:
          type: string
          description: 'Namespace for the metafield, for organizational purposes.

            '
          example: Sales Department
          minLength: 1
          maxLength: 64
        key:
          type: string
          description: 'The name of the field, for example: `location_id`, `color`.

            '
          minLength: 1
          maxLength: 64
          example: Staff Name
        value:
          type: string
          description: 'The value of the field, for example: `1`, `blue`.

            '
          minLength: 1
          maxLength: 65535
          example: Ronaldo
        description:
          type: string
          description: 'Description for the metafields.

            '
          minLength: 0
          maxLength: 255
          example: Name of Staff Member
    Metafield_7:
      description: 'Allows app partners to write custom data to various resources in the API.

        '
      allOf:
      - $ref: '#/components/schemas/MetafieldBase_2'
      - type: object
        properties:
          id:
            type: integer
            description: 'The unique identifier for the metafields.

              '
          date_created:
            type: string
            format: date-time
            description: 'Date and time of the metafieldʼs creation.

              '
            example: '2022-06-16T18:39:00+00:00'
          date_modified:
            type: string
            format: date-time
            description: 'Date and time when the metafield was last updated.

              '
            example: '2022-06-16T18:39:00+00:00'
          owner_client_id:
            type: string
            description: Client ID for the metafieldʼs creator.
            example: asdfasdfasdfasdfasdfasdfasdf
            readOnly: true
      x-internal: false
      x-examples: {}
    MetaFieldCollectionResponse_POST_PUT_5:
      type: object
      description: 'Response payload for the BigCommerce API.

        '
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Metafield_6'
        errors:
          type: array
          description: Empty for 200 responses.
          example: []
        meta:
          $ref: '#/components/schemas/CollectionMeta'
    MetaFieldCollectionResponse_POST_PUT_4:
      type: object
      description: 'Response payload for the BigCommerce API.

        '
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Metafield_5'
        errors:
          type: array
          description: Empty for 200 responses.
          example: []
        meta:
          $ref: '#/components/schemas/CollectionMeta'
    MetaFieldCollectionResponse_POST_PUT_2:
      type: object
      description: 'Response payload for the BigCommerce API.

        '
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Metafield_3'
        errors:
          type: array
          description: Empty for 200 responses.
          example: []
        meta:
          $ref: '#/components/schemas/CollectionMeta'
    MetaFieldCollectionResponsePartialSuccess_POST_PUT:
      type: object
      description: 'Response payload for the BigCommerce API.

        '
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Metafield'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
        meta:
          $ref: '#/components/schemas/WriteCollectionPartialSuccessMeta'
    WriteCollectionPartialSuccessMeta:
      type: object
      description: Additional data about the response.
      properties:
        total:
          type: integer
          description: 'Total number of items in the result set.

            '
          example: 3
        success:
          type: integer
          description: 'Total number of items that were successfully deleted.

            '
          example: 1
        failed:
          type: integer
          description: 'Total number of items that failed to be deleted.

            '
          example: 2
      title: Collection Meta
      x-internal: false
    MetafieldBase_2:
      type: object
      description: 'Common Metafield properties.

        '
      x-internal: false
      properties:
        permission_set:
          type: string
          description: 'Determines the visibility and writeability of the field by other API consumers.


            |Value|Description |

            |:-|:-|

            |`app_only`|Private to the app that owns the field|

            |`read`|Visible to other API consumers|

            |`write`|Open for reading and writing by other API consumers|

            |`read_and_sf_access`|Visible to other API consumers, including on storefront|

            |`write_and_sf_access`|Open for reading and writing by other API consumers, including on storefront|

            '
          enum:
          - app_only
          - read
          - write
          - read_and_sf_access
          - write_and_sf_access
        namespace:
          type: string
          description: 'Namespace for the metafield, for organizational purposes.

            '
          example: Sales Department
          minLength: 1
          maxLength: 64
        key:
          type: string
          description: 'The name of the field, for example: `location_id`, `color`.

            '
          minLength: 1
          maxLength: 64
          example: Staff Name
        value:
          type: string
          description: 'The value of the field, for example: `1`, `blue`.

            '
          minLength: 1
          maxLength: 65535
          example: Ronaldo
        description:
          type: string
          description: 'Description for the metafields.

            '
          example: order
          minLength: 0
          maxLength: 255
        resource_type:
          type: string
          description: 'The type of resource with which the metafield is associated.

            '
          enum:
          - order
          - brand
          - product
          - variant
          - category
          example: order
        resource_id:
          type: integer
          description: 'The unique identifier for the resource with which the metafield is associated.

            '
          example: 0
          readOnly: true
      required:
      - permission_set
    MetafieldBase:
      type: object
      description: 'Common Metafield properties.

        '
      x-internal: false
      properties:
        permission_set:
          type: string
          description: 'Determines the visibility and writeability of the field by other API consumers.

            | Value | Description |

            | : | : |

            | `app_only` | Private to the app that owns the field. |

            | `read` | Visible to other API consumers. |

            | `write` | Open for reading and writing by other API consumers. |

            | `read_and_sf_access` | Visible to other API consumers, including on the storefront. |

            | `write_and_sf_access` | Open for reading and writing by other API consumers, including on the storefront. |

            '
          enum:
          - app_only
          - read
          - write
          - read_and_sf_access
          - write_and_sf_access
        namespace:
          type: string
          description: 'Namespace for the metafield, for organizational purposes.

            '
          example: Sales Department
          minLength: 1
          maxLength: 64
        key:
          type: string
          description: 'The name of the field, for example: `location_id`, `color`.

            '
          minLength: 1
          maxLength: 64
          example: Staff Name
        value:
          type: string
          description: 'The value of the field, for example: `1`, `blue`.

            '
          minLength: 1
          maxLength: 65535
          example: Ronaldo
        description:
          type: string
          description: 'Description for the metafields.

            '
          example: order
          minLength: 0
          maxLength: 255
        resource_type:
          type: string
          description: 'The type of resource with which the metafield is associated.

            '
          enum:
          - brand
          - product
          - variant
          - category
          - cart
          example: cart
        resource_id:
          type: string
          description: 'The unique identifier for the resource with which the metafield is associated.

            '
          example: '0'
          readOnly: true
      required:
      - permission_set
    CollectionMeta:
      type: object
      description: Data about the response, including pagination and collection totals.
      properties:
        pagination:
          type: object
          description: Data about the response, including pagination and collection totals.
          title: Pagination
          properties:
            total:
              type: integer
              description: 'Total number of items in the result set.

                '
              example: 36
            count:
              type: integer
              description: 'Total number of items in the collection response.

                '
              example: 36
            per_page:
              type: integer
              description: 'The amount of items returned in the collection per page, controlled by the limit parameter.

                '
              example: 50
            current_page:
              type: integer
              description: 'The page you are currently on within the collection.

                '
              example: 1
            total_pages:
              type: integer
              description: 'The total number of pages in the collection.

                '
              example: 1
            links:
              type: object
              description: 'Pagination links for the previous and next parts of the whole collection.

                '
              properties:
                previous:
                  type: string
                  description: 'Link to the previous page returned in the response.

                    '
                current:
                  type: string
                  description: 'Link to the current page returned in the response.

                    '
                  example: ?page=1&limit=50
                next:
                  type: string
                  description: 'Link to the next page returned in the response.

                    '
      additionalProperties: true
      title: Collection Meta
      x-internal: false
    MetafieldBase_Post:
      type: object
      description: 'Common Metafield properties.

        '
      x-internal: false
      properties:
        permission_set:
          type: string
          description: 'Determines the visibility and writeability of the field by other API consumers.

            | Value | Description |

            | : | : |

            | `app_only` | Private to the app that owns the field. |

            | `read` | Visible to other API consumers. |

            | `write` | Open for reading and writing by other API consumers. |

            | `read_and_sf_access` | Visible to other API consumers, including on the storefront. |

            | `write_and_sf_access` | Open for reading and writing by other API consumers, including on the storefront. |

            '
          enum:
          - app_only
          - read
          - write
          - read_and_sf_access
          - write_and_sf_access
        namespace:
          type: string
          description: 'Namespace for the metafield, for organizational purposes.

            '
          example: Sales Department
          minLength: 1
          maxLength: 64
        key:
          type: string
          description: 'The name of the field, for example: `location_id`, `color`.

            '
          minLength: 1
          maxLength: 64
          example: Staff Name
        value:
          type: string
          description: 'The value of the field, for example: `1`, `blue`.

            '
          minLength: 1
          maxLength: 65535
          example: Ronaldo
        description:
          type: string
          description: 'Description for the metafields.

            '
          minLength: 0
          maxLength: 255
          example: Name of Staff Member
      required:
      - permission_set
      - namespace
      - key
      - value
    Metafield_2:
      type: object
      description: 'Common Metafield properties.

        '
      x-internal: false
      properties:
        permission_set:
          type: string
          description: 'Determines the visibility and writeability of the field by other API consumers.

            | Value | Description |

            | : | : |

            | `app_only` | Private to the app that owns the field. |

            | `read` | Visible to other API consumers. |

            | `write` | Open for reading and writing by other API consumers. |

            | `read_and_sf_access` | Visible to other API consumers, including on the storefront. |

            | `write_and_sf_access` | Open for reading and writing by other API consumers, including on the storefront. |

            '
          enum:
          - app_only
          - read
          - write
          - read_and_sf_access
          - write_and_sf_access
        namespace:
          type: string
          description: 'Namespace for the metafield, for organizational purposes.

            '
          example: Sales Department
          minLength: 1
          maxLength: 64
        key:
          type: string
          description: 'The name of the field, for example: `location_id`, `color`.

            '
          minLength: 1
          maxLength: 64
          example: Staff Name
        value:
          type: string
          description: 'The value of the field, for example: `1`, `blue`.

            '
          minLength: 1
          maxLength: 65535
          example: Ronaldo
        description:
          type: string
          description: 'Description for the metafields.

            '
          example: order
          minLength: 0
          maxLength: 255
        resource_type:
          type: string
          description: 'The type of resource with which the metafield is associated.

            '
          enum:
          - brand
          - product
          - variant
          - category
          - cart
          - channel
          - location
          - order
          - customer
          example: cart
        resource_id:
          type: integer
          description: 'The unique identifier for the resource with which the metafield is associated.

            '
          example: 424242
          readOnly: true
        id:
          type: integer
          description: The unique identifier for the metafield.
        date_created:
          type: string
          format: date-time
          description: Date and time of the metafieldʼs creation.
          example: '2022-06-16T18:39:00+00:00'
        date_modified:
          type: string
          format: date-time
          description: Date and time when the metafield was last updated.
          example: '2022-06-16T18:39:00+00:00'
        owner_client_id:
          type: string
          description: Client ID for the metafieldʼs creator.
          example: asdfasdfasdfasdfasdfasdfasdf
          readOnly: true
      required:
      - namespace
      - key
      - value
      - permission_set
      - resource_type
      - resource_id
      - description
      - id
      - date_created
      - date_modified
    MetaFieldCollectionResponse_Batch:
      type: object
      description: 'Response payload for the BigCommerce API.

        '
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Metafield'
        meta:
          $ref: '#/components/schemas/CollectionMeta'
    Metafield_5:
      type: object
      description: 'Common Metafield properties.

        '
      x-internal: false
      properties:
        permission_set:
          type: string
          description: 'Determines the visibility and writeability of the field by other API consumers.

            | Value | Description |

            | : | : |

            | `app_only` | Private to the app that owns the field. |

            | `read` | Visible to other API consumers. |

            | `write` | Open for reading and writing by other API consumers. |

            | `read_and_sf_access` | Visible to other API consumers, including on the storefront. |

            | `write_and_sf_access` | Open for reading and writing by other API consumers, including on the storefront. |

            '
          enum:
          - app_only
          - read
          - write
          - read_and_sf_access
          - write_and_sf_access
        namespace:
          type: string
          description: 'Namespace for the metafield, for organizational purposes.

            '
          example: Sales Department
          minLength: 1
          maxLength: 64
        key:
          type: string
          description: 'The name of the field, for example: `location_id`, `color`.

            '
          minLength: 1
          maxLength: 64
          example: Staff Name
        value:
          type: string
          description: 'The value of the field, for example: `1`, `blue`.

            '
          minLength: 1
          maxLength: 65535
          example: Ronaldo
        description:
          type: string
          description: 'Description for the metafields.

            '
          example: order
          minLength: 0
          maxLength: 255
        resource_type:
          type: string
          description: 'The type of resource with which the metafield is associated.

            '
          enum:
          - brand
          - product
          - variant
          - category
          - cart
          - channel
          - location
          - order
          - customer
          example: cart
        resource_id:
          type: integer
          description: 'The unique identifier for the resource with which the metafield is associated.

            '
          example: 424242
          readOnly: true
        id:
          type: integer
          description: The unique identifier for the metafield.
        date_created:
          type: string
          format: date-time
          description: Date and time of the metafieldʼs creation.
          example: '2022-06-16T18:39:00+00:00'
        date_modified:
          type: string
          format: date-time
          description: Date and time when the metafield was last updated.
          example: '2022-06-16T18:39:00+00:00'
        owner_client_id:
          type: string
          description: Client ID for the metafieldʼs creator.
          example: asdfasdfasdfasdfasdfasdfasdf
          readOnly: true
      required:
      - namespace
      - key
      - value
      - permission_set
      - resource_type
      - resource_id
      - description
      - id
      - date_created
      - date_modified
    MetaFieldCollectionResponsePartialSuccess_DELETE:
      type: object
      description: 'Response payload for the BigCommerce API.

        '
      properties:
        data:
          type: array
          items:
            type: integer
            description: 'The unique identifier for the metafield.

              '
          example:
          - 123
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
        meta:
          $ref: '#/components/schemas/WriteCollectionPartialSuccessMeta'
      x-internal: false
    Metafield_3:
      type: object
      description: 'Common Metafield properties.

        '
      x-internal: false
      properties:
        permission_set:
          type: string
          description: 'Determines the visibility and writeability of the field by other API consumers.

            | Value | Description |

            | : | : |

            | `app_only` | Private to the app that owns the field. |

            | `read` | Visible to other API consumers. |

            | `write` | Open for reading and writing by other API consumers. |

            | `read_and_sf_access` | Visible to other API consumers, including on the storefront. |

            | `write_and_sf_access` | Open for reading and writing by other API consumers, including on the storefront. |

            '
          enum:
          - app_only
          - read
          - write
          - read_and_sf_access
          - write_and_sf_access
        namespace:
          type: string
          description: 'Namespace for the metafield, for organizational purposes.

            '
          example: Sales Department
          minLength: 1
          maxLength: 64
        key:
          type: string
          description: 'The name of the field, for example: `location_id`, `color`.

            '
          minLength: 1
          maxLength: 64
          example: Staff Name
        value:
          type: string
          description: 'The value of the field, for example: `1`, `blue`.

            '
          minLength: 1
          maxLength: 65535
          example: Ronaldo
        description:
          type: string
          description: 'Description for the metafields.

            '
          example: order
          minLength: 0
          maxLength: 255
        resource_type:
          type: string
          description: 'The type of resource with which the metafield is associated.

            '
          enum:
          - brand
          - product
          - variant
          - category
          - cart
          - channel
          - location
          - order
          - customer
          example: cart
        resource_id:
          type: integer
          description: 'The unique identifier for the resource with which the metafield is associated.

            '
          example: 424242
          readOnly: true
        id:
          type: integer
          description: The unique identifier for the metafield.
        date_created:
          type: string
          format: date-time
          description: Date and time of the metafieldʼs creation.
          example: '2022-06-16T18:39:00+00:00'
        date_modified:
          type: string
          format: date-time
          description: Date and time when the metafield was last updated.
          example: '2022-06-16T18:39:00+00:00'
        owner_client_id:
          type: string
          description: Client ID for the metafieldʼs creator.
          example: asdfasdfasdfasdfasdfasdfasdf
          readOnly: true
      required:
      - namespace
      - key
      - value
      - permission_set
      - resource_type
      - resource_id
      - description
      - id
      - date_created
      - date_modified
    WriteCollectionSuccessMeta:
      type: object
      description: Additional data about the response.
      properties:
        total:
          type: integer
          description: 'Total number of items in the result set.

            '
          example: 3
        success:
          type: integer
          description: 'Total number of items that were successfully deleted.

            '
          example: 3
        failed:
          type: integer
          description: 'Total number of items that failed to be deleted.

            '
          example: 0
      title: Collection Meta
      x-internal: false
    MetaFieldCollectionResponse_POST_PUT:
      type: object
      description: 'Response payload for the BigCommerce API.

        '
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Metafield_2'
        errors:
          type: array
          description: Empty for 200 responses.
          example: []
        meta:
          $ref: '#/components/schemas/CollectionMeta'
    MetaFieldCollectionResponse_5:
      type: object
      description: 'Response payload for the BigCommerce API.

        '
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Metafield_6'
        meta:
          $ref: '#/components/schemas/CollectionMeta'
      x-internal: false
    MetaFieldCollectionResponse_4:
      type: object
      description: 'Response payload for the BigCommerce API.

        '
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Metafield_5'
        meta:
          $ref: '#/components/schemas/CollectionMeta'
      x-internal: false
    MetaFieldCollectionResponse_Batch_POST_PUT:
      type: object
      description: 'Response payload for the BigCommerce API.

        '
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Metafield'
        errors:
          type: array
          description: Empty for 200 responses.
          example: []
        meta:
          $ref: '#/components/schemas/CollectionMeta'
    Metafield_6:
      type: object
      description: 'Common Metafield properties.

        '
      x-internal: false
      properties:
        permission_set:
          type: string
          description: 'Determines the visibility and writeability of the field by other API consumers.

            | Value | Description |

            | : | : |

            | `app_only` | Private to the app that owns the field. |

            | `read` | Visible to other API consumers. |

            | `write` | Open for reading and writing by other API consumers. |

            | `read_and_sf_access` | Visible to other API consumers, including on the storefront. |

            | `write_and_sf_access` | Open for reading and writing by other API consumers, including on the storefront. |

            '
          enum:
          - app_only
          - read
          - write
          - read_and_sf_access
          - write_and_sf_access
        namespace:
          type: string
          description: 'Namespace for the metafield, for organizational purposes.

            '
          example: Sales Department
          minLength: 1
          maxLength: 64
        key:
          type: string
          description: 'The name of the field, for example: `location_id`, `color`.

            '
          minLength: 1
          maxLength: 64
          example: Staff Name
        value:
          type: string
          description: 'The value of the field, for example: `1`, `blue`.

            '
          minLength: 1
          maxLength: 65535
          example: Ronaldo
        description:
          type: string
          description: 'Description for the metafields.

            '
          example: order
          minLength: 0
          maxLength: 255
        resource_type:
          type: string
          description: 'The type of resource with which the metafield is associated.

            '
          enum:
          - brand
          - product
          - variant
          - category
          - cart
          - channel
          - location
          - order
          - customer
          example: cart
        resource_id:
          type: integer
          description: 'The unique identifier for the resource with which the metafield is associated.

            '
          example: 424242
          readOnly: true
        id:
          type: integer
          description: The unique identifier for the metafield.
        date_created:
          type: string
          format: date-time
          description: Date and time of the metafieldʼs creation.
          example: '2022-06-16T18:39:00+00:00'
        date_modified:
          type: string
          format: date-time
          description: Date and time when the metafield was last updated.
          example: '2022-06-16T18:39:00+00:00'
        owner_client_id:
          type: string
          description: Client ID for the metafieldʼs creator.
          example: asdfasdfasdfasdfasdfasdfasdf
          readOnly: true
      required:
      - namespace
      - key
      - value
      - permission_set
      - resource_type
      - resource_id
      - description
      - id
      - date_created
      - date_modified
    MetaFieldCollectionResponse_3:
      type: object
      description: 'Response payload for the BigCommerce API.

        '
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Metafield_4'
        meta:
          $ref: '#/components/schemas/CollectionMeta'
      x-internal: false
    MetafieldBase_Post_2:
      type: object
      description: 'Common Metafield properties.

        '
      x-internal: false
      properties:
        permission_set:
          type: string
          description: 'Determines the visibility and writeability of the field by other API consumers.


            |Value|Description |

            |:-|:-|

            |`app_only`|Private to the app that owns the field|

            |`read`|Visible to other API consumers|

            |`write`|Open for reading and writing by other API consumers|

            |`read_and_sf_access`|Visible to other API consumers, including on storefront|

            |`write_and_sf_access`|Open for reading and writing by other API consumers, including on storefront|

            '
          enum:
          - app_only
          - read
          - write
          - read_and_sf_access
          - write_and_sf_access
        namespace:
          type: string
          description: 'Namespace for the metafield, for organizational purposes.

            '
          example: Sales Department
          minLength: 1
          maxLength: 64
        key:
          type: string
          description: 'The name of the field, for example: `location_id`, `color`.

            '
          minLength: 1
          maxLength: 64
          example: Staff Name
        value:
          type: string
          description: 'The value of the field, for example: `1`, `blue`.

            '
          minLength: 1
          maxLength: 65535
          example: Ronaldo
        description:
          type: string
          description: 'Description for the metafields.

            '
          minLength: 0
          maxLength: 255
          example: Name of Staff Member
      required:
      - permission_set
      - namespace
      - key
      - value
    MetafieldPut:
      description: 'The model for a PUT to create metafield.

        '
      allOf:
      - $ref: '#/components/schemas/MetafieldBase_Put'
      - type: object
        properties:
          id:
            type: integer
            example: 42
            description: 'The ID of metafield to update.

              '
        required:
        - id
      x-internal: false
    MetaFieldCollectionResponse_6:
      type: object
      description: 'Response payload for the BigCommerce API.

        '
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Metafield_7'
        meta:
          $ref: '#/components/schemas/CollectionMeta_2'
      x-internal: false
    MetaFieldCollectionDeleteResponseSuccess:
      type: object
      description: 'Response payload for the BigCommerce API.

        '
      properties:
        data:
          type: array
          items:
            type: integer
            description: 'The unique identifier for the metafield.

              '
          example:
          - 123
          - 124
          - 125
        errors:
          type: array
          description: Empty for 200 responses.
          example: []
        meta:
          $ref: '#/components/schemas/WriteCollectionSuccessMeta'
      x-internal: false
    Metafield_4:
      type: object
      description: 'Common Metafield properties.

        '
      x-internal: false
      properties:
        permission_set:
          type: string
          description: 'Determines the visibility and writeability of the field by other API consumers.

            | Value | Description |

            | : | : |

            | `app_only` | Private to the app that owns the field. |

            | `read` | Visible to other API consumers. |

            | `write` | Open for reading and writing by other API consumers. |

            | `read_and_sf_access` | Visible to other API consumers, including on the storefront. |

            | `write_and_sf_access` | Open for reading and writing by other API consumers, including on the storefront. |

            '
          enum:
          - app_only
          - read
          - write
          - read_and_sf_access
          - write_and_sf_access
        namespace:
          type: string
          description: 'Namespace for the metafield, for organizational purposes.

            '
          example: Sales Department
          minLength: 1
          maxLength: 64
        key:
          type: string
          description: 'The name of the field, for example: `location_id`, `color`.

            '
          minLength: 1
          maxLength: 64
          example: Staff Name
        value:
          type: string
          description: 'The value of the field, for example: `1`, `blue`.

            '
          minLength: 1
          maxLength: 65535
          example: Ronaldo
        description:
          type: string
          description: 'Description for the metafields.

            '
          example: order
          minLength: 0
          maxLength: 255
        resource_type:
          type: string
          description: 'The type of resource with which the metafield is associated.

            '
          enum:
          - brand
          - product
          - variant
          - category
          - cart
          - channel
          - location
          - order
          - customer
          example: cart
        resource_id:
          type: integer
          description: 'The unique identifier for the resource with which the metafield is associated.

            '
          example: 424242
          readOnly: true
        id:
          type: integer
          description: The unique identifier for the metafield.
        date_created:
          type: string
          format: date-time
          description: Date and time of the metafieldʼs creation.
          example: '2022-06-16T18:39:00+00:00'
        date_modified:
          type: string
          format: date-time
          description: Date and time when the metafield was last updated.
          example: '2022-06-16T18:39:00+00:00'
        owner_client_id:
          type: string
          description: Client ID for the metafieldʼs creator.
          example: asdfasdfasdfasdfasdfasdfasdf
          readOnly: true
      required:
      - namespace
      - key
      - value
      - permission_set
      - resource_type
      - resource_id
      - description
      - id
      - date_created
      - date_modified
    MetaFieldCollectionResponse:
      type: object
      description: 'Response payload for the BigCommerce API.

        '
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Metafield_2'
        meta:
          $ref: '#/components/schemas/CollectionMeta'
      x-internal: false
  securitySchemes:
    X-Auth-Token:
      name: X-Auth-Token
      description: '### OAuth scopes


        | UI Name | Permission | Parameter |

        |:--|:--|:-|

        | Information & Settings  | read-only  | `store_v2_information_read_only`|

        | Information & Settings  | modify     | `store_v2_information`          |


        ### Authentication header


        | Header | Argument | Description |

        |:-|:|:|

        | `X-Auth-Token` | `access_token` | For more about API accounts that generate `access_token`s, see our [Guide to API Accounts](/docs/start/authentication/api-accounts). |


        ### Further reading


        For example requests and more information about authenticating BigCommerce APIs, see [Authentication and Example Requests](/docs/start/authentication#x-auth-token-header-example-requests).


        For more about BigCommerce OAuth scopes, see our [Guide to API Accounts](/docs/start/authentication/api-accounts#oauth-scopes).


        For a list of API status codes, see [API Status Codes](/docs/start/about/status-codes).'
      type: apiKey
      in: header
