openapi: 3.0.0
info:
  title: BigCommerce Abandoned Cart Emails Attribute Values API
  version: 3.0.0
  termsOfService: https://www.bigcommerce.com/terms
  description: Abandoned Cart Emails V3 API managing Handlebars-based emails.
  contact:
    name: BigCommerce
    url: https://www.bigcommerce.com
    email: support@bigcommerce.com
servers:
- url: https://api.bigcommerce.com/stores/{store_hash}/v3
  variables:
    store_hash:
      default: store_hash
      description: Permanent ID of the BigCommerce store.
  description: BigCommerce API Gateway
security:
- X-Auth-Token: []
tags:
- name: Attribute Values
paths:
  /customers/attribute-values:
    get:
      description: Returns a list of Customer Attribute Values. Optional filter parameters can be passed in.
      summary: BigCommerce Get All Customer Attribute Values
      operationId: getCustomersAttributeValues
      deprecated: false
      parameters:
      - name: Accept
        in: header
        schema:
          type: string
          default: application/json
      - name: Content-Type
        in: header
        schema:
          type: string
          default: application/json
      - name: page
        in: query
        description: Page number. `page=1`
        schema:
          type: integer
      - in: query
        name: limit
        description: Items count per page. `limit=50`
        schema:
          type: number
      - in: query
        name: customer_id:in
        description: Filter items by the customer ID. `customer_id:in=23,24,55`
        style: form
        explode: false
        schema:
          type: array
          items:
            type: integer
      - name: attribute_id:in
        in: query
        description: Filter items by the attribute ID. `attribute_id:in=1,2`
        style: form
        explode: false
        schema:
          type: array
          items:
            type: integer
      - name: name
        in: query
        description: Filter items by the attribute name. `name=age`
        schema:
          type: string
      - name: date_created
        in: query
        description: Filter items by `date_created`. `date_created=2018-09-05T13:43:54`
        schema:
          type: string
          format: date-time
      - name: date_created:max
        in: query
        description: Filter items by maximum `date_created`. ISO 8601 full-date is required, ISO 8601 full-time is not required. UNIX timestamp also accepted. `date_created=2021-01-07` or `date_created=1610051296000`
        schema:
          type: string
      - name: date_created:min
        in: query
        description: Filter items by minimum `date_created`. ISO 8601 full-date is required, ISO 8601 full-time is not required. UNIX timestamp also accepted. `date_created=2021-01-07` or `date_created=1610051296000`
        schema:
          type: string
          format: date-time
      - name: date_modified
        in: query
        description: Filter items by `date_modified`. `date_modified=2018-09-05T13:45:03`
        schema:
          type: string
          format: date-time
      - name: date_modified:max
        in: query
        description: Filter items by maximum `date_modified`. ISO 8601 full-date is required, ISO 8601 full-time is not required. UNIX timestamp also accepted. `date_created=2021-01-07` or `date_created=1610051296000`
        schema:
          type: string
          format: date-time
      - name: date_modified:min
        in: query
        description: Filter items by minimum `date_modified`. ISO 8601 full-date is required, ISO 8601 full-time is not required. UNIX timestamp also accepted. `date_created=2021-01-07` or `date_created=1610051296000`
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/CustomerAttributeValueCollectionResponse'
      tags:
      - Attribute Values
    put:
      description: 'Upserts Customer Attribute Values. Updates the attribute values on the Customer. Multiple customer attribute values can be updated in one call.


        Upsert checks for an existing record. If there is none, it creates the record, if there is a matching record, it updates that record.


        **Limits**

        * 10 per call limit.'
      summary: BigCommerce Upsert Customer Attribute Values
      operationId: upsertCustomersAttributeValues
      deprecated: false
      parameters:
      - name: Accept
        in: header
        schema:
          type: string
          default: application/json
      - name: Content-Type
        in: header
        schema:
          type: string
          default: application/json
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/attributeValue_Base'
            examples:
              Example:
                value:
                - attribute_id: 1
                  value: 'No'
                  customer_id: 2
        required: true
        x-examples:
          application/json:
          - attribute_id: 52528392
            value: aliqua
            customer_id: 12990306
            id: 47143304
          - attribute_id: 8263909
            value: n
            customer_id: 1122433
            id: 34305734
          - attribute_id: 62186196
            value: ''
            customer_id: 10906989
            id: 21175547
          - attribute_id: 68742149
            value: l
            customer_id: 74084818
            id: 99359610
        description: ''
      responses:
        '200':
          $ref: '#/components/responses/CustomerAttributeValueCollectionResponse'
        '422':
          description: 'The `CustomerAttributeValue` was not valid. This is the result of missing required fields, or of invalid data. See the response for more details.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
      - Attribute Values
    delete:
      description: 'Deletes Customer Attribute Values. Deletes the attribute value from the customer.


        **Required Query**

        * id:in - ID of the *Customer Attribute Value*'
      summary: BigCommerce Delete Customer Attribute Values
      operationId: deleteCustomersAttributeValues
      deprecated: false
      parameters:
      - name: id:in
        in: query
        required: true
        description: 'Filter items by ID.

          `id:in=4,5,6`'
        style: form
        explode: false
        schema:
          type: array
          items:
            type: integer
            format: int32
      - name: Accept
        in: header
        schema:
          type: string
          default: application/json
      - name: Content-Type
        in: header
        schema:
          type: string
          default: application/json
      responses:
        '204':
          description: ''
          headers: {}
      tags:
      - Attribute Values
components:
  schemas:
    attributeValue_Base:
      title: attributeValue_Base
      type: object
      properties:
        id:
          description: Attribute value ID.
          type: integer
          format: int32
        attribute_id:
          description: Attribute ID.
          type: integer
          format: int32
        value:
          description: "Attribute value. This will always be a string, regardless of the attributeʼs type. \n\nCorresponds to `attribute_value` used in customer attribute values `GET` requests."
          type: string
          minLength: 0
          maxLength: 255
          example: string
        customer_id:
          type: integer
          description: Customer ID.
          format: int32
          example: 8504
      required:
      - attribute_id
      - value
      - customer_id
      x-internal: false
    ErrorResponse:
      title: Error Response
      type: object
      properties:
        status:
          description: The HTTP status code.
          type: integer
          format: int32
        title:
          description: The error title describing the particular error.
          type: string
        type:
          description: A link to a list of BigCommerce API status codes.
          type: string
        instance:
          type: string
        errors:
          type: object
          additionalProperties:
            type: string
      x-internal: false
  responses:
    CustomerAttributeValueCollectionResponse:
      description: ''
      content:
        application/json:
          schema:
            title: CustomerAttributeValueCollectionResponse
            description: Response payload for the BigCommerce API.
            type: object
            properties:
              data:
                type: array
                items:
                  title: Customer Attribute Value
                  type: object
                  properties:
                    attribute_id:
                      description: Attribute ID.
                      type: integer
                      format: int32
                    attribute_value:
                      description: "Attribute value. This will always be a string, regardless of the attributes type. \n\nCorresponds to `value` used in customer attribute values `PUT` requests."
                      type: string
                      minLength: 0
                      maxLength: 255
                    id:
                      description: Attribute value ID.
                      type: integer
                      format: int32
                    customer_id:
                      description: Customer ID.
                      type: integer
                      format: int32
                    date_modified:
                      description: The date on which the customer attribute value was modified.
                      type: string
                      format: date-time
                    date_created:
                      description: The date of which the customer attribute value was created.
                      type: string
                      format: date-time
                  required:
                  - attribute_id
                  - attribute_value
                  - customer_id
              meta:
                title: Collection Meta
                description: Data about the response, including pagination and collection totals.
                type: object
                properties:
                  pagination:
                    title: Pagination
                    description: Data about the response, including pagination and collection totals.
                    type: object
                    properties:
                      total:
                        description: Total number of items in the result set.
                        type: integer
                        format: int32
                      count:
                        description: Total number of items in the collection response.
                        type: integer
                        format: int32
                      per_page:
                        description: The amount of items returned in the collection per page, controlled by the limit parameter.
                        type: integer
                        format: int32
                      current_page:
                        description: The page you are currently on within the collection.
                        type: integer
                        format: int32
                      total_pages:
                        description: The total number of pages in the collection.
                        type: integer
                        format: int32
                      links:
                        title: Links
                        description: Pagination links for the previous and next parts of the whole collection.
                        type: object
                        properties:
                          previous:
                            description: Link to the previous page returned in the response.
                            type: string
                          current:
                            description: Link to the current page returned in the response.
                            type: string
                          next:
                            description: Link to the next page returned in the response.
                            type: string
  securitySchemes:
    X-Auth-Token:
      name: X-Auth-Token
      description: '### OAuth scopes


        | UI Name | Permission | Parameter |

        |:--|:--|:-|

        | Information & Settings  | read-only  | `store_v2_information_read_only`|

        | Information & Settings  | modify     | `store_v2_information`          |


        ### Authentication header


        | Header | Argument | Description |

        |:-|:|:|

        | `X-Auth-Token` | `access_token` | For more about API accounts that generate `access_token`s, see our [Guide to API Accounts](/docs/start/authentication/api-accounts). |


        ### Further reading


        For example requests and more information about authenticating BigCommerce APIs, see [Authentication and Example Requests](/docs/start/authentication#x-auth-token-header-example-requests).


        For more about BigCommerce OAuth scopes, see our [Guide to API Accounts](/docs/start/authentication/api-accounts#oauth-scopes).


        For a list of API status codes, see [API Status Codes](/docs/start/about/status-codes).'
      type: apiKey
      in: header
