openapi: 3.0.0
info:
  title: BigCommerce Abandoned Cart Emails Inventory Notifications API
  version: 3.0.0
  termsOfService: https://www.bigcommerce.com/terms
  description: Abandoned Cart Emails V3 API managing Handlebars-based emails.
  contact:
    name: BigCommerce
    url: https://www.bigcommerce.com
    email: support@bigcommerce.com
servers:
- url: https://api.bigcommerce.com/stores/{store_hash}/v3
  variables:
    store_hash:
      default: store_hash
      description: Permanent ID of the BigCommerce store.
  description: BigCommerce API Gateway
security:
- X-Auth-Token: []
tags:
- name: Inventory Notifications
paths:
  /settings/inventory/notifications:
    parameters:
    - $ref: '#/components/parameters/Accept'
    get:
      summary: BigCommerce Get Inventory Notifications Settings
      operationId: getSettingsInventoryNotifications
      description: "Returns inventory notification settings. \n* `channel_id` can be used as a query parameter to get inventory notification settings per channel. If omitted, you will interact with the global setting only."
      parameters:
      - $ref: '#/components/parameters/ChannelIdParam'
      responses:
        '200':
          description: OK. `null` indicates that a particular field has not been overridden on a channel level when channel level settings are requested
          content:
            application/json:
              examples: {}
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/InventoryNotificationsSettings'
                  meta:
                    $ref: '#/components/schemas/MetaOpen'
      tags:
      - Inventory Notifications
    put:
      summary: BigCommerce Update Inventory Notifications Settings
      operationId: updateSettingsInventoryNotifications
      description: "Updates inventory notification settings. \n* `channel_id` can be used as a query parameter to get inventory notification settings per channel. If omitted, you will interact with the global setting only. \n* Supplying `null` settings values per channel will delete overrides per given channel and values will be inherited from global level. \n* Partial updates are not supported within the given endpoint. In order to delete overrides per channel, `null` should be supplied for all the settings within the given endpoint."
      parameters:
      - $ref: '#/components/parameters/ContentType'
      - $ref: '#/components/parameters/ChannelIdParam'
      requestBody:
        description: null set for a particular field removes override on a channel level and means inheritance from a global level
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InventoryNotificationsSettings'
      responses:
        '200':
          description: OK
      tags:
      - Inventory Notifications
components:
  parameters:
    Accept:
      name: Accept
      in: header
      required: true
      description: The [MIME type](https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/MIME_types) of the response body.
      schema:
        type: string
        default: application/json
    ContentType:
      name: Content-Type
      in: header
      required: true
      description: The [MIME type](https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/MIME_types) of the request body.
      schema:
        type: string
        default: application/json
    ChannelIdParam:
      description: Channel ID to use for channel-specific setting. If omitted, you will interact with the global setting only.
      in: query
      name: channel_id
      schema:
        type: integer
  schemas:
    InventoryNotificationsSettings:
      type: object
      x-tags:
      - Models
      properties:
        low_stock_notification_address:
          type: array
          items:
            type: string
            example: test.user@example.com
        out_of_stock_notification_address:
          type: array
          items:
            type: string
            example: test.user@example.com
      x-examples:
        example-1:
          low_stock_notification_address:
          - test.user@example.com
          out_of_stock_notification_address:
          - test.user@example.com
    MetaOpen:
      title: Response meta
      type: object
      properties: {}
      additionalProperties: true
      description: Response metadata.
  securitySchemes:
    X-Auth-Token:
      name: X-Auth-Token
      description: '### OAuth scopes


        | UI Name | Permission | Parameter |

        |:--|:--|:-|

        | Information & Settings  | read-only  | `store_v2_information_read_only`|

        | Information & Settings  | modify     | `store_v2_information`          |


        ### Authentication header


        | Header | Argument | Description |

        |:-|:|:|

        | `X-Auth-Token` | `access_token` | For more about API accounts that generate `access_token`s, see our [Guide to API Accounts](/docs/start/authentication/api-accounts). |


        ### Further reading


        For example requests and more information about authenticating BigCommerce APIs, see [Authentication and Example Requests](/docs/start/authentication#x-auth-token-header-example-requests).


        For more about BigCommerce OAuth scopes, see our [Guide to API Accounts](/docs/start/authentication/api-accounts#oauth-scopes).


        For a list of API status codes, see [API Status Codes](/docs/start/about/status-codes).'
      type: apiKey
      in: header
