openapi: 3.2.0
info:
  version: ''
  title: BigCommerce Customers V3 Validate Credentials API
  description: 'Create and manage customers.


    ## Resources

    * [Customers Overview](/docs/store-operations/customers).'
  termsOfService: https://www.bigcommerce.com/terms
  contact:
    name: BigCommerce
    url: https://www.bigcommerce.com
    email: support@bigcommerce.com
servers:
- url: https://api.bigcommerce.com/stores/{store_hash}/v3
  variables:
    store_hash:
      default: store_hash
      description: Permanent ID of the BigCommerce store.
  description: BigCommerce API Gateway
security:
- X-Auth-Token: []
tags:
- name: Validate Credentials
paths:
  /customers/validate-credentials:
    post:
      tags:
      - Validate Credentials
      description: Validate a customer credentials - This endpoint has special rate limiting protections to protect against abuse.
      summary: BigCommerce Validate a customer credentials
      operationId: validateCustomerCredentials
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValidateCustomerCredentialsObject'
            examples:
              data:
                value:
                  email: foo@bar.com
                  password: password
                  channel_id: 1
      responses:
        '200':
          description: Returns if the customer credentials provided are valid or not.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateCustomerCredentialsResponseObject'
              examples:
                data:
                  value:
                    is_valid: true
                    customer_id: 1
        '422':
          description: This is the result of missing required fields. See the response for more details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: 'Allowed number of requests exceeded.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                response:
                  value:
                    status: 429
                    title: Too many requests
                    type: /api-docs/getting-started/api-status-codes
                    errors: {}
components:
  schemas:
    ValidateCustomerCredentialsResponseObject:
      title: ValidateCustomerCredentialsResponseObject
      type: object
      properties:
        customer_id:
          type:
          - integer
          - 'null'
          description: Returns the customer ID.
        is_valid:
          type: boolean
          description: indicates if the provided credentials are valid.
      x-internal: false
    ErrorResponse:
      title: Error Response
      type: object
      properties:
        status:
          description: The HTTP status code.
          type: integer
          format: int32
        title:
          description: The error title describing the particular error.
          type: string
        type:
          description: A link to a list of BigCommerce API status codes.
          type: string
        instance:
          type: string
        errors:
          type: object
          additionalProperties:
            type: string
      x-internal: false
    ValidateCustomerCredentialsObject:
      title: ValidateCustomerCredentialsObject
      type: object
      required:
      - email
      - password
      properties:
        email:
          type: string
          description: Customer email address.
        password:
          type: string
          description: Customer password.
        channel_id:
          type: integer
          description: ChannelId to check the customer credentials against - If this field is empty we will use channel 1.
      x-internal: false
  securitySchemes:
    X-Auth-Token:
      name: X-Auth-Token
      description: '### OAuth scopes


        | UI Name | Permission | Parameter |

        |:--|:--|:-|

        | Customers | modify | `store_v2_customers` |

        | Customers | read-only | `store_v2_customers_read_only` |

        | Stored Payment Instruments | modify | `store_stored_payment_instruments` |

        | Stored Payment Instruments | read-only | `store_stored_payment_instruments_read_only` |


        ### Authentication header


        | Header | Argument | Description |

        |:-|:|:|

        | `X-Auth-Token` | `access_token` | For more about API accounts that generate `access_token`s, see our [Guide to API Accounts](/docs/start/authentication/api-accounts). |


        ### Further reading


        For example requests and more information about authenticating BigCommerce APIs, see [Authentication and Example Requests](/docs/start/authentication#x-auth-token-header-example-requests).


        For more about BigCommerce OAuth scopes, see our [Guide to API Accounts](/docs/start/authentication/api-accounts#oauth-scopes).


        For a list of API status codes, see [API Status Codes](/docs/start/about/status-codes).'
      type: apiKey
      in: header
