openapi: 3.2.0
info:
  description: Manage settings and configuration for BigCommerce hosted stores and headless storefronts.
  termsOfService: https://www.bigcommerce.com/terms
  contact:
    name: BigCommerce
    url: https://www.bigcommerce.com
    email: support@bigcommerce.com
  title: BigCommerce Settings V3 Inventory API
  version: 3.0.0
servers:
- url: https://api.bigcommerce.com/stores/{store_hash}/v3
  variables:
    store_hash:
      default: store_hash
      description: Permanent ID of the BigCommerce store.
  description: BigCommerce API Gateway
security:
- X-Auth-Token: []
tags:
- name: Inventory
paths:
  /settings/inventory:
    parameters:
    - $ref: '#/components/parameters/Accept'
    get:
      summary: BigCommerce Get Inventory Settings
      operationId: getSettingsInventory
      tags:
      - Inventory
      responses:
        '200':
          description: OK, null indicates that a particular field has not been overridden on a channel level when channel level settings are requested.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/InventorySettings'
                  meta:
                    $ref: '#/components/schemas/MetaOpen'
        '422':
          description: Provided settings could not be applied for some reason - detailed errors in the response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      parameters:
      - $ref: '#/components/parameters/ChannelIdParam'
      description: Get Inventory Settings
    put:
      summary: BigCommerce Update Inventory Settings
      operationId: updateSettingsInventory
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InventorySettings'
        description: null set for a particular field removes override on a channel level and means inheritance from a global level
      responses:
        '200':
          description: OK, null indicates that a particular field has not been overridden on a channel level when channel level settings are requested
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/InventorySettings'
                  meta:
                    $ref: '#/components/schemas/MetaOpen'
      parameters:
      - $ref: '#/components/parameters/ContentType'
      - $ref: '#/components/parameters/ChannelIdParam'
      tags:
      - Inventory
      description: Update inventory settings
components:
  schemas:
    MetaOpen:
      title: Response meta
      type: object
      properties: {}
      additionalProperties: true
      description: Response metadata.
    ErrorResponse:
      allOf:
      - $ref: '#/components/schemas/BaseError'
      - properties:
          errors:
            $ref: '#/components/schemas/DetailedErrors'
        type: object
      x-internal: false
    InventorySettings:
      type: object
      properties:
        product_out_of_stock_behavior:
          type: string
          enum:
          - do_nothing
          - hide_product
          - hide_product_and_accessible
          - hide_product_and_redirect
          description: Describes storefront behavior when product is out of stock.
        option_out_of_stock_behavior:
          type: string
          enum:
          - do_nothing
          - hide_option
          - label_option
          description: Describes storefront behavior when variant is out of stock.
        update_stock_behavior:
          type: string
          enum:
          - order_placed
          - order_completed_or_shipped
          description: 'Describes when stock levels are updated.


            Global settings apply when inventory changes through a [manual order](https://support.bigcommerce.com/s/article/Creating-a-Manual-Order?language=en_US). Settings for a channel apply when inventory changes through an order in a channel. These settings affect webhooks that trigger from order-related events, including [product](/docs/integrations/webhooks/events#products), [SKU](/docs/integrations/webhooks/events#skus), and [inventory](/docs/integrations/webhooks/events/inventory-location#inventory) webhooks.  '
        edit_order_stock_adjustment:
          type: boolean
          description: 'Describes whether stock levels automatically adjust when you edit an order.


            Global settings apply when inventory changes through a [manual order](https://support.bigcommerce.com/s/article/Creating-a-Manual-Order?language=en_US). Settings for a channel apply when inventory changes through an order in a channel. These settings affect webhooks that trigger from order-related events, including [product](/docs/integrations/webhooks/events#products), [SKU](/docs/integrations/webhooks/events#skus), and [inventory](/docs/integrations/webhooks/events/inventory-location#inventory) webhooks.  '
        refund_order_stock_adjustment:
          type: boolean
          description: 'Describes whether stock levels automatically adjust when you refund or cancel an order.


            Global settings apply when inventory changes through a [manual order](https://support.bigcommerce.com/s/article/Creating-a-Manual-Order?language=en_US). Settings for a channel apply when inventory changes through an order in a channel. These settings affect webhooks that trigger from order-related events, including [product](/docs/integrations/webhooks/events#products), [SKU](/docs/integrations/webhooks/events#skus), and [inventory](/docs/integrations/webhooks/events/inventory-location#inventory) webhooks.  '
        stock_level_display:
          type: string
          enum:
          - dont_show
          - show
          - show_when_low
          description: Describes whether a storefront displays stock levels.
        default_out_of_stock_message:
          type: string
          example: Currently out of stock
          description: Out of stock message displayed to shoppers.
        hide_in_product_filtering:
          type: boolean
          description: 'Describes whether an option is hidden in product filtering. Applies when `option_out_of_stock_behavior` is set to `label_option`. '
        show_pre_order_stock_levels:
          type: boolean
          description: Describes whether pre-order stock levels are shown.
          default: false
          example: true
        show_out_of_stock_message:
          type: boolean
          description: Describes whether out-of-stock messages are shown on product listing pages.
          default: false
          example: true
    DetailedErrors:
      type: object
      properties: {}
      additionalProperties: true
      title: Detailed Errors
      x-internal: false
    BaseError:
      description: 'Error payload for the BigCommerce API.

        '
      type: object
      properties:
        instance:
          type: string
        status:
          description: 'The HTTP status code.

            '
          type: integer
        title:
          description: 'The error title describing the particular error.

            '
          type: string
        type:
          type: string
      x-internal: false
  parameters:
    Accept:
      name: Accept
      in: header
      required: true
      description: The [MIME type](https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/MIME_types) of the response body.
      schema:
        type: string
        default: application/json
    ContentType:
      name: Content-Type
      in: header
      required: true
      description: The [MIME type](https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/MIME_types) of the request body.
      schema:
        type: string
        default: application/json
    ChannelIdParam:
      description: Channel ID to use for channel-specific setting. If omitted, you will interact with the global setting only.
      in: query
      name: channel_id
      schema:
        type: integer
  securitySchemes:
    X-Auth-Token:
      name: X-Auth-Token
      description: '### OAuth scopes


        | UI Name | Permission | Parameter |

        |:--|:--|:-|

        |  Information & Settings | modify | `store_v2_information` |

        |  Information & Settings | read-only | `store_v2_information_read_only` |


        ### Authentication header


        | Header | Argument | Description |

        |:-|:|:|

        | `X-Auth-Token` | `access_token` | For more about API accounts that generate `access_token`s, see our [Guide to API Accounts](/docs/start/authentication/api-accounts). |


        ### Further reading


        For example requests and more information about authenticating BigCommerce APIs, see [Authentication and Example Requests](/docs/start/authentication#x-auth-token-header-example-requests).


        For more about BigCommerce OAuth scopes, see our [Guide to API Accounts](/docs/start/authentication/api-accounts#oauth-scopes).


        For a list of API status codes, see [API Status Codes](/docs/start/about/status-codes).'
      type: apiKey
      in: header
