openapi: 3.0.0
info:
  title: BigCommerce Abandoned Cart Emails Product Tax Properties API
  version: 3.0.0
  termsOfService: https://www.bigcommerce.com/terms
  description: Abandoned Cart Emails V3 API managing Handlebars-based emails.
  contact:
    name: BigCommerce
    url: https://www.bigcommerce.com
    email: support@bigcommerce.com
servers:
- url: https://api.bigcommerce.com/stores/{store_hash}/v3
  variables:
    store_hash:
      default: store_hash
      description: Permanent ID of the BigCommerce store.
  description: BigCommerce API Gateway
security:
- X-Auth-Token: []
tags:
- name: Product Tax Properties
paths:
  /tax/products/properties:
    parameters:
    - $ref: '#/components/parameters/Accept'
    get:
      tags:
      - Product Tax Properties
      summary: BigCommerce Get Product Tax Properties
      description: Retrieve the tax properties that are associated with one or more products.
      operationId: getProductsTaxProperties
      parameters:
      - $ref: '#/components/parameters/product_idin'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ProductTaxProperty'
                  meta:
                    $ref: '#/components/schemas/MetaOpen'
        '400':
          description: Request parameters invalid
    put:
      tags:
      - Product Tax Properties
      summary: BigCommerce Update Product Tax Properties
      description: Update the tax properties associated with one or more products. This operation will be additive to any tax property values already associated with the product, overwriting any existing tax property values.
      operationId: updateProductTaxProperties
      parameters:
      - $ref: '#/components/parameters/ContentType'
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ProductTaxProperty'
            examples:
              Example:
                value:
                - product_id: 157
                  tax_properties:
                    A-123456789: '26'
                    B-6731789: '200'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ProductTaxProperty'
                  meta:
                    $ref: '#/components/schemas/MetaOpen'
        '422':
          description: The request body does not meet specifications.
    delete:
      tags:
      - Product Tax Properties
      summary: BigCommerce Delete Product Tax Properties
      description: Delete tax properties that are associated with one or more products.
      operationId: deleteProductTaxProperties
      parameters:
      - $ref: '#/components/parameters/product_idin'
      responses:
        '204':
          description: No Content
        '400':
          description: Request parameters invalid
components:
  parameters:
    Accept:
      name: Accept
      in: header
      required: true
      description: The [MIME type](https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/MIME_types) of the response body.
      schema:
        type: string
        default: application/json
    product_idin:
      name: product_id:in
      in: query
      required: true
      description: ID of product. To target multiple products, provide a comma-separated list of IDs such as `12,34,56`
      schema:
        type: string
    ContentType:
      name: Content-Type
      in: header
      required: true
      description: The [MIME type](https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/MIME_types) of the request body.
      schema:
        type: string
        default: application/json
  schemas:
    ProductTaxProperty:
      type: object
      description: A collection of tax property values associated with a product.
      properties:
        product_id:
          type: integer
          description: A reference to the product that the product tax properties are associated with.
          example: 157
        tax_properties:
          type: object
          description: A simple key-value pairing. The tax property must be defined to associate a value. These values will be sent to the active tax provider during Tax Provider API operations whenever the associated product is included in the operation.
          example:
            A-123456789: '26'
            B-6731789: '200'
      required:
      - product_id
      - tax_properties
    MetaOpen:
      title: Response meta
      type: object
      properties: {}
      additionalProperties: true
      description: Response metadata.
  securitySchemes:
    X-Auth-Token:
      name: X-Auth-Token
      description: '### OAuth scopes


        | UI Name | Permission | Parameter |

        |:--|:--|:-|

        | Information & Settings  | read-only  | `store_v2_information_read_only`|

        | Information & Settings  | modify     | `store_v2_information`          |


        ### Authentication header


        | Header | Argument | Description |

        |:-|:|:|

        | `X-Auth-Token` | `access_token` | For more about API accounts that generate `access_token`s, see our [Guide to API Accounts](/docs/start/authentication/api-accounts). |


        ### Further reading


        For example requests and more information about authenticating BigCommerce APIs, see [Authentication and Example Requests](/docs/start/authentication#x-auth-token-header-example-requests).


        For more about BigCommerce OAuth scopes, see our [Guide to API Accounts](/docs/start/authentication/api-accounts#oauth-scopes).


        For a list of API status codes, see [API Status Codes](/docs/start/about/status-codes).'
      type: apiKey
      in: header
