openapi: 3.2.0
info:
  title: BigCommerce Webhooks v3 Webhook Events API
  version: ''
  description: Get notified when specific events occur on a BigCommerce store. For more information, see the [Webhooks Overview](/docs/integrations/webhooks).
  termsOfService: https://www.bigcommerce.com/terms
  contact:
    email: support@bigcommerce.com
    name: BigCommerce
    url: https://www.bigcommerce.com
servers:
- url: https://api.bigcommerce.com/stores/{store_hash}/v3
  variables:
    store_hash:
      default: store_hash
      description: Permanent ID of the BigCommerce store.
  description: BigCommerce API Gateway
security:
- X-Auth-Token: []
tags:
- name: Webhook Events
paths:
  /hooks/events:
    get:
      tags:
      - Webhook Events
      summary: BigCommerce Get Events
      deprecated: true
      parameters:
      - $ref: '#/components/parameters/FilterPageParam'
      - $ref: '#/components/parameters/FilterLimitParam'
      - $ref: '#/components/parameters/FilterMaxCreatedAtParam'
      - $ref: '#/components/parameters/FilterMinCreatedAtParam'
      operationId: getWebhookEvents
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/HistoryEvent'
                  meta:
                    type: object
                    properties:
                      pagination:
                        $ref: '#/components/schemas/Pagination'
        '400':
          $ref: '#/components/responses/400_BadRequest'
        '401':
          $ref: '#/components/responses/401_Unauthorized'
      description: 'Get a list of events that were sent but not successfully received. Events are stored for not less than one week.

        '
components:
  schemas:
    error_Full:
      type: object
      title: error_Full
      properties:
        status:
          description: 'The HTTP status code.

            '
          type: integer
        title:
          description: 'The error title describing the particular error.

            '
          type: string
        type:
          description: This value is typically a link to BigCommerce API Status codes.
          type: string
      x-internal: false
    Pagination:
      type: object
      description: 'Data about the response, including pagination and collection totals.

        '
      properties:
        total:
          type: integer
          description: Total number of returned items across all pages.
        count:
          type: integer
          description: Number of items on current page.
        per_page:
          type: integer
          description: Maximum number of items per page.
        current_page:
          type: integer
          description: Current page number.
        total_pages:
          type: integer
          description: Total number of pages.
        links:
          type: object
          properties:
            previous:
              type: string
              description: Link to the previous page returned in the response.
            current:
              type: string
              description: Link to the current page returned in the response.
            next:
              type: string
              description: Link to the next page returned in the response.
      x-internal: false
    HistoryEvent:
      type: object
      properties:
        scope:
          type: string
          description: Alias where the event occurred.
        store_id:
          type: string
          description: A numerical identifier that is unique to each store.
        data:
          type: object
          description: A lightweight description of the event that triggered the webhook. Will vary depending on the event registered.
        hash:
          type: string
          description: The payload data encoded in JSON format and then passed through SH1 encryption.
        created_at:
          type: integer
          format: int64
          description: UTC timestamp, in seconds, that the events was created.
        producer:
          type: string
          description: Will always follow the pattern stores/store_hash. This is the store that created the webhook.
  parameters:
    FilterMaxCreatedAtParam:
      name: created_at:max
      in: query
      description: 'Maximum value for returned data.

        '
      required: false
      schema:
        type: string
    FilterLimitParam:
      name: limit
      in: query
      description: 'Items count per page.

        '
      required: false
      schema:
        type: integer
    FilterPageParam:
      name: page
      in: query
      description: 'Page number.

        '
      required: false
      schema:
        type: integer
        example: 1
    FilterMinCreatedAtParam:
      name: created_at:min
      in: query
      description: 'Minimum value for returned data.

        '
      required: false
      schema:
        type: string
  responses:
    401_Unauthorized:
      description: Unauthorized - the v3 Auth client ID or token in the request are not a valid combination for this store.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error_Full'
          examples:
            response:
              value:
                status: 401
                title: Unauthorized - the v3 Auth client ID or token in the request are not a valid combination for this store.
                type: /api-docs/getting-started/api-status-codes
    400_BadRequest:
      description: Malformed request syntax. Typically need to fix the JSON request body to resend successfully.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error_Full'
          examples:
            response:
              value:
                status: 400
                title: Input is invalid.
                type: /api-docs/getting-started/api-status-codes
  securitySchemes:
    X-Auth-Token:
      name: X-Auth-Token
      description: '### OAuth scopes


        None required. Create and manage webhooks with the default scope of an API account.


        ### Authentication header


        | Header | Argument | Description |

        |:-|:|:|

        | `X-Auth-Token` | `access_token` | For more about API accounts that generate `access_token`s, see our [Guide to API Accounts](/docs/start/authentication/api-accounts). |


        ### Further reading


        For example requests and more information about authenticating BigCommerce APIs, see [Authentication and Example Requests](/docs/start/authentication#x-auth-token-header-example-requests).


        For more about BigCommerce OAuth scopes, see our [Guide to API Accounts](/docs/start/authentication/api-accounts#oauth-scopes).


        For a list of API status codes, see [API Status Codes](/docs/start/about/status-codes).'
      type: apiKey
      in: header
