openapi: 3.0.0
info:
  title: BigCommerce Abandoned Cart Emails Settings API
  version: 3.0.0
  termsOfService: https://www.bigcommerce.com/terms
  description: Abandoned Cart Emails V3 API managing Handlebars-based emails.
  contact:
    name: BigCommerce
    url: https://www.bigcommerce.com
    email: support@bigcommerce.com
servers:
- url: https://api.bigcommerce.com/stores/{store_hash}/v3
  variables:
    store_hash:
      default: store_hash
      description: Permanent ID of the BigCommerce store.
  description: BigCommerce API Gateway
security:
- X-Auth-Token: []
tags:
- name: Settings
paths:
  /carts/settings:
    parameters:
    - $ref: '#/components/parameters/Accept'
    get:
      summary: BigCommerce Get Global Cart Settings
      description: Returns the global cart settings of a store.
      operationId: getGlobalCartSettings
      tags:
      - Settings
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GlobalCartSettingsResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      summary: BigCommerce Update Global Cart Settings
      description: Update the global cart settings of a store.
      parameters:
      - $ref: '#/components/parameters/ContentType'
      tags:
      - Settings
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GlobalCartSettingsRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GlobalCartSettingsResponse'
        '400':
          description: Bad Request. Input is invalid.
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  status:
                    type: number
                  title:
                    type: string
                    minLength: 1
                  type:
                    type: string
                    minLength: 1
                  detail:
                    type: string
                    minLength: 1
              example:
                status: 400
                title: Input is invalid
                type: https://developer.bigcommerce.com/api-docs/getting-started/api-status-codes
                detail: Syntax error
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      operationId: updateGlobalCartSettings
  /carts/settings/channels/{channel_id}:
    parameters:
    - $ref: '#/components/parameters/Accept'
    - name: channel_id
      description: The channel ID of the settings overrides.
      in: path
      required: true
      schema:
        type: integer
    get:
      summary: BigCommerce Get Channel Cart Settings
      description: Returns the per-channel overrides for the cart settings of a store.
      tags:
      - Settings
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelCartSettingsResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      operationId: getChannelCartSettings
    put:
      summary: BigCommerce Update Channel Cart Settings
      description: Update the per-channel overrides for the cart settings of a store.
      tags:
      - Settings
      parameters:
      - $ref: '#/components/parameters/ContentType'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChannelCartSettingsRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelCartSettingsResponse'
        '400':
          description: Bad Request. Input is invalid.
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  status:
                    type: number
                  title:
                    type: string
                    minLength: 1
                  type:
                    type: string
                    minLength: 1
                  detail:
                    type: string
                    minLength: 1
              example:
                status: 400
                title: Input is invalid
                type: https://developer.bigcommerce.com/api-docs/getting-started/api-status-codes
                detail: Syntax error
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      operationId: updateChannelCartSettings
components:
  parameters:
    Accept:
      name: Accept
      in: header
      required: true
      description: The [MIME type](https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/MIME_types) of the response body.
      schema:
        type: string
        default: application/json
    ContentType:
      name: Content-Type
      in: header
      required: true
      schema:
        type: string
        default: application/json
  schemas:
    metaCollection_open:
      title: Response meta
      type: object
      properties: {}
      additionalProperties: true
      description: Response metadata.
    ChannelCartSettingsResponse:
      description: The response object of cart settings overrides for a channel.
      type: object
      properties:
        data:
          $ref: '#/components/schemas/ChannelCartSettings'
        meta:
          $ref: '#/components/schemas/metaCollection_open'
      x-tags:
      - Models
    ErrorResponse:
      type: object
      properties:
        status:
          type: integer
        title:
          type: string
        type:
          type: string
        instance:
          type: string
        errors:
          type: object
      x-tags:
      - Models
    GlobalCartSettingsResponse:
      description: The response object of cart settings at the global level.
      type: object
      properties:
        data:
          $ref: '#/components/schemas/CartSettings'
        meta:
          $ref: '#/components/schemas/metaCollection_open'
      x-tags:
      - Models
    CartSettings:
      description: Represents all settings related to the shopping cart functionality of a store.
      type: object
      properties:
        allow_purchasing:
          type: boolean
      x-tags:
      - Models
    ChannelCartSettingsRequest:
      allOf:
      - $ref: '#/components/schemas/ChannelCartSettings'
      - description: The request object for updating the cart settings overrides of a store for a channel.
      x-tags:
      - Models
    GlobalCartSettingsRequest:
      allOf:
      - $ref: '#/components/schemas/CartSettings'
      - description: The request object for updating the cart settings of a store at the global level.
        required:
        - allow_purchasing
      x-tags:
      - Models
    ChannelCartSettings:
      description: Represents all settings overrides related to the shopping cart functionality of a store for a channel.
      type: object
      properties:
        allow_purchasing:
          type: boolean
          nullable: true
      x-tags:
      - Models
  securitySchemes:
    X-Auth-Token:
      name: X-Auth-Token
      description: '### OAuth scopes


        | UI Name | Permission | Parameter |

        |:--|:--|:-|

        | Information & Settings  | read-only  | `store_v2_information_read_only`|

        | Information & Settings  | modify     | `store_v2_information`          |


        ### Authentication header


        | Header | Argument | Description |

        |:-|:|:|

        | `X-Auth-Token` | `access_token` | For more about API accounts that generate `access_token`s, see our [Guide to API Accounts](/docs/start/authentication/api-accounts). |


        ### Further reading


        For example requests and more information about authenticating BigCommerce APIs, see [Authentication and Example Requests](/docs/start/authentication#x-auth-token-header-example-requests).


        For more about BigCommerce OAuth scopes, see our [Guide to API Accounts](/docs/start/authentication/api-accounts#oauth-scopes).


        For a list of API status codes, see [API Status Codes](/docs/start/about/status-codes).'
      type: apiKey
      in: header
