openapi: 3.2.0
info:
  title: BigCommerce Themes Theme Actions API
  version: ''
  description: Backup, restore, download, and activate themes; and, get the status of theme jobs and read theme configurations.
  termsOfService: https://www.bigcommerce.com/terms
  contact:
    name: BigCommerce
    url: https://www.bigcommerce.com
    email: support@bigcommerce.com
  license:
    name: ''
servers:
- url: https://api.bigcommerce.com/stores/{store_hash}/v3
  variables:
    store_hash:
      default: store_hash
      description: Permanent ID of the BigCommerce store.
  description: BigCommerce API Gateway
security:
- X-Auth-Token: []
tags:
- name: Theme Actions
paths:
  /themes/{uuid}/actions/download:
    parameters:
    - $ref: '#/components/parameters/Accept'
    - $ref: '#/components/parameters/ThemeIdParam'
    post:
      tags:
      - Theme Actions
      operationId: downloadStoreTheme
      summary: BigCommerce Download a Theme
      parameters:
      - $ref: '#/components/parameters/ContentType'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WhichThemeToDownload'
        required: true
        x-examples:
          application/json:
            which: last_created
      responses:
        '200':
          description: Job ID for the background job processing the download.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobId'
              examples:
                response:
                  value:
                    job_id: ceea1917b1518f5ae491da6ad8a56336
        default:
          description: Error message.
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  description: 'Error payload for the BigCommerce API.

                    '
                  properties:
                    status:
                      description: 'The HTTP status code.

                        '
                      type: integer
                    title:
                      description: 'The error title describing the particular error.

                        '
                      type: string
                    type:
                      type: string
                    instance:
                      type: string
                  title: Base Error
                - type: object
                  properties:
                    errors:
                      type: object
                      properties: {}
                      additionalProperties: true
                      title: Detailed Errors
                title: Error Response
      description: Downloads a stores *Theme*.
  /themes/actions/activate:
    parameters:
    - $ref: '#/components/parameters/Accept'
    - name: channel_id
      in: query
      schema:
        type: integer
      description: The ID for the channel where you want to activate the theme.
    post:
      tags:
      - Theme Actions
      operationId: activateStoreTheme
      summary: BigCommerce Activate a Theme
      parameters:
      - $ref: '#/components/parameters/ContentType'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Activate'
        description: Request parameters.
        required: true
        x-examples:
          application/json:
            variation_id: 87be3180-731f-0136-9d2f-633ff0d6ced1
            which: original
      responses:
        '204':
          description: This returns when the request is successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoContent'
        default:
          description: Error message.
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  description: 'Error payload for the BigCommerce API.

                    '
                  properties:
                    status:
                      description: 'The HTTP status code.

                        '
                      type: integer
                    title:
                      description: 'The error title describing the particular error.

                        '
                      type: string
                    type:
                      type: string
                    instance:
                      type: string
                  title: Base Error
                - type: object
                  properties:
                    errors:
                      type: object
                      properties: {}
                      additionalProperties: true
                      title: Detailed Errors
                title: Error Response
      description: 'Actives a store *Theme*.


        This returns a 204 response upon success.'
components:
  schemas:
    WhichThemeToDownload:
      description: 'An object specifying which theme to download. One of: `original`: the original Marketplace or uploaded custom theme; `last_activated`: the theme version most recently applied to the store; `last_created`: the theme version most recently created.'
      allOf:
      - description: 'A BigCommerce object specifying which theme to download.


          `original`: the original Marketplace or uploaded custom theme.


          `last_activated`: the theme version most recently applied to the store.


          `last_created`: the theme version most recently created.


          If `which` is missing or invalid in the request, its value will default to `last_activated`.'
        example: original
        properties:
          which:
            description: Which revision to use.
            type: string
            enum:
            - original
            - last_activated
            - last_created
      title: Which Theme To Download
      type: object
      x-internal: false
    Activate:
      description: Request definition for activation endpoint.
      required:
      - variation_id
      properties:
        variation_id:
          description: The identifier for the variation to activate.
          type: string
        which:
          description: Which configuration to use.
          type: string
          enum:
          - original
          - last_activated
          - last_created
      title: Activate
      x-internal: false
    NoContent:
      description: No-content response for the BigCommerce API.
      type: object
      properties:
        status:
          description: '204 HTTP status code.

            '
          type: integer
        title:
          description: The error title describing the situation.
          type: string
        type:
          type: string
        instance:
          type: string
      title: No Content
      x-internal: false
    JobId:
      description: The job identifier for theme upload or download.
      type: object
      properties:
        job_id:
          description: The job identifier.
          type: string
      title: Job Id
      x-internal: false
  parameters:
    Accept:
      name: Accept
      in: header
      required: true
      description: The [MIME type](https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/MIME_types) of the response body.
      schema:
        type: string
        default: application/json
    ContentType:
      name: Content-Type
      in: header
      required: true
      description: The [MIME type](https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/MIME_types) of the request body.
      schema:
        type: string
        default: application/json
    ThemeIdParam:
      name: uuid
      description: The theme identifier.
      in: path
      required: true
      schema:
        type: string
  securitySchemes:
    X-Auth-Token:
      name: X-Auth-Token
      description: '### OAuth scopes


        | UI Name | Permission | Parameter |

        |:--|:--|:-|

        |  Themes | modify | `store_themes_manage` |


        ### Authentication header


        | Header | Argument | Description |

        |:-|:|:|

        | `X-Auth-Token` | `access_token` | For more about API accounts that generate `access_token`s, see our [Guide to API Accounts](/docs/start/authentication/api-accounts). |


        ### Further reading


        For example requests and more information about authenticating BigCommerce APIs, see [Authentication and Example Requests](/docs/start/authentication#x-auth-token-header-example-requests).


        For more about BigCommerce OAuth scopes, see our [Guide to API Accounts](/docs/start/authentication/api-accounts#oauth-scopes).


        For a list of API status codes, see [API Status Codes](/docs/start/about/status-codes).'
      type: apiKey
      in: header
