openapi: 3.0.0
info:
  title: BigCommerce Abandoned Cart Emails Current Customers API
  version: 3.0.0
  termsOfService: https://www.bigcommerce.com/terms
  description: Abandoned Cart Emails V3 API managing Handlebars-based emails.
  contact:
    name: BigCommerce
    url: https://www.bigcommerce.com
    email: support@bigcommerce.com
servers:
- url: https://api.bigcommerce.com/stores/{store_hash}/v3
  variables:
    store_hash:
      default: store_hash
      description: Permanent ID of the BigCommerce store.
  description: BigCommerce API Gateway
security:
- X-Auth-Token: []
tags:
- name: Current Customers
paths:
  /customer/current.jwt:
    get:
      tags:
      - Current Customers
      summary: BigCommerce Get Current Customer
      description: 'Identify logged-in customers securely via JavaScript.


        > #### Note

        > The Send a Test Request feature is not currently supported for this endpoint.'
      operationId: getCurrentCustomer
      parameters:
      - name: app_client_id
        in: query
        required: true
        description: This is your applicationʼs client ID, which is obtained during application registration in the Developer Portal.
        schema:
          type: string
      responses:
        default:
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  customer:
                    type: object
                    properties:
                      id:
                        type: integer
                        description: Unique numeric ID of the customer.
                        example: 4927
                      email:
                        type: string
                        description: Email address of the customer.
                        example: john.doe@gmail.com
                      group_id:
                        type: string
                        description: The group to which the customer belongs.
                        example: '"6"'
                  iss:
                    type: string
                    description: Indicates the token’s issuer.
                    example: '"bc/apps"'
                  sub:
                    type: string
                    description: The subject of the JWT - same as `store_hash`.
                    example: '"abc123"'
                  iat:
                    type: integer
                    description: Time when the token was issued. This is a numeric value indicating the number of seconds since the [Unix epoch](https://en.wikipedia.org/wiki/Unix_time).
                    example: 1480831863
                  exp:
                    type: integer
                    description: Time when the token expires. The token usually expires after 15 minutes. This is a numeric value indicating the number of seconds since the [Unix epoch](https://en.wikipedia.org/wiki/Unix_time).
                    example: 1480832763
                  version:
                    type: integer
                    description: Version of the Current Customer JWT
                    example: 1
                  aud:
                    type: string
                    description: The "aud" (audience) claim identifies the recipients that the JWT is intended for. This should match the *App Client ID* and the `application_id`.
                    example: '"6sv16tfx3j5gsopm42ss5dd67g2srvq"'
                  application_id:
                    type: string
                    example: '"6sv16tasdgr2b5hs5dd67g2srvq"'
                    description: The client ID created when the token was generated.
                  store_hash:
                    type: string
                    description: The store’s unique identifier on the BigCommerce platform.
                  operation:
                    type: string
                    description: Must contain the string “current_customer”.
                    example: '"current_customer"'
              example:
                customer:
                  id: 4927
                  email: john.doe@gmail.com
                  group_id: '6'
                iss: bc/apps
                sub: abc123
                iat: 1480831863
                exp: 1480832763
                version: 1
                aud: 6sv16tfx3j5gsopm42ss5dd67g2srvq
                application_id: 6sv16tasdgr2b5hs5dd67g2srvq
                store_hash: abc123
                operation: current_customer
components:
  securitySchemes:
    X-Auth-Token:
      name: X-Auth-Token
      description: '### OAuth scopes


        | UI Name | Permission | Parameter |

        |:--|:--|:-|

        | Information & Settings  | read-only  | `store_v2_information_read_only`|

        | Information & Settings  | modify     | `store_v2_information`          |


        ### Authentication header


        | Header | Argument | Description |

        |:-|:|:|

        | `X-Auth-Token` | `access_token` | For more about API accounts that generate `access_token`s, see our [Guide to API Accounts](/docs/start/authentication/api-accounts). |


        ### Further reading


        For example requests and more information about authenticating BigCommerce APIs, see [Authentication and Example Requests](/docs/start/authentication#x-auth-token-header-example-requests).


        For more about BigCommerce OAuth scopes, see our [Guide to API Accounts](/docs/start/authentication/api-accounts#oauth-scopes).


        For a list of API status codes, see [API Status Codes](/docs/start/about/status-codes).'
      type: apiKey
      in: header
