openapi: 3.0.0
info:
  title: BigCommerce Abandoned Cart Emails Attributes API
  version: 3.0.0
  termsOfService: https://www.bigcommerce.com/terms
  description: Abandoned Cart Emails V3 API managing Handlebars-based emails.
  contact:
    name: BigCommerce
    url: https://www.bigcommerce.com
    email: support@bigcommerce.com
servers:
- url: https://api.bigcommerce.com/stores/{store_hash}/v3
  variables:
    store_hash:
      default: store_hash
      description: Permanent ID of the BigCommerce store.
  description: BigCommerce API Gateway
security:
- X-Auth-Token: []
tags:
- name: Attributes
paths:
  /customers/attributes:
    get:
      description: Returns a list of Customer Attributes. You can pass in optional filter parameters.
      summary: BigCommerce Get All Customer Attributes
      operationId: getCustomersAttributes
      deprecated: false
      parameters:
      - name: page
        in: query
        description: Page number. `page=1`
        schema:
          type: integer
      - in: query
        name: limit
        description: Items count per page. `limit=50`
        schema:
          type: number
      - name: name
        in: query
        required: false
        description: Filter items by customer attribute name. `name=Date+Joined`
        schema:
          type: string
      - name: name:like
        in: query
        required: false
        description: Filter items by substring in customer attribute name. `name:like=join`
        schema:
          type: string
      - name: type
        in: query
        required: false
        description: The type of the customer attribute.
        schema:
          type: string
      - name: date_created
        in: query
        required: false
        description: Filter items by `date_created`. `date_created=2021-01-07T20:28:16Z`
        schema:
          type: string
          format: date-time
      - name: date_created:max
        in: query
        required: false
        description: Filter items by maximum `date_created`. ISO 8601 full-date is required, ISO 8601 full-time is not required. UNIX timestamp also accepted. `date_created=2021-01-07` or `date_created=1610051296000`
        schema:
          type: string
          format: date-time
      - name: date_created:min
        in: query
        required: false
        description: Filter items by minimum `date_created`. ISO 8601 full-date is required, ISO 8601 full-time is not required. UNIX timestamp also accepted. `date_created=2021-01-07` or `date_created=1610051296000`
        schema:
          type: string
          format: date-time
      - name: date_modified
        in: query
        required: false
        description: Filter items by `date_modified`.
        schema:
          type: string
          format: date-time
      - name: date_modified:max
        in: query
        required: false
        description: Filter items by maximum `date_modified`. ISO 8601 full-date is required, ISO 8601 full-time is not required. UNIX timestamp also accepted. `date_created=2021-01-07` or `date_created=1610051296000`
        schema:
          type: string
          format: date-time
      - name: date_modified:min
        in: query
        required: false
        description: Filter items by minimum `date_modified`. ISO 8601 full-date is required, ISO 8601 full-time is not required. UNIX timestamp also accepted. `date_created=2021-01-07` or `date_created=1610051296000`
        schema:
          type: string
          format: date-time
      - name: Accept
        in: header
        schema:
          type: string
          default: application/json
      - name: Content-Type
        in: header
        schema:
          type: string
          default: application/json
      responses:
        '200':
          $ref: '#/components/responses/CustomerAttributesResponse'
      tags:
      - Attributes
    post:
      description: 'Creates a Customer Attribute. Multiple customer attributes can be created in one call.


        **Required Fields**

        * name

        * type


        **Limits**

        * Limit of 3 concurrent requests.


        **Notes**


        Once the data type is set, it cannot be changed. The attribute will need to be deleted then created again with the new data type. This will also delete it from the customer.


        Customer attributes are created separately from the customer. After the name and type are created, then the attributes can be added to the customer.


        A store cannot have more than 50 customer attributes.'
      summary: BigCommerce Create a Customer Attribute
      operationId: createCustomersAttributes
      deprecated: false
      parameters:
      - name: Accept
        in: header
        schema:
          type: string
          default: application/json
      - name: Content-Type
        in: header
        schema:
          type: string
          default: application/json
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/attribute_Post'
        required: true
        x-examples:
          application/json:
          - name: Date Joined
            type: date
      responses:
        '200':
          $ref: '#/components/responses/CustomerAttributesResponse'
        '422':
          description: 'The `Attribute` was not valid. This is the result of missing required fields, or of invalid data. See the response for more details.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
      - Attributes
    put:
      description: 'Updates a Customer Attribute. Multiple customer attributes can be updated in one call.


        **Required Fields**

        * id -- ID of the *Customer Attribute*


        Once the data type is set, it can not be changed. The attribute will need to be deleted then created again with the new data type. This will also delete it from the customer.


        **Limits**

        * Limit of 3 concurrent requests.'
      summary: BigCommerce Update a Customer Attribute
      operationId: updateCustomersAttributes
      deprecated: false
      parameters:
      - name: Accept
        in: header
        schema:
          type: string
          default: application/json
      - name: Content-Type
        in: header
        schema:
          type: string
          default: application/json
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/attribute_Put'
        required: true
        x-examples:
          application/json:
          - name: Date Joined
            id: 1
      responses:
        '200':
          $ref: '#/components/responses/CustomerAttributesResponse'
        '422':
          description: 'The `Attribute` was not valid. This is the result of missing required fields, or of invalid data. See the response for more details.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
      - Attributes
    delete:
      description: 'Deletes Customer Attributes from the store.


        **Required Query**

        * id:in -- ID of the *Customer Attribute*'
      summary: BigCommerce Delete Customer Attributes
      operationId: deleteCustomersAttributes
      deprecated: false
      parameters:
      - name: id:in
        in: query
        required: true
        description: Filter items by ID.
        style: form
        explode: false
        schema:
          type: array
          items:
            type: integer
            format: int32
      - name: Accept
        in: header
        schema:
          type: string
          default: application/json
      - name: Content-Type
        in: header
        schema:
          type: string
          default: application/json
      responses:
        '204':
          description: ''
          headers: {}
      tags:
      - Attributes
components:
  schemas:
    attribute_Post:
      title: attribute_Post
      example:
        name: attribute_string 01
        type: string
      type: object
      properties:
        name:
          description: Attribute name.
          type: string
          minLength: 1
          maxLength: 255
        type:
          title: Type
          description: 'Attribute type should match one of: string, number, date.'
          example: string
          type: string
          enum:
          - string
          - number
          - date
      required:
      - name
      - type
      x-internal: false
    attribute_Put:
      title: attribute_Put
      type: object
      properties:
        name:
          description: Attribute name.
          type: string
          minLength: 1
          maxLength: 255
        id:
          description: Attribute ID.
          type: integer
          format: int32
      required:
      - name
      - id
      description: Once the data type is set, it can not be changed. The attribute will need to be deleted then created again with the new data type. This will also delete it from the customer.
      x-internal: false
    MetaOpen:
      title: Response meta
      type: object
      properties: {}
      additionalProperties: true
      description: Response metadata.
    ErrorResponse:
      title: Error Response
      type: object
      properties:
        status:
          description: The HTTP status code.
          type: integer
          format: int32
        title:
          description: The error title describing the particular error.
          type: string
        type:
          description: A link to a list of BigCommerce API status codes.
          type: string
        instance:
          type: string
        errors:
          type: object
          additionalProperties:
            type: string
      x-internal: false
  responses:
    CustomerAttributesResponse:
      description: ''
      content:
        application/json:
          schema:
            title: CustomerAttributesResponse
            description: Response payload for the BigCommerce API.
            type: object
            properties:
              data:
                type: array
                items:
                  title: Customer Attribute
                  type: object
                  properties:
                    name:
                      description: Attribute name.
                      type: string
                      minLength: 1
                      maxLength: 255
                    type:
                      title: Type
                      description: 'Attribute type should match one of: string, number, date.'
                      example: string
                      type: string
                      enum:
                      - string
                      - number
                      - date
                    id:
                      description: Attribute ID.
                      type: integer
                      format: int32
                    date_modified:
                      description: The date on which the customer attribute was modified.
                      type: string
                      format: date-time
                    date_created:
                      description: The date of which the customer attribute was created.
                      type: string
                      format: date-time
                  required:
                  - name
                  - type
                  - id
              meta:
                $ref: '#/components/schemas/MetaOpen'
          examples:
            response:
              value:
                data:
                - id: 1
                  name: Age
                  type: string
                  date_created: '2018-11-13T21:42:06Z'
                  date_modified: '2018-11-14T16:46:23Z'
                meta: {}
  securitySchemes:
    X-Auth-Token:
      name: X-Auth-Token
      description: '### OAuth scopes


        | UI Name | Permission | Parameter |

        |:--|:--|:-|

        | Information & Settings  | read-only  | `store_v2_information_read_only`|

        | Information & Settings  | modify     | `store_v2_information`          |


        ### Authentication header


        | Header | Argument | Description |

        |:-|:|:|

        | `X-Auth-Token` | `access_token` | For more about API accounts that generate `access_token`s, see our [Guide to API Accounts](/docs/start/authentication/api-accounts). |


        ### Further reading


        For example requests and more information about authenticating BigCommerce APIs, see [Authentication and Example Requests](/docs/start/authentication#x-auth-token-header-example-requests).


        For more about BigCommerce OAuth scopes, see our [Guide to API Accounts](/docs/start/authentication/api-accounts#oauth-scopes).


        For a list of API status codes, see [API Status Codes](/docs/start/about/status-codes).'
      type: apiKey
      in: header
