openapi: 3.2.0
info:
  title: BigCommerce Themes Theme Jobs API
  version: ''
  description: Backup, restore, download, and activate themes; and, get the status of theme jobs and read theme configurations.
  termsOfService: https://www.bigcommerce.com/terms
  contact:
    name: BigCommerce
    url: https://www.bigcommerce.com
    email: support@bigcommerce.com
  license:
    name: ''
servers:
- url: https://api.bigcommerce.com/stores/{store_hash}/v3
  variables:
    store_hash:
      default: store_hash
      description: Permanent ID of the BigCommerce store.
  description: BigCommerce API Gateway
security:
- X-Auth-Token: []
tags:
- name: Theme Jobs
paths:
  /themes/jobs/{job_id}:
    parameters:
    - $ref: '#/components/parameters/Accept'
    - $ref: '#/components/parameters/JobIdParam'
    get:
      tags:
      - Theme Jobs
      operationId: getStoreThemeJob
      summary: BigCommerce Get a Theme Job
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobResponse'
              examples:
                response:
                  value:
                    data:
                      id: ceea1917b1518f5ae491da6ad8a56336
                      time: '2018-09-18T13:59:01Z'
                      status: COMPLETED
                      percent_complete: 100
                      result:
                        theme_id: ed1982d0-9d78-0136-33ba-0d84a0c6431b
                      warnings: []
                      errors: []
                    meta: {}
        default:
          description: Error message.
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  description: 'Error payload for the BigCommerce API.

                    '
                  properties:
                    status:
                      description: 'The HTTP status code.

                        '
                      type: integer
                    title:
                      description: 'The error title describing the particular error.

                        '
                      type: string
                    type:
                      type: string
                    instance:
                      type: string
                  title: Base Error
                - type: object
                  properties:
                    errors:
                      type: object
                      properties: {}
                      additionalProperties: true
                      title: Detailed Errors
                title: Error Response
      description: Returns a theme *Job*. When the job is complete, the results array provides a generated link to access the theme. The link is active for 60 seconds.
components:
  schemas:
    JobResponse:
      type: object
      properties:
        data:
          description: The job for theme upload or download
          type: object
          title: Job
          properties:
            errors:
              description: The errors.
              type: array
              items:
                type: object
                properties:
                  error:
                    description: The error.
                    type: string
                  message:
                    description: The message.
                    type: string
            id:
              description: The identifier.
              type: string
            percent_complete:
              description: The percent complete.
              type: number
            result:
              description: The result.
              type: object
              additionalProperties: true
              properties: {}
            status:
              type: string
              description: The status.
              enum:
              - COMPLETED
              - QUEUED
              - WORKING
              - FAILED
            time:
              type: string
              description: The time.
              format: date-time
            warnings:
              description: The warnings.
              type: array
              items:
                type: object
                properties:
                  message:
                    description: The message.
                    type: string
                  warning:
                    description: The warning.
                    type: string
        meta:
          $ref: '#/components/schemas/OpenMeta'
      title: Job Response
      description: Response for /GET Jobs by Id.
      x-internal: false
    OpenMeta:
      title: Response meta
      type: object
      properties: {}
      additionalProperties: true
      description: Response metadata.
  parameters:
    Accept:
      name: Accept
      in: header
      required: true
      description: The [MIME type](https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/MIME_types) of the response body.
      schema:
        type: string
        default: application/json
    JobIdParam:
      name: job_id
      description: The job identifier.
      in: path
      required: true
      schema:
        type: string
  securitySchemes:
    X-Auth-Token:
      name: X-Auth-Token
      description: '### OAuth scopes


        | UI Name | Permission | Parameter |

        |:--|:--|:-|

        |  Themes | modify | `store_themes_manage` |


        ### Authentication header


        | Header | Argument | Description |

        |:-|:|:|

        | `X-Auth-Token` | `access_token` | For more about API accounts that generate `access_token`s, see our [Guide to API Accounts](/docs/start/authentication/api-accounts). |


        ### Further reading


        For example requests and more information about authenticating BigCommerce APIs, see [Authentication and Example Requests](/docs/start/authentication#x-auth-token-header-example-requests).


        For more about BigCommerce OAuth scopes, see our [Guide to API Accounts](/docs/start/authentication/api-accounts#oauth-scopes).


        For a list of API status codes, see [API Status Codes](/docs/start/about/status-codes).'
      type: apiKey
      in: header
