openapi: 3.2.0
info:
  title: BigCommerce Sites Site Certificate API
  version: ''
  description: "Create and manage [sites](#sites) and [routes](#routes) for [headless storefront](https://support.bigcommerce.com/s/article/The-Headless-Approach#what-mean) sales [channels](/docs/rest-management/channels).\n\n## [Sites](/docs/rest-management/sites)\n\nSites link [headless storefronts](/docs/storefront/headless) to sales [channels](/docs/rest-management/channels). To [create a site](/docs/rest-management/sites#create-a-site), send a `POST` request to `/stores/{{STORE_HASH}}/v3/sites`.\n\n```http\nPOST https://api.bigcommerce.com/stores/{{STORE_HASH}}/v3/sites\nX-Auth-Token: {{ACCESS_TOKEN}}\nContent-Type: application/json\nAccept: application/json\n\n{\n  \"url\": \"http://store.example.com/\",\n  \"channel_id\": 5\n}\n```\n\n**Response**\n\n```json\n{\n  \"id\": 1,\n  \"url\": \"http://store.example.com/\",\n  \"channel_id\": 5,\n  \"created_at\": \"2022-01-04T04:15:50.000Z\",\n  \"updated_at\": \"2022-01-04T04:15:50.000Z\"\n}\n```\n\nTo [get a list of sites](/docs/rest-management/sites#get-sites), send a `GET` request to `/stores/{{STORE_HASH}}/v3/sites`.\n\n```http\nGET https://api.bigcommerce.com/stores/{{STORE_HASH}}/v3/sites\nX-Auth-Token: {{ACCESS_TOKEN}}\nAccept: application/json\n```\n\n## Site routes\n\n[Site routes](/docs/rest-management/sites/site-routes) tell BigCommerce how to link to pages on a [headless storefront](/docs/storefront/headless). To [create a route](/docs/rest-management/sites/site-routes#create-a-site-route) for a [site](#sites), send a `POST` request to `/stores/{{STORE_HASH}}/v3/sites/{site_id}/routes`.\n\n```http\nPOST https://api.bigcommerce.com/stores/{{STORE_HASH}}/v3/sites/{site_id}/routes\nX-Auth-Token: {{ACCESS_TOKEN}}\nContent-Type: application/json\nAccept: application/json\n\n{\n  \"type\": \"product\",\n  \"matching\": \"12\",\n  \"route\": \"/en/product?id=12\"\n}\n```\n\n## Route types\n\nThe following route types are supported.\n\n| Type | Description |\n|-|-|\n|`product`|Route for product details pages |\n|`brand`|Route to brand pages |\n|`category`|Route to category pages |    \n|`blog`|Route to blog page|    \n|`home`|Route to storefront homepage|\n|`cart`|Route to shopper’s cart|\n|`checkout`|Route to checkout page|\n|`search`|Route to store search page|\n|`account`|Route to account profile page|\n|`login`|Route to account login page|\n|`returns`|Route for return policy page|\n|`static`|Route to a static page|    \n|`create_account`|Route to create new shopper account page|\n|`forgot_password`|Route to shopper forgot password page|\n|`account_order_status`|Route for order status page|\n|`account_new_return`|Route for product returns page|\n|`recover_abandoned_cart`|Route for URL in emails for a shopper to recover their abandoned cart|\n\n## Route variables\n\nThe following route variables are supported.\n\n|Variable|Description|\n|-|-|\n|`{id}`|The **ID** of the requested item|\n|`{slug}`|The **slug** for the requested item (if available). Note: the `slug` value may contain `/` slash|\n|`{lang}`|The **language** string that the client is using|\n\n**Example:**\n\n```http\nPOST https://api.bigcommerce.com/stores/{{STORE_HASH}}/v3/sites/{site_id}/routes\nX-Auth-Token: {{ACCESS_TOKEN}}\nContent-Type: application/json\nAccept: application/json\n\n{\n  \"type\": \"product\",\n  \"matching\": \"*\",\n  \"route\": \"/{lang}/{slug}?id={id}\"\n}\n```\n\n## Additional Information\n\n### Related resources\n* [Channels and Listings Reference](/docs/rest-management/channels)\n* [Channels Overview](/docs/integrations/channels)\n* [Building Headless Storefronts Guide](/docs/storefront/headless)"
  termsOfService: https://www.bigcommerce.com/terms
  contact:
    name: BigCommerce
    url: https://www.bigcommerce.com
    email: support@bigcommerce.com
servers:
- url: https://api.bigcommerce.com/stores/{store_hash}/v3
  variables:
    store_hash:
      default: store_hash
      description: Permanent ID of the BigCommerce store.
  description: BigCommerce API Gateway
security:
- X-Auth-Token: []
tags:
- name: Site Certificate
paths:
  /sites/{site_id}/certificate:
    parameters:
    - $ref: '#/components/parameters/Accept'
    - in: path
      name: site_id
      schema:
        type: integer
      required: true
    get:
      summary: BigCommerce Get a Site’s SSL/TLS Certificate Information
      description: Obtain information about a site’s SSL/TLS certificate.
      tags:
      - Site Certificate
      operationId: getSiteCertificate
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CertificateResponse'
              examples: {}
    put:
      summary: BigCommerce Upsert a Site’s SSL/TLS Certificate Information
      operationId: upsertSiteCertificate
      parameters:
      - $ref: '#/components/parameters/ContentType'
      tags:
      - Site Certificate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InstallCertificateData'
        description: ''
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmptyResponse'
            Example:
              examples:
                response:
                  value: "{\n    \"data\": {},\n    \"meta\": {}\n}"
      description: '- If a value for `url` is not supplied, the saved certificate is associated with the specified site’s `primary` URL.

        - Use caution. Because this endpoint upserts, supplying an SSL certificate for a domain that already has a certificate connected overwrites the domain’s extant certificate.'''
  /sites/certificates:
    parameters:
    - $ref: '#/components/parameters/Accept'
    get:
      summary: BigCommerce Get Site Certificates
      tags:
      - Site Certificate
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCertificatesResponse'
      operationId: getSitesCertificates
      description: Return all SSL certificates connected to domains within a store.
      parameters:
      - schema:
          type: string
        in: query
        name: urls:in
        description: Query certificates by one or more URLs
components:
  schemas:
    MetaOpen:
      title: Response meta
      type: object
      properties: {}
      additionalProperties: true
      description: Response metadata.
    EmptyResponse:
      type: object
      properties:
        data:
          type: object
          properties: {}
        meta:
          type: object
          properties: {}
    CertificateResponse:
      title: CertificateResponse
      type: object
      description: ''
      properties:
        data:
          type: object
          properties:
            status:
              type: string
              enum:
              - shared
              - dedicated
            installed_certificate:
              $ref: '#/components/schemas/InstalledCertificateDetail'
        meta:
          $ref: '#/components/schemas/MetaOpen'
      x-tags:
      - Models
    CertificateWrite:
      title: CertificateWrite
      type: object
      description: ''
      properties:
        certificate:
          type: string
          description: The primary certificate, as a string.
        private_key:
          type: string
          description: The private key, as a string. Is a "write-only" field, will never be returned after write.
        intermediate_certificates:
          type: string
          description: The intermediate certificate(s), as a string.
      x-tags:
      - Models
    InstalledCertificateDetail:
      title: CertificateInfo
      description: Details about the installed certificate, including the raw certificate data, without the private key.
      type:
      - object
      - 'null'
      properties:
        common_name:
          type: string
          example: store.com
          description: Common Name on the TLS certificate.
        subject_alternative_names:
          type: array
          example:
          - store.com
          - www.store.com
          description: Subject Alternative Names for which the certificate is also valid.
          items:
            type: string
        validity_not_before:
          type: string
          example: '2018-01-04T04:15:50.000Z'
          description: When does the validity period of this certificate begin? RFC 3339.
        validity_not_after:
          type: string
          example: '2018-01-04T04:15:50.000Z'
          description: When does the validity period of this certificate end? If this date is in the past, the certificate has expired. RFC 3339.
        signing_algorithm:
          type: string
          description: Signing algorithm used to sign the certificate.
        issuer:
          type: string
        certificate:
          type: string
          description: The primary certificate, as a string.
        intermediate_certificates:
          type: string
          description: The intermediate certificate(s), as a string.
      x-tags:
      - Models
    InstallCertificateData:
      type: object
      properties:
        url:
          type: string
          description: URL for the site.
          example: kittens.mybigcommerce.com
        certificate:
          $ref: '#/components/schemas/CertificateWrite'
    GetCertificatesResponse:
      title: GetCertificatesResponse
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/InstalledCertificateDetail'
        meta:
          $ref: '#/components/schemas/MetaOpen'
  parameters:
    Accept:
      name: Accept
      in: header
      required: true
      description: The [MIME type](https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/MIME_types) of the response body.
      schema:
        type: string
        default: application/json
    ContentType:
      name: Content-Type
      in: header
      required: true
      description: The [MIME type](https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/MIME_types) of the request body.
      schema:
        type: string
        default: application/json
  securitySchemes:
    X-Auth-Token:
      name: X-Auth-Token
      description: '### OAuth scopes


        | UI Name | Permission | Parameter |

        |:--|:--|:-|

        |  Channel Listings | modify | `store_channel_listings` |

        |  Channel Listings | read-only | `store_channel_listings_read_only` |

        |  Channel Settings | modify | `store_channel_settings` |

        |  Channel Settings | read-only | `store_channel_settings_read_only` |

        |  Sites & Routes | modify | `store_sites` |

        |  Sites & Routes | read-only | `store_sites_read_only` |


        ### Authentication header


        | Header | Argument | Description |

        |:-|:|:|

        | `X-Auth-Token` | `access_token` | For more about API accounts that generate `access_token`s, see our [Guide to API Accounts](/docs/start/authentication/api-accounts). |


        ### Further reading


        For example requests and more information about authenticating BigCommerce APIs, see [Authentication and Example Requests](/docs/start/authentication#x-auth-token-header-example-requests).


        For more about BigCommerce OAuth scopes, see our [Guide to API Accounts](/docs/start/authentication/api-accounts#oauth-scopes).


        For a list of API status codes, see [API Status Codes](/docs/start/about/status-codes).'
      type: apiKey
      in: header
