openapi: 3.0.0
info:
  title: BigCommerce Abandoned Cart Emails Storefront Category API
  version: 3.0.0
  termsOfService: https://www.bigcommerce.com/terms
  description: Abandoned Cart Emails V3 API managing Handlebars-based emails.
  contact:
    name: BigCommerce
    url: https://www.bigcommerce.com
    email: support@bigcommerce.com
servers:
- url: https://api.bigcommerce.com/stores/{store_hash}/v3
  variables:
    store_hash:
      default: store_hash
      description: Permanent ID of the BigCommerce store.
  description: BigCommerce API Gateway
security:
- X-Auth-Token: []
tags:
- name: Storefront Category
paths:
  /settings/storefront/category:
    parameters:
    - $ref: '#/components/parameters/Accept'
    get:
      summary: BigCommerce Get Storefront Category Settings
      operationId: getSettingsStorefrontCategory
      description: "Returns category settings.\n\n - Channel ID can be used as a query parameter for getting channel-specific settings. If omitted, you will interact with the global setting only. \n\n - `null` indicates that a particular field has not been overridden on a channel level when channel level settings are requested and values are inherited from global level."
      parameters:
      - $ref: '#/components/parameters/ChannelIdParam'
      responses:
        '200':
          description: OK. `null` indicates that a particular field has not been overridden on a channel level when channel level settings are requested
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/StorefrontCategorySettings'
                  meta:
                    $ref: '#/components/schemas/MetaOpen'
      tags:
      - Storefront Category
    put:
      summary: BigCommerce Update Storefront Category Settings
      operationId: updateSettingsStorefrontCategory
      description: "Updates category settings.\n\n - Channel ID can be used as a query parameter for updating channel-specific settings. If omitted, you will interact with the global setting only. \n\n - `null` should be supplied to delete overrides per given channel and to inherit values from global level. Partial updates are not supported and all settings should be supplied with `null` value in order to delete overrides per channel."
      parameters:
      - $ref: '#/components/parameters/ContentType'
      - $ref: '#/components/parameters/ChannelIdParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StorefrontCategorySettings'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/StorefrontCategorySettings'
                  meta:
                    $ref: '#/components/schemas/MetaOpen'
        '422':
          $ref: '#/components/responses/422ErrorResp'
      tags:
      - Storefront Category
components:
  parameters:
    Accept:
      name: Accept
      in: header
      required: true
      description: The [MIME type](https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/MIME_types) of the response body.
      schema:
        type: string
        default: application/json
    ContentType:
      name: Content-Type
      in: header
      required: true
      description: The [MIME type](https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/MIME_types) of the request body.
      schema:
        type: string
        default: application/json
    ChannelIdParam:
      description: Channel ID to use for channel-specific setting. If omitted, you will interact with the global setting only.
      in: query
      name: channel_id
      schema:
        type: integer
  schemas:
    CategoryListingModeEnumValues:
      type: string
      enum:
      - current_category_only
      - child_categories
      - child_categories_if_category_empty
      title: CategoryListingModeEnumValues
      x-tags:
      - Models
    StorefrontCategorySettings:
      type: object
      properties:
        category_tree_depth:
          type: integer
          maximum: 8
          minimum: 1
        default_product_sort:
          $ref: '#/components/schemas/ProductSortEnumValues'
        listing_mode:
          $ref: '#/components/schemas/CategoryListingModeEnumValues'
      x-tags:
      - Models
    ProductSortEnumValues:
      description: The available sorts for PLP pages.
      type: string
      default: bestselling
      enum:
      - featured
      - bestselling
      - newest
      - alphaasc
      - alphadesc
      - pricedesc
      - priceasc
      - avgcustomerreview
      - relevance
      title: ProductSortEnumValues
      x-internal: false
    MetaOpen:
      title: Response meta
      type: object
      properties: {}
      additionalProperties: true
      description: Response metadata.
  responses:
    422ErrorResp:
      description: '`422 Unprocessable Entity` Provided settings could not be applied for some reason - detailed errors in the response.

        '
      content:
        application/json:
          examples: {}
          schema:
            description: ''
            type: object
            properties:
              errors:
                type: object
                properties:
                  ? ''
                  : type: string
                    example: 'Incorrect value [current__only], it should match one of: current_category_only,child_categories_if_category_empty,child_categories; Incorrect value [besling], it should match one of: featured, newest, bestselling, alphaasc, alphadesc, avgcustomerreview, priceasc, pricedesc, relevance'
                    minLength: 1
              status:
                type: number
                example: 422
              title:
                type: string
                example: JSON data is missing or invalid
                minLength: 1
              type:
                type: string
                example: https://developer.bigcommerce.com/api-docs/getting-started/api-status-codes
                minLength: 1
            x-examples:
              example-1:
                errors:
                  ? ''
                  : 'Incorrect value [], it should match one of: current_category_only,child_categories_if_category_empty,child_categories; Incorrect value [], it should match one of: featured, newest, bestselling, alphaasc, alphadesc, avgcustomerreview, priceasc, pricedesc, relevance'
                status: 422
                title: JSON data is missing or invalid
                type: https://developer.bigcommerce.com/api-docs/getting-started/api-status-codes
  securitySchemes:
    X-Auth-Token:
      name: X-Auth-Token
      description: '### OAuth scopes


        | UI Name | Permission | Parameter |

        |:--|:--|:-|

        | Information & Settings  | read-only  | `store_v2_information_read_only`|

        | Information & Settings  | modify     | `store_v2_information`          |


        ### Authentication header


        | Header | Argument | Description |

        |:-|:|:|

        | `X-Auth-Token` | `access_token` | For more about API accounts that generate `access_token`s, see our [Guide to API Accounts](/docs/start/authentication/api-accounts). |


        ### Further reading


        For example requests and more information about authenticating BigCommerce APIs, see [Authentication and Example Requests](/docs/start/authentication#x-auth-token-header-example-requests).


        For more about BigCommerce OAuth scopes, see our [Guide to API Accounts](/docs/start/authentication/api-accounts#oauth-scopes).


        For a list of API status codes, see [API Status Codes](/docs/start/about/status-codes).'
      type: apiKey
      in: header
