openapi: 3.0.0
info:
  title: BigCommerce Abandoned Cart Emails Methods (Deprecated) API
  version: 3.0.0
  termsOfService: https://www.bigcommerce.com/terms
  description: Abandoned Cart Emails V3 API managing Handlebars-based emails.
  contact:
    name: BigCommerce
    url: https://www.bigcommerce.com
    email: support@bigcommerce.com
servers:
- url: https://api.bigcommerce.com/stores/{store_hash}/v3
  variables:
    store_hash:
      default: store_hash
      description: Permanent ID of the BigCommerce store.
  description: BigCommerce API Gateway
security:
- X-Auth-Token: []
tags:
- name: Methods (Deprecated)
paths:
  /payments/methods:
    parameters:
    - $ref: '#/components/parameters/Accept'
    get:
      tags:
      - Methods (Deprecated)
      summary: BigCommerce Get All Payment Methods
      operationId: getAllPaymentMethods
      deprecated: true
      description: 'Gets the list of enabled payment methods. Default sorting is by payment method, alphabetically from A to Z.


        > #### Note

        > Avoid using this API operation if possible. It is not supported; therefore, all enabled providers may not appear.

        '
      parameters:
      - name: page
        in: query
        description: Optional filter param `/api/v2/payments/methods?page={number}`
        schema:
          exclusiveMaximum: false
          exclusiveMinimum: false
          type: number
      - name: limit
        in: query
        description: Optional filter param `/api/v2/payments/methods?limit={count}`
        schema:
          exclusiveMaximum: false
          exclusiveMinimum: false
          type: number
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/payment_Base'
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
components:
  parameters:
    Accept:
      name: Accept
      in: header
      required: true
      description: The [MIME type](https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/MIME_types) of the response body.
      schema:
        type: string
        default: application/json
  schemas:
    payment_Base:
      title: payment_Base
      type: object
      properties:
        code:
          type: string
          description: Unique platform-wide code identifying the payment method.
          example: squarev2
        name:
          type: string
          description: Descriptive name of the payment method.
          example: Square
        test_mode:
          type: boolean
          description: Determines whether the payment gateway is in test mode. Always false for offline payment methods.
          example: false
      example:
        code: squarev2
        name: Square
        test_mode: false
      x-internal: false
  securitySchemes:
    X-Auth-Token:
      name: X-Auth-Token
      description: '### OAuth scopes


        | UI Name | Permission | Parameter |

        |:--|:--|:-|

        | Information & Settings  | read-only  | `store_v2_information_read_only`|

        | Information & Settings  | modify     | `store_v2_information`          |


        ### Authentication header


        | Header | Argument | Description |

        |:-|:|:|

        | `X-Auth-Token` | `access_token` | For more about API accounts that generate `access_token`s, see our [Guide to API Accounts](/docs/start/authentication/api-accounts). |


        ### Further reading


        For example requests and more information about authenticating BigCommerce APIs, see [Authentication and Example Requests](/docs/start/authentication#x-auth-token-header-example-requests).


        For more about BigCommerce OAuth scopes, see our [Guide to API Accounts](/docs/start/authentication/api-accounts#oauth-scopes).


        For a list of API status codes, see [API Status Codes](/docs/start/about/status-codes).'
      type: apiKey
      in: header
