openapi: 3.0.0
info:
  title: BigCommerce Abandoned Cart Emails Checkout Billing Address API
  version: 3.0.0
  termsOfService: https://www.bigcommerce.com/terms
  description: Abandoned Cart Emails V3 API managing Handlebars-based emails.
  contact:
    name: BigCommerce
    url: https://www.bigcommerce.com
    email: support@bigcommerce.com
servers:
- url: https://api.bigcommerce.com/stores/{store_hash}/v3
  variables:
    store_hash:
      default: store_hash
      description: Permanent ID of the BigCommerce store.
  description: BigCommerce API Gateway
security:
- X-Auth-Token: []
tags:
- name: Checkout Billing Address
paths:
  /checkouts/{checkoutId}/billing-address:
    post:
      tags:
      - Checkout Billing Address
      summary: BigCommerce Add Checkout Billing Address
      description: 'Adds a billing address to an existing checkout.


        **Required Fields**

        * email

        * country_code'
      operationId: addCheckoutBillingAddress
      parameters:
      - $ref: '#/components/parameters/checkoutId'
      - $ref: '#/components/parameters/Accept'
      - $ref: '#/components/parameters/Content-Type'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddressProperties'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Checkout'
                  meta:
                    $ref: '#/components/schemas/MetaOpen'
            Available Shipping Options:
              example:
                data:
                  id: 306d57d7-124e-4112-82cd-35e060c0d4d9
                  cart:
                    id: 306d57d7-124e-4112-82cd-35e060c0d4d9
                    customer_id: 11
                    channel_id: 1
                    email: janedoe@example.com
                    currency:
                      code: USD
                    base_amount: 31.95
                    discount_amount: 0
                    cart_amount_inc_tax: 33.23
                    cart_amount_ex_tax: 31.95
                    coupons:
                    - id: 1
                      code: SHOP20
                      coupon_type: percentage_discount
                      discounted_amount: 0.9
                    discounts:
                    - id: 8edef915-8e8e-4ebd-bece-31fbb1191a7e
                      discounted_amount: 0
                    line_items:
                      physical_items:
                      - id: 8edef915-8e8e-4ebd-bece-31fbb1191a7e
                        parent_id: 123
                        variant_id: 359
                        product_id: 188
                        sku: DUST1
                        name: Hello
                        url: https://{store_hash}/all/dustpan-brush/
                        quantity: 1
                        is_taxable: true
                        image_url: https://cdn11.bigcommerce.com/s-{store_hash}/products/188/images/460/dustpan1_1024x1024_1024x1024__43447__69128.1534344539.330.500.jpg?c=2
                        discounts: []
                        coupons: []
                        discount_amount: 0
                        coupon_amount: 0
                        original_price: 35.95
                        list_price: 31.95
                        sale_price: 33.23
                        extended_list_price: 31.95
                        extended_sale_price: 33.23
                        is_require_shipping: true
                        gift_wrapping: {}
                      digital_items: []
                      gift_certificates: []
                      custom_items: []
                    created_time: '2019-08-05T15:38:14+00:00'
                    updated_time: '2019-08-05T15:41:28+00:00'
                  billing_address:
                    id: 5d484d668e5aa
                    first_name: Jane
                    last_name: Doe
                    email: janedoe@example.com
                    company: BigCommerce
                    address1: 123 Main Street
                    address2: Apt 1
                    city: Austin
                    state_or_province: ''
                    state_or_province_code: ''
                    country: ''
                    country_code: ''
                    postal_code: ''
                    phone: '12125685555'
                    custom_fields: []
                  consignments:
                  - id: 5d484e28d20a8
                    shipping_cost_inc_tax: 0
                    shipping_cost_ex_tax: 0
                    handling_cost_inc_tax: 0
                    handling_cost_ex_tax: 0
                    coupon_discounts: []
                    discounts: []
                    line_item_ids:
                    - 8edef915-8e8e-4ebd-bece-31fbb1191a7e
                    address:
                      first_name: BigCommerce
                      last_name: Cart/Checkout
                      email: jane2@example.com
                      company: ''
                      address1: 123 Main Street
                      address2: ''
                      city: Austin
                      state_or_province: Texas
                      state_or_province_code: TX
                      country: United States
                      country_code: US
                      postal_code: '78751'
                      phone: '688546'
                      customFields:
                      - field_id: field_25
                        field_value: Great!
                    available_shipping_options:
                    - id: 006a58a98c9a844225552ee2a9c60ca8
                      type: shipping_byweight
                      description: Ship by Weight
                      image_url: ''
                      cost: 8
                      transit_time: ''
                      additional_description: ''
                    - id: 722d78b5120de60a725e41be9bb8d999
                      type: shipping_flatrate
                      description: Flat Rate
                      image_url: ''
                      cost: 12
                      transit_time: ''
                      additional_description: ''
                    - id: 71090fa93c8985348892543c3f4887b6
                      type: shipping_upsready
                      description: UPS® (UPS Next Day Air®)
                      image_url: ''
                      cost: 43.9
                      transit_time: 1 business day
                      additional_description: ''
                  taxes:
                  - name: Tax
                    amount: 1.28
                  coupons: []
                  shipping_cost_total_inc_tax: 0
                  shipping_cost_total_ex_tax: 0
                  handling_cost_total_inc_tax: 0
                  handling_cost_total_ex_tax: 0
                  tax_total: 1.28
                  subtotal_inc_tax: 33.23
                  subtotal_ex_tax: 31.95
                  grand_total: 33.23
                  created_time: '2019-08-05T15:38:14+00:00'
                  updated_time: '2019-08-05T15:41:28+00:00'
                  customer_message: ''
                meta: {}
            Selected Shipping Options:
              example:
                data:
                  id: 306d57d7-124e-4112-82cd-35e060c0d4d9
                  cart:
                    id: 306d57d7-124e-4112-82cd-35e060c0d4d9
                    customer_id: 11
                    channel_id: 1
                    email: janedoe@example.com
                    currency:
                      code: USD
                    base_amount: 31.95
                    discount_amount: 0
                    cart_amount_inc_tax: 33.23
                    cart_amount_ex_tax: 31.95
                    coupons: []
                    discounts:
                    - id: 8edef915-8e8e-4ebd-bece-31fbb1191a7e
                      discounted_amount: 0
                    line_items:
                      physical_items:
                      - id: 8edef915-8e8e-4ebd-bece-31fbb1191a7e
                        parent_id: 123
                        variant_id: 359
                        product_id: 188
                        sku: DUST1
                        name: Hello
                        url: https://{store_hash}/all/dustpan-brush/
                        quantity: 1
                        is_taxable: true
                        image_url: https://cdn11.bigcommerce.com/s-{store_hash}/products/188/images/460/dustpan1_1024x1024_1024x1024__43447__69128.1534344539.330.500.jpg?c=2
                        discounts: []
                        coupons: []
                        discount_amount: 0
                        coupon_amount: 0
                        original_price: 35.95
                        list_price: 31.95
                        sale_price: 33.23
                        extended_list_price: 31.95
                        extended_sale_price: 33.23
                        is_require_shipping: true
                      digital_items: []
                      gift_certificates: []
                      custom_items: []
                    created_time: '2019-08-05T15:38:14+00:00'
                    updated_time: '2019-08-05T15:41:28+00:00'
                  billing_address:
                    id: 5d484d668e5aa
                    first_name: Jane
                    last_name: Doe
                    email: janedoe@example.com
                    company: BigCommerce
                    address1: 123 Main Street
                    address2: Apt 1
                    city: Austin
                    state_or_province: ''
                    state_or_province_code: ''
                    country: ''
                    country_code: ''
                    postal_code: ''
                    phone: '12125559659'
                    custom_fields: []
                  consignments:
                  - id: 5d484e28d20a8
                    shipping_cost_inc_tax: 8.32
                    shipping_cost_ex_tax: 8
                    handling_cost_inc_tax: 0
                    handling_cost_ex_tax: 0
                    coupon_discounts: []
                    discounts: []
                    line_item_ids:
                    - 8edef915-8e8e-4ebd-bece-31fbb1191a7e
                    selected_shipping_option:
                      id: 006a58a98c9a844225552ee2a9c60ca8
                      type: shipping_byweight
                      description: Ship by Weight
                      image_url: ''
                      cost: 8
                      transit_time: ''
                      additional_description: ''
                    address:
                      first_name: BigCommerce
                      last_name: Cart/Checkout
                      email: jane2@example.com
                      company: ''
                      address1: 123 Main Street
                      address2: ''
                      city: Austin
                      state_or_province: Texas
                      state_or_province_code: TX
                      country: United States
                      country_code: US
                      postal_code: '78751'
                      phone: '688546'
                      customFields:
                      - field_id: field_25
                        field_value: Great!
                  taxes:
                  - name: Tax
                    amount: 1.6
                  coupons: []
                  shipping_cost_total_inc_tax: 8.32
                  shipping_cost_total_ex_tax: 8
                  handling_cost_total_inc_tax: 0
                  handling_cost_total_ex_tax: 0
                  tax_total: 1.6
                  subtotal_inc_tax: 33.23
                  subtotal_ex_tax: 31.95
                  grand_total: 41.55
                  created_time: '2019-08-05T15:38:14+00:00'
                  updated_time: '2019-08-05T15:41:28+00:00'
                  customer_message: ''
                meta: {}
            Coupon Applied:
              example:
                data:
                  id: 267c5d6f-0d27-48ea-b731-e7832a4c5537
                  cart:
                    id: 267c5d6f-0d27-48ea-b731-e7832a4c5537
                    customer_id: 25
                    channel_id: 1
                    email: customer@example.com
                    currency:
                      code: USD
                    base_amount: 67
                    discount_amount: 0
                    cart_amount_inc_tax: 53.6
                    cart_amount_ex_tax: 53.6
                    coupons:
                    - id: 1
                      code: SHOP20
                      coupon_type: percentage_discount
                      discounted_amount: 13.4
                    discounts:
                    - id: 985c79a3-4c94-4104-923a-2e3d4572e72d
                      discounted_amount: 7
                    - id: b0adf3a7-7a92-44d9-ad46-87235b118e48
                      discounted_amount: 6.4
                    line_items:
                      physical_items:
                      - id: b0adf3a7-7a92-44d9-ad46-87235b118e48
                        variant_id: 528
                        product_id: 145
                        sku: htltwl-001
                        name: Hotel Towel
                        url: https://example.com/hotel-towel/
                        quantity: 1
                        is_taxable: true
                        image_url: https://cdn11.bigcommerce.com/s-29iql3rwa6/products/145/images/422/Marriott-towel-set-MAR-320-01-SET-BT-WH_xlrg__70357.1636473771.220.290.jpg?c=1
                        discounts:
                        - id: coupon
                          discounted_amount: 6.4
                        coupons: 6.4
                        discount_amount: 0
                        coupon_amount: 6.4
                        original_price: 32
                        list_price: 32
                        sale_price: 32
                        extended_list_price: 32
                        extended_sale_price: 32
                        is_require_shipping: true
                        is_mutable: true
                      digital_items:
                      - id: 985c79a3-4c94-4104-923a-2e3d4572e72d
                        variant_id: 182
                        product_id: 138
                        sku: ebk-001
                        name: eBook Download
                        url: https://example.com/digital/
                        quantity: 1
                        is_taxable: true
                        image_url: https://cdn11.bigcommerce.com/s-29iql3rwa6/products/138/images/420/thebridgebetween__54934.1636473557.220.290.png?c=1
                        discounts:
                        - id: coupon
                          discounted_amount: 7
                        coupons: 7
                        discount_amount: 0
                        coupon_amount: 7
                        original_price: 35
                        list_price: 35
                        sale_price: 35
                        extended_list_price: 35
                        extended_sale_price: 35
                        is_require_shipping: false
                        is_mutable: true
                      gift_certificates: []
                      custom_items: []
                    created_time: '2021-11-08T22:46:23+00:00'
                    updated_time: '2021-11-09T16:08:01+00:00'
                  billing_address:
                    id: 618a9ce18173e
                    first_name: Jane
                    last_name: Doe
                    email: customer@example.com
                    company: ''
                    address1: 123 Main Street
                    address2: ''
                    city: ''
                    state_or_province: ''
                    state_or_province_code: ''
                    country: ''
                    country_code: ''
                    postal_code: '29681'
                    phone: '12125556895'
                    custom_fields: []
                  consignments: []
                  taxes:
                  - name: Tax
                    amount: 0
                  coupons:
                  - id: 1
                    code: SHOP20
                    coupon_type: percentage_discount
                    discounted_amount: 13.4
                  shipping_cost_total_inc_tax: 0
                  shipping_cost_total_ex_tax: 0
                  handling_cost_total_inc_tax: 0
                  handling_cost_total_ex_tax: 0
                  tax_total: 0
                  subtotal_inc_tax: 67
                  subtotal_ex_tax: 67
                  grand_total: 53.6
                  created_time: '2021-11-08T22:46:23+00:00'
                  updated_time: '2021-11-09T16:08:01+00:00'
                  customer_message: ''
                meta: {}
            No Coupon Applied:
              example:
                data:
                  id: 267c5d6f-0d27-48ea-b731-e7832a4c5537
                  cart:
                    id: 267c5d6f-0d27-48ea-b731-e7832a4c5537
                    customer_id: 0
                    channel_id: 1
                    email: example@example.com
                    currency:
                      code: USD
                    base_amount: 67
                    discount_amount: 0
                    cart_amount_inc_tax: 67
                    cart_amount_ex_tax: 67
                    coupons: []
                    discounts:
                    - id: 985c79a3-4c94-4104-923a-2e3d4572e72d
                      discounted_amount: 0
                    - id: b0adf3a7-7a92-44d9-ad46-87235b118e48
                      discounted_amount: 0
                    line_items:
                      physical_items:
                      - id: b0adf3a7-7a92-44d9-ad46-87235b118e48
                        variant_id: 528
                        product_id: 145
                        sku: htltwl-001
                        name: Hotel Towel
                        url: https://example.com/hotel-towel/
                        quantity: 1
                        is_taxable: true
                        image_url: https://cdn11.bigcommerce.com/s-29iql3rwa6/products/145/images/422/Marriott-towel-set-MAR-320-01-SET-BT-WH_xlrg__70357.1636473771.220.290.jpg?c=1
                        discounts: []
                        coupons: []
                        discount_amount: 0
                        coupon_amount: 0
                        original_price: 32
                        list_price: 32
                        sale_price: 32
                        extended_list_price: 32
                        extended_sale_price: 32
                        is_require_shipping: true
                        is_mutable: true
                      digital_items:
                      - id: 985c79a3-4c94-4104-923a-2e3d4572e72d
                        variant_id: 182
                        product_id: 138
                        sku: ebk-001
                        name: eBook Download
                        url: https://example.com/digital/
                        quantity: 1
                        is_taxable: true
                        image_url: https://cdn11.bigcommerce.com/s-29iql3rwa6/products/138/images/420/thebridgebetween__54934.1636473557.220.290.png?c=1
                        discounts: []
                        coupons: []
                        discount_amount: 0
                        coupon_amount: 0
                        original_price: 35
                        list_price: 35
                        sale_price: 35
                        extended_list_price: 35
                        extended_sale_price: 35
                        is_require_shipping: false
                        is_mutable: true
                      gift_certificates: []
                      custom_items: []
                    created_time: '2021-11-08T22:46:23+00:00'
                    updated_time: '2021-11-09T16:06:56+00:00'
                  billing_address: {}
                  consignments: []
                  taxes:
                  - name: Tax
                    amount: 0
                  coupons: []
                  shipping_cost_total_inc_tax: 0
                  shipping_cost_total_ex_tax: 0
                  handling_cost_total_inc_tax: 0
                  handling_cost_total_ex_tax: 0
                  tax_total: 0
                  subtotal_inc_tax: 67
                  subtotal_ex_tax: 67
                  grand_total: 67
                  created_time: '2021-11-08T22:46:23+00:00'
                  updated_time: '2021-11-09T16:06:56+00:00'
                  customer_message: ''
                meta: {}
            Include promotions:
              example:
                data:
                  id: 267c5d6f-0d27-48ea-b731-e7832a4c5537
                  cart:
                    id: 267c5d6f-0d27-48ea-b731-e7832a4c5537
                    customer_id: 0
                    channel_id: 1
                    email: example@example.com
                    currency:
                      code: USD
                    base_amount: 67
                    discount_amount: 0
                    cart_amount_inc_tax: 67
                    cart_amount_ex_tax: 67
                    coupons: []
                    discounts:
                    - id: 985c79a3-4c94-4104-923a-2e3d4572e72d
                      discounted_amount: 0
                    - id: b0adf3a7-7a92-44d9-ad46-87235b118e48
                      discounted_amount: 0
                    line_items:
                      physical_items:
                      - id: b0adf3a7-7a92-44d9-ad46-87235b118e48
                        variant_id: 528
                        product_id: 145
                        sku: htltwl-001
                        name: Hotel Towel
                        url: https://example.com/hotel-towel/
                        quantity: 1
                        is_taxable: true
                        image_url: https://cdn11.bigcommerce.com/s-29iql3rwa6/products/145/images/422/Marriott-towel-set-MAR-320-01-SET-BT-WH_xlrg__70357.1636473771.220.290.jpg?c=1
                        discounts: []
                        coupons: []
                        discount_amount: 0
                        coupon_amount: 0
                        original_price: 32
                        list_price: 32
                        sale_price: 32
                        extended_list_price: 32
                        extended_sale_price: 32
                        is_require_shipping: true
                        is_mutable: true
                      digital_items:
                      - id: 985c79a3-4c94-4104-923a-2e3d4572e72d
                        variant_id: 182
                        product_id: 138
                        sku: ebk-001
                        name: eBook Download
                        url: https://example.com/digital/
                        quantity: 1
                        is_taxable: true
                        image_url: https://cdn11.bigcommerce.com/s-29iql3rwa6/products/138/images/420/thebridgebetween__54934.1636473557.220.290.png?c=1
                        discounts: []
                        coupons: []
                        discount_amount: 0
                        coupon_amount: 0
                        original_price: 35
                        list_price: 35
                        sale_price: 35
                        extended_list_price: 35
                        extended_sale_price: 35
                        is_require_shipping: false
                        is_mutable: true
                      gift_certificates: []
                      custom_items: []
                    created_time: '2021-11-08T22:46:23+00:00'
                    updated_time: '2021-11-09T16:06:56+00:00'
                  billing_address: {}
                  consignments: []
                  taxes:
                  - name: Tax
                    amount: 0
                  coupons: []
                  shipping_cost_total_inc_tax: 0
                  shipping_cost_total_ex_tax: 0
                  handling_cost_total_inc_tax: 0
                  handling_cost_total_ex_tax: 0
                  tax_total: 0
                  subtotal_inc_tax: 67
                  subtotal_ex_tax: 67
                  grand_total: 67
                  created_time: '2021-11-08T22:46:23+00:00'
                  updated_time: '2021-11-09T16:06:56+00:00'
                  customer_message: ''
                  promotions:
                  - banners:
                    - id: '3'
                      type: applied
                      page:
                      - homepage
                      - cartpage
                      text: Some text
                meta: {}
            example-1:
              example:
                data:
                  id: 497f6eca-6276-4993-bfeb-53cbbbba6f08
                  cart:
                    id: 497f6eca-6276-4993-bfeb-53cbbbba6f08
                    customer_id: 0
                    email: string@example.com
                    currency:
                      code: string
                    base_amount: 0
                    channel_id: 0
                    discount_amount: 0
                    cart_amount_inc_tax: 0
                    cart_amount_ex_tax: 0
                    coupons:
                    - code: string
                      id: 0
                      coupon_type: string
                      discounted_amount: 0
                    discounts:
                    - id: string
                      discounted_amount: 0
                    line_items:
                      physical_items:
                      - quantity: 0
                        id: string
                        variant_id: 0
                        product_id: 0
                        sku: string
                        name: string
                        url: string
                        is_taxable: true
                        image_url: string
                        discounts:
                        - id: string
                          discounted_amount: 0
                        coupons: 0
                        discount_amount: 0
                        coupon_amount: 0
                        original_price: 0
                        list_price: 0
                        sale_price: 0
                        extended_list_price: 0
                        extended_sale_price: 0
                        is_require_shipping: true
                        is_mutable: true
                        parent_id: 0
                        gift_wrapping:
                          name: string
                          message: string
                          amount: 0
                          amount_as_integer: 0
                      digital_items:
                      - quantity: 0
                        id: string
                        variant_id: 0
                        parent_id: 0
                        product_id: 0
                        sku: string
                        name: string
                        url: string
                        is_mutable: true
                        is_require_shipping: true
                        is_taxable: true
                        image_url: string
                        discounts:
                        - id: string
                          discounted_amount: 0
                        coupons: 0
                        discount_amount: 0
                        coupon_amount: 0
                        original_price: 0
                        list_price: 0
                        sale_price: 0
                        extended_list_price: 0
                        extended_sale_price: 0
                      gift_certificates:
                      - theme: string
                        amount: 0
                        sender:
                          name: string
                          email: string
                        recipient:
                          name: string
                          email: string
                        id: string
                        name: string
                        taxable: true
                        message: string
                      custom_items:
                      - quantity: 0
                        id: string
                        extended_list_price: 0
                        list_price: 0
                        sku: string
                        name: string
                        image_url: string
                    created_time: string
                    updated_time: string
                  billing_address:
                    first_name: string
                    last_name: string
                    email: string
                    company: string
                    address1: string
                    address2: string
                    city: string
                    state_or_province: string
                    state_or_province_code: string
                    country_code: string
                    postal_code: string
                    phone: '12128565555'
                    custom_fields:
                    - field_id: string
                      field_value: string
                    id: string
                  consignments:
                  - id: string
                    shippingAddress: {}
                    address:
                      first_name: string
                      last_name: string
                      email: string
                      company: string
                      address1: string
                      address2: string
                      city: string
                      state_or_province: string
                      state_or_province_code: string
                      country_code: string
                      postal_code: string
                      phone: '12125556858'
                      custom_fields:
                      - field_id: string
                        field_value: string
                      id: string
                    available_shipping_options:
                    - description: string
                      id: string
                      type: string
                      image_url: string
                      cost: 0
                      transit_time: string
                      additional_description: string
                    selected_shipping_option:
                      description: string
                      id: string
                      type: string
                      image_url: string
                      cost: 0
                      transit_time: string
                      additional_description: string
                    coupon_discounts:
                    - code: string
                      amount: 0
                    discounts:
                    - id: 0
                    shipping_cost_inc_tax: 0
                    shipping_cost_ex_tax: 0
                    handling_cost_inc_tax: 0
                    handling_cost_ex_tax: 0
                    line_item_ids:
                    - string
                  taxes:
                  - name: string
                    amount: 0
                  coupons:
                  - code: SHOPNOW
                    id: 1
                    coupon_type: percentage_discount
                    discounted_amount: 0.9
                  order_id: string
                  shipping_cost_total_inc_tax: 0
                  shipping_cost_total_ex_tax: 0
                  handling_cost_total_inc_tax: 0
                  handling_cost_total_ex_tax: 0
                  tax_total: 0
                  subtotal_inc_tax: 0
                  subtotal_ex_tax: 0
                  grand_total: 0
                  created_time: string
                  updated_time: string
                  customer_message: string
                  promotions:
                  - banners:
                    - id: '3'
                      type: applied
                      page:
                      - homepage
                      - cartpage
                      text: Some text
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /checkouts/{checkoutId}/billing-address/{addressId}:
    put:
      tags:
      - Checkout Billing Address
      summary: BigCommerce Update Checkout Billing Address
      description: Updates an existing billing address on a checkout.
      operationId: updateCheckoutBillingAddress
      parameters:
      - $ref: '#/components/parameters/checkoutId'
      - $ref: '#/components/parameters/Accept'
      - $ref: '#/components/parameters/Content-Type'
      - name: addressId
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddressProperties'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Checkout'
                  meta:
                    $ref: '#/components/schemas/MetaOpen'
            Available Shipping Options:
              example:
                data:
                  id: 306d57d7-124e-4112-82cd-35e060c0d4d9
                  cart:
                    id: 306d57d7-124e-4112-82cd-35e060c0d4d9
                    customer_id: 11
                    channel_id: 1
                    email: janedoe@example.com
                    currency:
                      code: USD
                    base_amount: 31.95
                    discount_amount: 0
                    cart_amount_inc_tax: 33.23
                    cart_amount_ex_tax: 31.95
                    coupons:
                    - id: 1
                      code: SHOP20
                      coupon_type: percentage_discount
                      discounted_amount: 0.9
                    discounts:
                    - id: 8edef915-8e8e-4ebd-bece-31fbb1191a7e
                      discounted_amount: 0
                    line_items:
                      physical_items:
                      - id: 8edef915-8e8e-4ebd-bece-31fbb1191a7e
                        parent_id: 123
                        variant_id: 359
                        product_id: 188
                        sku: DUST1
                        name: Hello
                        url: https://{store_hash}/all/dustpan-brush/
                        quantity: 1
                        is_taxable: true
                        image_url: https://cdn11.bigcommerce.com/s-{store_hash}/products/188/images/460/dustpan1_1024x1024_1024x1024__43447__69128.1534344539.330.500.jpg?c=2
                        discounts: []
                        coupons: []
                        discount_amount: 0
                        coupon_amount: 0
                        original_price: 35.95
                        list_price: 31.95
                        sale_price: 33.23
                        extended_list_price: 31.95
                        extended_sale_price: 33.23
                        is_require_shipping: true
                        gift_wrapping: {}
                      digital_items: []
                      gift_certificates: []
                      custom_items: []
                    created_time: '2019-08-05T15:38:14+00:00'
                    updated_time: '2019-08-05T15:41:28+00:00'
                  billing_address:
                    id: 5d484d668e5aa
                    first_name: Jane
                    last_name: Doe
                    email: janedoe@example.com
                    company: BigCommerce
                    address1: 123 Main Street
                    address2: Apt 1
                    city: Austin
                    state_or_province: ''
                    state_or_province_code: ''
                    country: ''
                    country_code: ''
                    postal_code: ''
                    phone: '12125685555'
                    custom_fields: []
                  consignments:
                  - id: 5d484e28d20a8
                    shipping_cost_inc_tax: 0
                    shipping_cost_ex_tax: 0
                    handling_cost_inc_tax: 0
                    handling_cost_ex_tax: 0
                    coupon_discounts: []
                    discounts: []
                    line_item_ids:
                    - 8edef915-8e8e-4ebd-bece-31fbb1191a7e
                    address:
                      first_name: BigCommerce
                      last_name: Cart/Checkout
                      email: jane2@example.com
                      company: ''
                      address1: 123 Main Street
                      address2: ''
                      city: Austin
                      state_or_province: Texas
                      state_or_province_code: TX
                      country: United States
                      country_code: US
                      postal_code: '78751'
                      phone: '688546'
                      customFields:
                      - field_id: field_25
                        field_value: Great!
                    available_shipping_options:
                    - id: 006a58a98c9a844225552ee2a9c60ca8
                      type: shipping_byweight
                      description: Ship by Weight
                      image_url: ''
                      cost: 8
                      transit_time: ''
                      additional_description: ''
                    - id: 722d78b5120de60a725e41be9bb8d999
                      type: shipping_flatrate
                      description: Flat Rate
                      image_url: ''
                      cost: 12
                      transit_time: ''
                      additional_description: ''
                    - id: 71090fa93c8985348892543c3f4887b6
                      type: shipping_upsready
                      description: UPS® (UPS Next Day Air®)
                      image_url: ''
                      cost: 43.9
                      transit_time: 1 business day
                      additional_description: ''
                  taxes:
                  - name: Tax
                    amount: 1.28
                  coupons: []
                  shipping_cost_total_inc_tax: 0
                  shipping_cost_total_ex_tax: 0
                  handling_cost_total_inc_tax: 0
                  handling_cost_total_ex_tax: 0
                  tax_total: 1.28
                  subtotal_inc_tax: 33.23
                  subtotal_ex_tax: 31.95
                  grand_total: 33.23
                  created_time: '2019-08-05T15:38:14+00:00'
                  updated_time: '2019-08-05T15:41:28+00:00'
                  customer_message: ''
                meta: {}
            Selected Shipping Options:
              example:
                data:
                  id: 306d57d7-124e-4112-82cd-35e060c0d4d9
                  cart:
                    id: 306d57d7-124e-4112-82cd-35e060c0d4d9
                    customer_id: 11
                    channel_id: 1
                    email: janedoe@example.com
                    currency:
                      code: USD
                    base_amount: 31.95
                    discount_amount: 0
                    cart_amount_inc_tax: 33.23
                    cart_amount_ex_tax: 31.95
                    coupons: []
                    discounts:
                    - id: 8edef915-8e8e-4ebd-bece-31fbb1191a7e
                      discounted_amount: 0
                    line_items:
                      physical_items:
                      - id: 8edef915-8e8e-4ebd-bece-31fbb1191a7e
                        parent_id: 123
                        variant_id: 359
                        product_id: 188
                        sku: DUST1
                        name: Hello
                        url: https://{store_hash}/all/dustpan-brush/
                        quantity: 1
                        is_taxable: true
                        image_url: https://cdn11.bigcommerce.com/s-{store_hash}/products/188/images/460/dustpan1_1024x1024_1024x1024__43447__69128.1534344539.330.500.jpg?c=2
                        discounts: []
                        coupons: []
                        discount_amount: 0
                        coupon_amount: 0
                        original_price: 35.95
                        list_price: 31.95
                        sale_price: 33.23
                        extended_list_price: 31.95
                        extended_sale_price: 33.23
                        is_require_shipping: true
                      digital_items: []
                      gift_certificates: []
                      custom_items: []
                    created_time: '2019-08-05T15:38:14+00:00'
                    updated_time: '2019-08-05T15:41:28+00:00'
                  billing_address:
                    id: 5d484d668e5aa
                    first_name: Jane
                    last_name: Doe
                    email: janedoe@example.com
                    company: BigCommerce
                    address1: 123 Main Street
                    address2: Apt 1
                    city: Austin
                    state_or_province: ''
                    state_or_province_code: ''
                    country: ''
                    country_code: ''
                    postal_code: ''
                    phone: '12125559659'
                    custom_fields: []
                  consignments:
                  - id: 5d484e28d20a8
                    shipping_cost_inc_tax: 8.32
                    shipping_cost_ex_tax: 8
                    handling_cost_inc_tax: 0
                    handling_cost_ex_tax: 0
                    coupon_discounts: []
                    discounts: []
                    line_item_ids:
                    - 8edef915-8e8e-4ebd-bece-31fbb1191a7e
                    selected_shipping_option:
                      id: 006a58a98c9a844225552ee2a9c60ca8
                      type: shipping_byweight
                      description: Ship by Weight
                      image_url: ''
                      cost: 8
                      transit_time: ''
                      additional_description: ''
                    address:
                      first_name: BigCommerce
                      last_name: Cart/Checkout
                      email: jane2@example.com
                      company: ''
                      address1: 123 Main Street
                      address2: ''
                      city: Austin
                      state_or_province: Texas
                      state_or_province_code: TX
                      country: United States
                      country_code: US
                      postal_code: '78751'
                      phone: '688546'
                      customFields:
                      - field_id: field_25
                        field_value: Great!
                  taxes:
                  - name: Tax
                    amount: 1.6
                  coupons: []
                  shipping_cost_total_inc_tax: 8.32
                  shipping_cost_total_ex_tax: 8
                  handling_cost_total_inc_tax: 0
                  handling_cost_total_ex_tax: 0
                  tax_total: 1.6
                  subtotal_inc_tax: 33.23
                  subtotal_ex_tax: 31.95
                  grand_total: 41.55
                  created_time: '2019-08-05T15:38:14+00:00'
                  updated_time: '2019-08-05T15:41:28+00:00'
                  customer_message: ''
                meta: {}
            Coupon Applied:
              example:
                data:
                  id: 267c5d6f-0d27-48ea-b731-e7832a4c5537
                  cart:
                    id: 267c5d6f-0d27-48ea-b731-e7832a4c5537
                    customer_id: 25
                    channel_id: 1
                    email: customer@example.com
                    currency:
                      code: USD
                    base_amount: 67
                    discount_amount: 0
                    cart_amount_inc_tax: 53.6
                    cart_amount_ex_tax: 53.6
                    coupons:
                    - id: 1
                      code: SHOP20
                      coupon_type: percentage_discount
                      discounted_amount: 13.4
                    discounts:
                    - id: 985c79a3-4c94-4104-923a-2e3d4572e72d
                      discounted_amount: 7
                    - id: b0adf3a7-7a92-44d9-ad46-87235b118e48
                      discounted_amount: 6.4
                    line_items:
                      physical_items:
                      - id: b0adf3a7-7a92-44d9-ad46-87235b118e48
                        variant_id: 528
                        product_id: 145
                        sku: htltwl-001
                        name: Hotel Towel
                        url: https://example.com/hotel-towel/
                        quantity: 1
                        is_taxable: true
                        image_url: https://cdn11.bigcommerce.com/s-29iql3rwa6/products/145/images/422/Marriott-towel-set-MAR-320-01-SET-BT-WH_xlrg__70357.1636473771.220.290.jpg?c=1
                        discounts:
                        - id: coupon
                          discounted_amount: 6.4
                        coupons: 6.4
                        discount_amount: 0
                        coupon_amount: 6.4
                        original_price: 32
                        list_price: 32
                        sale_price: 32
                        extended_list_price: 32
                        extended_sale_price: 32
                        is_require_shipping: true
                        is_mutable: true
                      digital_items:
                      - id: 985c79a3-4c94-4104-923a-2e3d4572e72d
                        variant_id: 182
                        product_id: 138
                        sku: ebk-001
                        name: eBook Download
                        url: https://example.com/digital/
                        quantity: 1
                        is_taxable: true
                        image_url: https://cdn11.bigcommerce.com/s-29iql3rwa6/products/138/images/420/thebridgebetween__54934.1636473557.220.290.png?c=1
                        discounts:
                        - id: coupon
                          discounted_amount: 7
                        coupons: 7
                        discount_amount: 0
                        coupon_amount: 7
                        original_price: 35
                        list_price: 35
                        sale_price: 35
                        extended_list_price: 35
                        extended_sale_price: 35
                        is_require_shipping: false
                        is_mutable: true
                      gift_certificates: []
                      custom_items: []
                    created_time: '2021-11-08T22:46:23+00:00'
                    updated_time: '2021-11-09T16:08:01+00:00'
                  billing_address:
                    id: 618a9ce18173e
                    first_name: Jane
                    last_name: Doe
                    email: customer@example.com
                    company: ''
                    address1: 123 Main Street
                    address2: ''
                    city: ''
                    state_or_province: ''
                    state_or_province_code: ''
                    country: ''
                    country_code: ''
                    postal_code: '29681'
                    phone: '12125556895'
                    custom_fields: []
                  consignments: []
                  taxes:
                  - name: Tax
                    amount: 0
                  coupons:
                  - id: 1
                    code: SHOP20
                    coupon_type: percentage_discount
                    discounted_amount: 13.4
                  shipping_cost_total_inc_tax: 0
                  shipping_cost_total_ex_tax: 0
                  handling_cost_total_inc_tax: 0
                  handling_cost_total_ex_tax: 0
                  tax_total: 0
                  subtotal_inc_tax: 67
                  subtotal_ex_tax: 67
                  grand_total: 53.6
                  created_time: '2021-11-08T22:46:23+00:00'
                  updated_time: '2021-11-09T16:08:01+00:00'
                  customer_message: ''
                meta: {}
            No Coupon Applied:
              example:
                data:
                  id: 267c5d6f-0d27-48ea-b731-e7832a4c5537
                  cart:
                    id: 267c5d6f-0d27-48ea-b731-e7832a4c5537
                    customer_id: 0
                    channel_id: 1
                    email: example@example.com
                    currency:
                      code: USD
                    base_amount: 67
                    discount_amount: 0
                    cart_amount_inc_tax: 67
                    cart_amount_ex_tax: 67
                    coupons: []
                    discounts:
                    - id: 985c79a3-4c94-4104-923a-2e3d4572e72d
                      discounted_amount: 0
                    - id: b0adf3a7-7a92-44d9-ad46-87235b118e48
                      discounted_amount: 0
                    line_items:
                      physical_items:
                      - id: b0adf3a7-7a92-44d9-ad46-87235b118e48
                        variant_id: 528
                        product_id: 145
                        sku: htltwl-001
                        name: Hotel Towel
                        url: https://example.com/hotel-towel/
                        quantity: 1
                        is_taxable: true
                        image_url: https://cdn11.bigcommerce.com/s-29iql3rwa6/products/145/images/422/Marriott-towel-set-MAR-320-01-SET-BT-WH_xlrg__70357.1636473771.220.290.jpg?c=1
                        discounts: []
                        coupons: []
                        discount_amount: 0
                        coupon_amount: 0
                        original_price: 32
                        list_price: 32
                        sale_price: 32
                        extended_list_price: 32
                        extended_sale_price: 32
                        is_require_shipping: true
                        is_mutable: true
                      digital_items:
                      - id: 985c79a3-4c94-4104-923a-2e3d4572e72d
                        variant_id: 182
                        product_id: 138
                        sku: ebk-001
                        name: eBook Download
                        url: https://example.com/digital/
                        quantity: 1
                        is_taxable: true
                        image_url: https://cdn11.bigcommerce.com/s-29iql3rwa6/products/138/images/420/thebridgebetween__54934.1636473557.220.290.png?c=1
                        discounts: []
                        coupons: []
                        discount_amount: 0
                        coupon_amount: 0
                        original_price: 35
                        list_price: 35
                        sale_price: 35
                        extended_list_price: 35
                        extended_sale_price: 35
                        is_require_shipping: false
                        is_mutable: true
                      gift_certificates: []
                      custom_items: []
                    created_time: '2021-11-08T22:46:23+00:00'
                    updated_time: '2021-11-09T16:06:56+00:00'
                  billing_address: {}
                  consignments: []
                  taxes:
                  - name: Tax
                    amount: 0
                  coupons: []
                  shipping_cost_total_inc_tax: 0
                  shipping_cost_total_ex_tax: 0
                  handling_cost_total_inc_tax: 0
                  handling_cost_total_ex_tax: 0
                  tax_total: 0
                  subtotal_inc_tax: 67
                  subtotal_ex_tax: 67
                  grand_total: 67
                  created_time: '2021-11-08T22:46:23+00:00'
                  updated_time: '2021-11-09T16:06:56+00:00'
                  customer_message: ''
                meta: {}
            Include promotions:
              example:
                data:
                  id: 267c5d6f-0d27-48ea-b731-e7832a4c5537
                  cart:
                    id: 267c5d6f-0d27-48ea-b731-e7832a4c5537
                    customer_id: 0
                    channel_id: 1
                    email: example@example.com
                    currency:
                      code: USD
                    base_amount: 67
                    discount_amount: 0
                    cart_amount_inc_tax: 67
                    cart_amount_ex_tax: 67
                    coupons: []
                    discounts:
                    - id: 985c79a3-4c94-4104-923a-2e3d4572e72d
                      discounted_amount: 0
                    - id: b0adf3a7-7a92-44d9-ad46-87235b118e48
                      discounted_amount: 0
                    line_items:
                      physical_items:
                      - id: b0adf3a7-7a92-44d9-ad46-87235b118e48
                        variant_id: 528
                        product_id: 145
                        sku: htltwl-001
                        name: Hotel Towel
                        url: https://example.com/hotel-towel/
                        quantity: 1
                        is_taxable: true
                        image_url: https://cdn11.bigcommerce.com/s-29iql3rwa6/products/145/images/422/Marriott-towel-set-MAR-320-01-SET-BT-WH_xlrg__70357.1636473771.220.290.jpg?c=1
                        discounts: []
                        coupons: []
                        discount_amount: 0
                        coupon_amount: 0
                        original_price: 32
                        list_price: 32
                        sale_price: 32
                        extended_list_price: 32
                        extended_sale_price: 32
                        is_require_shipping: true
                        is_mutable: true
                      digital_items:
                      - id: 985c79a3-4c94-4104-923a-2e3d4572e72d
                        variant_id: 182
                        product_id: 138
                        sku: ebk-001
                        name: eBook Download
                        url: https://example.com/digital/
                        quantity: 1
                        is_taxable: true
                        image_url: https://cdn11.bigcommerce.com/s-29iql3rwa6/products/138/images/420/thebridgebetween__54934.1636473557.220.290.png?c=1
                        discounts: []
                        coupons: []
                        discount_amount: 0
                        coupon_amount: 0
                        original_price: 35
                        list_price: 35
                        sale_price: 35
                        extended_list_price: 35
                        extended_sale_price: 35
                        is_require_shipping: false
                        is_mutable: true
                      gift_certificates: []
                      custom_items: []
                    created_time: '2021-11-08T22:46:23+00:00'
                    updated_time: '2021-11-09T16:06:56+00:00'
                  billing_address: {}
                  consignments: []
                  taxes:
                  - name: Tax
                    amount: 0
                  coupons: []
                  shipping_cost_total_inc_tax: 0
                  shipping_cost_total_ex_tax: 0
                  handling_cost_total_inc_tax: 0
                  handling_cost_total_ex_tax: 0
                  tax_total: 0
                  subtotal_inc_tax: 67
                  subtotal_ex_tax: 67
                  grand_total: 67
                  created_time: '2021-11-08T22:46:23+00:00'
                  updated_time: '2021-11-09T16:06:56+00:00'
                  customer_message: ''
                  promotions:
                  - banners:
                    - id: '3'
                      type: applied
                      page:
                      - homepage
                      - cartpage
                      text: Some text
                meta: {}
            example-1:
              example:
                data:
                  id: 497f6eca-6276-4993-bfeb-53cbbbba6f08
                  cart:
                    id: 497f6eca-6276-4993-bfeb-53cbbbba6f08
                    customer_id: 0
                    email: string@example.com
                    currency:
                      code: string
                    base_amount: 0
                    channel_id: 0
                    discount_amount: 0
                    cart_amount_inc_tax: 0
                    cart_amount_ex_tax: 0
                    coupons:
                    - code: string
                      id: 0
                      coupon_type: string
                      discounted_amount: 0
                    discounts:
                    - id: string
                      discounted_amount: 0
                    line_items:
                      physical_items:
                      - quantity: 0
                        id: string
                        variant_id: 0
                        product_id: 0
                        sku: string
                        name: string
                        url: string
                        is_taxable: true
                        image_url: string
                        discounts:
                        - id: string
                          discounted_amount: 0
                        coupons: 0
                        discount_amount: 0
                        coupon_amount: 0
                        original_price: 0
                        list_price: 0
                        sale_price: 0
                        extended_list_price: 0
                        extended_sale_price: 0
                        is_require_shipping: true
                        is_mutable: true
                        parent_id: 0
                        gift_wrapping:
                          name: string
                          message: string
                          amount: 0
                          amount_as_integer: 0
                      digital_items:
                      - quantity: 0
                        id: string
                        variant_id: 0
                        parent_id: 0
                        product_id: 0
                        sku: string
                        name: string
                        url: string
                        is_mutable: true
                        is_require_shipping: true
                        is_taxable: true
                        image_url: string
                        discounts:
                        - id: string
                          discounted_amount: 0
                        coupons: 0
                        discount_amount: 0
                        coupon_amount: 0
                        original_price: 0
                        list_price: 0
                        sale_price: 0
                        extended_list_price: 0
                        extended_sale_price: 0
                      gift_certificates:
                      - theme: string
                        amount: 0
                        sender:
                          name: string
                          email: string
                        recipient:
                          name: string
                          email: string
                        id: string
                        name: string
                        taxable: true
                        message: string
                      custom_items:
                      - quantity: 0
                        id: string
                        extended_list_price: 0
                        list_price: 0
                        sku: string
                        name: string
                        image_url: string
                    created_time: string
                    updated_time: string
                  billing_address:
                    first_name: string
                    last_name: string
                    email: string
                    company: string
                    address1: string
                    address2: string
                    city: string
                    state_or_province: string
                    state_or_province_code: string
                    country_code: string
                    postal_code: string
                    phone: '12128565555'
                    custom_fields:
                    - field_id: string
                      field_value: string
                    id: string
                  consignments:
                  - id: string
                    shippingAddress: {}
                    address:
                      first_name: string
                      last_name: string
                      email: string
                      company: string
                      address1: string
                      address2: string
                      city: string
                      state_or_province: string
                      state_or_province_code: string
                      country_code: string
                      postal_code: string
                      phone: '12125556858'
                      custom_fields:
                      - field_id: string
                        field_value: string
                      id: string
                    available_shipping_options:
                    - description: string
                      id: string
                      type: string
                      image_url: string
                      cost: 0
                      transit_time: string
                      additional_description: string
                    selected_shipping_option:
                      description: string
                      id: string
                      type: string
                      image_url: string
                      cost: 0
                      transit_time: string
                      additional_description: string
                    coupon_discounts:
                    - code: string
                      amount: 0
                    discounts:
                    - id: 0
                    shipping_cost_inc_tax: 0
                    shipping_cost_ex_tax: 0
                    handling_cost_inc_tax: 0
                    handling_cost_ex_tax: 0
                    line_item_ids:
                    - string
                  taxes:
                  - name: string
                    amount: 0
                  coupons:
                  - code: SHOPNOW
                    id: 1
                    coupon_type: percentage_discount
                    discounted_amount: 0.9
                  order_id: string
                  shipping_cost_total_inc_tax: 0
                  shipping_cost_total_ex_tax: 0
                  handling_cost_total_inc_tax: 0
                  handling_cost_total_ex_tax: 0
                  tax_total: 0
                  subtotal_inc_tax: 0
                  subtotal_ex_tax: 0
                  grand_total: 0
                  created_time: string
                  updated_time: string
                  customer_message: string
                  promotions:
                  - banners:
                    - id: '3'
                      type: applied
                      page:
                      - homepage
                      - cartpage
                      text: Some text
      x-unitTests: []
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
components:
  parameters:
    Accept:
      name: Accept
      in: header
      required: true
      description: The [MIME type](https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/MIME_types) of the response body.
      schema:
        type: string
        default: application/json
    checkoutId:
      name: checkoutId
      in: path
      description: ID of the checkout; the same as the cart ID.
      required: true
      schema:
        type: string
    Content-Type:
      name: Content-Type
      in: header
      required: true
      description: The [MIME type](https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/MIME_types) of the request body.
      schema:
        type: string
        default: application/json
  schemas:
    Checkout:
      title: Checkout
      type: object
      x-internal: false
      properties:
        id:
          type: string
          description: ''
          format: uuid
          example: 497f6eca-6276-4993-bfeb-53cbbbba6f08
        cart:
          title: Cart
          type: object
          properties:
            id:
              type: string
              description: Cart ID, provided after creating a cart with a POST request.
              format: uuid
              example: 497f6eca-6276-4993-bfeb-53cbbbba6f08
            customer_id:
              type: integer
              description: ID of the customer to which the cart belongs.
              example: 1
            email:
              type: string
              description: The email address of the cart. This is the same email address that is used in the billing address.
              example: user@example.com
            currency:
              title: Currency
              type: object
              properties:
                code:
                  type: string
                  description: 'ISO-4217 currency code. (See: http://en.wikipedia.org/wiki/ISO_4217.)'
                  example: USD
            base_amount:
              type: number
              description: Sum of cart line-item amounts before cart-level discounts, coupons, or taxes are applied.
              format: double
              example: 5
            channel_id:
              type: number
              description: ID of channel
            discount_amount:
              type: number
              description: The amount includes order-level automatic promotions plus manual discounts and excludes coupon and product-based discounts.
              format: double
              example: 0.5
            cart_amount_inc_tax:
              type: number
              description: Sum of cart line-item amounts minus cart-level discounts and coupons including tax.
              format: double
              example: 4.14
            cart_amount_ex_tax:
              type: number
              description: Sum of cart line-item amounts minus cart-level discounts and coupons excluding tax.
              format: double
              example: 3.6
            coupons:
              type: array
              description: ''
              items:
                title: Applied Coupon
                type: object
                properties:
                  code:
                    type: string
                    description: The coupon code.
                    example: SHOPNOW
                  id:
                    type: integer
                    description: The coupon ID.
                    example: 1
                  coupon_type:
                    type: string
                    description: Key name to identify the type of coupon.
                    example: percentage_discount
                  discounted_amount:
                    type: number
                    description: The discounted amount applied within a given context.
                    format: float
                    example: 0.9
                required:
                - code
            discounts:
              type: array
              description: ''
              items:
                title: Applied Discount
                type: object
                properties:
                  id:
                    type: string
                    description: ID of the applied discount.
                    example: 5eba1f1e-0ec5-40f7-8058-f7b452c7237d
                  discounted_amount:
                    type: number
                    description: The discounted amount applied within a given context.
                    format: double
                    example: 1.4
            line_items:
              title: Line Item
              type: object
              properties:
                physical_items:
                  type: array
                  description: ''
                  items:
                    title: Item Physical
                    type: object
                    properties:
                      quantity:
                        type: number
                        description: ''
                        format: double
                      id:
                        type: string
                        description: The line-item ID.
                      variant_id:
                        type: number
                        description: ''
                        format: double
                      product_id:
                        type: number
                        description: ''
                        format: double
                      sku:
                        type: string
                        description: ''
                      name:
                        type: string
                        description: The product name of the item.
                      url:
                        type: string
                        description: The product URL.
                      is_taxable:
                        type: boolean
                        description: ''
                      image_url:
                        type: string
                        description: ''
                      discounts:
                        type: array
                        description: ''
                        items:
                          title: Applied Discount
                          type: object
                          properties:
                            id:
                              type: integer
                              description: ID of the applied discount.
                            discounted_amount:
                              type: number
                              description: The discounted amount applied within a given context.
                              format: double
                      discount_amount:
                        type: number
                        description: The total value of all discounts applied to this item.
                        format: double
                      coupon_amount:
                        type: number
                        description: The total value of all coupons applied to this item.
                        format: double
                      original_price:
                        type: number
                        description: An item’s original price is the same as the default price of the product configured in the admin panel.
                      list_price:
                        type: number
                        description: The net item price before discounts and coupons are applied. BigCommerce derives an item’s list price from the product default price or, if applicable, the sale price configured in the admin panel.
                        format: double
                      sale_price:
                        type: number
                        description: Price of the item after all discounts are applied. (The final price before tax calculation.)
                        format: double
                      extended_list_price:
                        type: number
                        description: List price of the item multiplied by the quantity.
                        format: double
                      extended_sale_price:
                        type: number
                        description: Sale price of the item multiplied by the quantity.
                        format: double
                      is_require_shipping:
                        type: boolean
                        description: ''
                      is_mutable:
                        type: boolean
                        description: ''
                      parent_id:
                        type: number
                        description: ''
                        nullable: true
                      gift_wrapping:
                        title: Gift Wrapping
                        type: object
                        nullable: true
                        properties:
                          name:
                            type: string
                            description: ''
                          message:
                            type: string
                            description: ''
                          amount:
                            type: number
                            description: ''
                            format: double
                          amount_as_integer:
                            type: number
                            description: ''
                            format: double
                    required:
                    - quantity
                digital_items:
                  type: array
                  description: ''
                  items:
                    title: Item Digital
                    type: object
                    properties:
                      quantity:
                        type: number
                        description: ''
                        format: double
                      id:
                        type: string
                        description: The line-item ID.
                      variant_id:
                        type: number
                        description: ''
                        format: double
                      parent_id:
                        type: number
                        description: ''
                        nullable: true
                      product_id:
                        type: number
                        description: ''
                        format: double
                      sku:
                        type: string
                        description: ''
                      name:
                        type: string
                        description: The product name of the item.
                      url:
                        type: string
                        description: The product URL.
                      is_mutable:
                        type: boolean
                        description: ''
                      is_require_shipping:
                        type: boolean
                        description: ''
                      is_taxable:
                        type: boolean
                        description: ''
                      image_url:
                        type: string
                        description: ''
                      discounts:
                        type: array
                        description: ''
                        items:
                          title: Applied Discount
                          type: object
                          properties:
                            id:
                              type: string
                              description: ID of the applied discount.
                              format: double
                            discounted_amount:
                              type: number
                              description: The discounted amount applied within a given context.
                              format: double
                      discount_amount:
                        type: number
                        description: The total value of all discounts applied to this item.
                        format: double
                      coupon_amount:
                        type: number
                        description: The total value of all coupons applied to this item.
                        format: double
                      original_price:
                        type: number
                        description: An item’s original price is the same as the product default price in the admin panel.
                      list_price:
                        type: number
                        description: The net item price before discounts and coupons are applied. BigCommerce derives an item’s list price from the product default price or, if applicable, the sale price configured in the admin panel.
                        format: double
                      sale_price:
                        type: number
                        description: Price of the item after all discounts are applied. (The final price before tax calculation.)
                        format: double
                      extended_list_price:
                        type: number
                        description: List price of the item multiplied by the quantity.
                        format: double
                      extended_sale_price:
                        type: number
                        description: Sale price of the item multiplied by the quantity.
                        format: double
                    required:
                    - quantity
                gift_certificates:
                  type: array
                  description: ''
                  items:
                    title: Item Gift Certificate
                    type: object
                    properties:
                      theme:
                        type: string
                        description: Currently supports `Birthday`, `Boy`, `Celebration`, `Christmas`, `General`, and `Girl`.
                      amount:
                        type: number
                        description: Value must be between 1.00 and 1,000.00 in the store’s default currency.
                        format: double
                      sender:
                        title: Contact Entity
                        type: object
                        properties:
                          name:
                            type: string
                            description: ''
                          email:
                            type: string
                            description: ''
                      recipient:
                        title: Contact Entity
                        type: object
                        properties:
                          name:
                            type: string
                            description: ''
                          email:
                            type: string
                            description: ''
                      id:
                        type: string
                        description: ''
                      name:
                        type: string
                        description: GiftCertificate-provided name that will appear in the control panel.
                      taxable:
                        type: boolean
                        description: ''
                      message:
                        type: string
                        description: Limited to 200 characters.
                    required:
                    - theme
                    - amount
                    - sender
                    - recipient
                custom_items:
                  type: array
                  items:
                    type: object
                    properties:
                      quantity:
                        type: number
                      id:
                        type: string
                      extended_list_price:
                        type: number
                      list_price:
                        type: number
                      sku:
                        type: string
                      name:
                        type: string
                      image_url:
                        type: string
                    required:
                    - quantity
              required:
              - physical_items
              - digital_items
              - gift_certificates
            created_time:
              type: string
              description: Time when the cart was created.
            updated_time:
              type: string
              description: Time when the cart was last updated.
        billing_address:
          title: Address Response
          allOf:
          - title: Address Properties
            properties:
              first_name:
                type: string
                description: ''
              last_name:
                type: string
                description: ''
              email:
                type: string
                description: ''
              company:
                type: string
                description: ''
              address1:
                type: string
                description: ''
              address2:
                type: string
                description: ''
              city:
                type: string
                description: ''
              state_or_province:
                type: string
                description: Represents state or province.
              state_or_province_code:
                type: string
                description: ''
              country_code:
                type: string
                description: ''
              postal_code:
                type: string
                description: ''
              phone:
                pattern: ^\+?[1-9]\d{1,14}(x\d{1-5})?$
                type: string
                description: ''
              custom_fields:
                type: array
                description: ''
                items:
                  title: Custom Field
                  type: object
                  properties:
                    field_id:
                      type: string
                      description: ''
                    field_value:
                      type: string
                      description: This can also be an array for fields that need to support a list of values (e.g., a set of check boxes.)
          - properties:
              id:
                type: string
                description: ''
          type: object
        consignments:
          type: array
          description: ''
          items:
            title: Consignment
            type: object
            description: This allows the use of multiple addresses. When there is only one address, this array will contain only one value, with all the items.
            properties:
              id:
                type: string
                description: ''
              shippingAddress:
                type: object
                x-deprecated: true
              address:
                title: Address Response
                allOf:
                - title: Address Properties
                  properties:
                    first_name:
                      type: string
                      description: ''
                    last_name:
                      type: string
                      description: ''
                    email:
                      type: string
                      description: ''
                    company:
                      type: string
                      description: ''
                    address1:
                      type: string
                      description: ''
                    address2:
                      type: string
                      description: ''
                    city:
                      type: string
                      description: ''
                    state_or_province:
                      type: string
                      description: Represents state or province.
                    state_or_province_code:
                      type: string
                      description: ''
                    country_code:
                      type: string
                      description: ''
                    postal_code:
                      type: string
                      description: ''
                    phone:
                      pattern: ^\+?[1-9]\d{1,14}(x\d{1-5})?$
                      type: string
                      description: ''
                    custom_fields:
                      type: array
                      description: ''
                      items:
                        title: Custom Field
                        type: object
                        properties:
                          field_id:
                            type: string
                            description: ''
                          field_value:
                            type: string
                            description: This can also be an array for fields that need to support a list of values (e.g., a set of check boxes.)
                  required:
                  - email
                  - country_code
                - properties:
                    id:
                      type: string
                      description: ''
                type: object
              available_shipping_options:
                type: array
                description: This is available only when "include=consignments.available_shipping_options" is presented in the URL.
                items:
                  title: Selected Shipping Option
                  type: object
                  properties:
                    description:
                      type: string
                      description: ''
                    id:
                      type: string
                      description: ''
                    type:
                      type: string
                      description: Specifies the type of shipping option, such as flat rate, UPS, etc.
                    image_url:
                      type: string
                      description: ''
                    cost:
                      type: number
                      description: ''
                      format: double
                    transit_time:
                      type: string
                      description: An estimate of the arrival time.
                    additional_description:
                      type: string
                      readOnly: true
                      description: Read-only field that is used for the Shipping Provider API.
              selected_shipping_option:
                title: Selected Shipping Option
                type: object
                properties:
                  description:
                    type: string
                    description: ''
                  id:
                    type: string
                    description: ''
                  type:
                    type: string
                    description: Specifies the type of shipping option, such as flat rate, UPS, etc.
                  image_url:
                    type: string
                    description: ''
                  cost:
                    type: number
                    description: ''
                  transit_time:
                    type: string
                    description: An estimate of the arrival time.
                  additional_description:
                    type: string
                    readOnly: true
                    description: Read-only field that is used for the Shipping Provider API.
              coupon_discounts:
                type: array
                description: List of consignment discounts applied through coupons.
                items:
                  title: Consignment Coupon Discount
                  type: object
                  properties:
                    code:
                      type: string
                      description: Coupon code through which this discount was applied.
                    amount:
                      type: number
                      description: ''
                      format: double
              discounts:
                type: array
                description: List of consignment discounts applied through cart-level discounts.
                items:
                  title: Consignment Discount
                  type: object
                  properties:
                    id:
                      type: integer
                      description: Discount rule ID that applied this discount.
              shipping_cost_inc_tax:
                type: number
                description: The shipping cost for this consignment including tax.
                format: double
              shipping_cost_ex_tax:
                type: number
                description: The shipping cost for this consignment excluding tax.
                format: double
              handling_cost_inc_tax:
                type: number
                description: The handling cost of shipping for this consignment including tax.
                format: double
              handling_cost_ex_tax:
                type: number
                description: The handling cost of shipping for this consignment excluding tax.
                format: double
              line_item_ids:
                type: array
                description: Array lists only one line item. To display multiple `line_item_ids`, perform a `POST` request to add consignments to the checkout using the same address.
                items:
                  type: string
              selected_pickup_option:
                $ref: '#/components/schemas/PickupOption'
        taxes:
          type: array
          description: ''
          items:
            title: Tax
            type: object
            properties:
              name:
                type: string
                description: Name of the tax.
              amount:
                type: number
                description: ''
                format: double
        coupons:
          type: array
          description: Coupons applied at checkout level.
          items:
            $ref: '#/components/schemas/AppliedCoupon'
        order_id:
          type: string
          description: ''
          nullable: true
        shipping_cost_total_inc_tax:
          type: number
          description: Shipping cost before any discounts are applied including tax.
          format: double
        shipping_cost_total_ex_tax:
          type: number
          description: Shipping cost before any discounts are applied excluding tax.
          format: double
        handling_cost_total_inc_tax:
          type: number
          description: Handling cost for all consignments including tax.
          format: double
        handling_cost_total_ex_tax:
          type: number
          description: Handling cost for all consignments excluding tax.
          format: double
        tax_total:
          type: number
          description: ''
          format: double
        subtotal_inc_tax:
          type: number
          description: Subtotal of the checkout before applying item-level discounts including tax.
          format: double
        subtotal_ex_tax:
          type: number
          description: Subtotal of the checkout before applying item-level discounts excluding tax.
          format: double
        grand_total:
          type: number
          description: The total payable amount, before applying any store credit or a gift certificate.
          format: double
        created_time:
          type: string
          description: Time when the cart was created.
        updated_time:
          type: string
          description: Time when the cart was last updated.
        customer_message:
          type: string
          description: Shopper's message provided as details for the order to be created from this checkout.
        promotions:
          type: array
          items:
            type: object
            properties:
              banners:
                title: Banner
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      description: ID of the promotion.
                    type:
                      type: string
                      description: Type of the banner.
                    page:
                      type: array
                      description: An array of the locations where the banner will display.
                      items:
                        type: string
                    text:
                      type: string
                      description: Text of the banner.
    AppliedCoupon:
      title: Applied Coupon
      required:
      - code
      type: object
      properties:
        code:
          type: string
          description: The coupon code.
          example: SHOPNOW
        id:
          type: integer
          description: The coupon ID.
          example: 1
        coupon_type:
          type: string
          description: Key name to identify the type of coupon.
          example: percentage_discount
        discounted_amount:
          type: number
          description: The discounted amount applied within a given context.
          format: float
          example: 0.9
      x-internal: false
    MetaOpen:
      title: Response meta
      type: object
      properties: {}
      additionalProperties: true
      description: Response metadata.
    PickupOption:
      type: object
      title: Pickup Option
      properties:
        pickup_method_id:
          type: integer
    AddressProperties:
      title: Address Properties
      required:
      - country_code
      - email
      type: object
      properties:
        first_name:
          type: string
          description: ''
        last_name:
          type: string
          description: ''
        email:
          type: string
          description: ''
        company:
          type: string
          description: ''
        address1:
          type: string
          description: ''
        address2:
          type: string
          description: ''
        city:
          type: string
          description: ''
        state_or_province:
          type: string
          description: Represents state or province.
        state_or_province_code:
          type: string
          description: ''
        country_code:
          type: string
          description: ''
        postal_code:
          type: string
          description: ''
        phone:
          pattern: ^\+?[1-9]\d{1,14}(x\d{1-5})?$
          type: string
          description: ''
        custom_fields:
          type: array
          description: You can retrieve custom fields from the [Get Form Fields](/docs/rest-storefront/forms#get-form-fields) endpoint.
          items:
            title: Custom Field
            type: object
            properties:
              field_id:
                type: string
                description: ''
              field_value:
                type: string
                description: This can also be an array for fields that need to support a list of values (e.g., a set of check boxes.)
      x-internal: false
  securitySchemes:
    X-Auth-Token:
      name: X-Auth-Token
      description: '### OAuth scopes


        | UI Name | Permission | Parameter |

        |:--|:--|:-|

        | Information & Settings  | read-only  | `store_v2_information_read_only`|

        | Information & Settings  | modify     | `store_v2_information`          |


        ### Authentication header


        | Header | Argument | Description |

        |:-|:|:|

        | `X-Auth-Token` | `access_token` | For more about API accounts that generate `access_token`s, see our [Guide to API Accounts](/docs/start/authentication/api-accounts). |


        ### Further reading


        For example requests and more information about authenticating BigCommerce APIs, see [Authentication and Example Requests](/docs/start/authentication#x-auth-token-header-example-requests).


        For more about BigCommerce OAuth scopes, see our [Guide to API Accounts](/docs/start/authentication/api-accounts#oauth-scopes).


        For a list of API status codes, see [API Status Codes](/docs/start/about/status-codes).'
      type: apiKey
      in: header
