openapi: 3.2.0
info:
  version: ''
  title: BigCommerce Customers V3 Channel Settings API
  description: 'Create and manage customers.


    ## Resources

    * [Customers Overview](/docs/store-operations/customers).'
  termsOfService: https://www.bigcommerce.com/terms
  contact:
    name: BigCommerce
    url: https://www.bigcommerce.com
    email: support@bigcommerce.com
servers:
- url: https://api.bigcommerce.com/stores/{store_hash}/v3
  variables:
    store_hash:
      default: store_hash
      description: Permanent ID of the BigCommerce store.
  description: BigCommerce API Gateway
security:
- X-Auth-Token: []
tags:
- name: Channel Settings
paths:
  /customers/settings/channels/{channel_id}:
    parameters:
    - schema:
        type: string
      name: channel_id
      in: path
      required: true
    get:
      tags:
      - Channel Settings
      description: "Returns the customer settings per channel.\n\n**Notes**\n\n * `null` indicates that there is no override per given channel and values are inherited from the global level."
      summary: BigCommerce Get Customer Settings per Channel
      operationId: getCustomersSettingsChannel
      parameters:
      - in: path
        name: channel_id
        schema:
          type: integer
        required: true
      responses:
        '200':
          description: Customer settings for this channel are returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerChannelSettingsObject'
              examples:
                data:
                  value:
                    privacy_settings:
                      ask_shopper_for_tracking_consent: true
                      policy_url: https://bigcommmerce.com/policy
                    customer_group_settings:
                      guest_customer_group_id: 1
                      allow_global_logins: true
    put:
      tags:
      - Channel Settings
      description: 'Update the customer settings per channel


        **Required Fields**


        * `channel_id`: Provide a `channel_id` array containing one or more channel IDs. Customers will have access to these channels and no others. This array cannot be empty.


        **Notes**


        * Setting `null` will delete override per given channel, and values will be inherited from the global level. Make sure the channel has `allow_global_logins` enabled.'
      summary: BigCommerce Update Customer Settings per Channel
      operationId: updateCustomersSettingsChannel
      parameters:
      - in: path
        name: channel_id
        schema:
          type: integer
        required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerChannelSettingsObject'
            examples:
              example-1:
                value:
                  privacy_settings:
                    ask_shopper_for_tracking_consent: true
                    policy_url: https://bigcommmerce.com/policy
                  customer_group_settings:
                    guest_customer_group_id: 0
                    default_customer_group_id: 0
                  allow_global_logins: true
        required: true
      responses:
        '200':
          description: Customer settings are returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerSettingsObject'
              examples:
                example:
                  value:
                    privacy_settings:
                      ask_shopper_for_tracking_consent: true
                      policy_url: https://bigcommmerce.com/policy
                      ask_shopper_for_tracking_consent_on_checkout: null
                    customer_group_settings:
                      guest_customer_group_id: 0
                      default_customer_group_id: 0
                    allow_global_logins: true
components:
  schemas:
    CustomerChannelSettingsObject:
      title: CustomerChannelSettingsObject
      type: object
      properties:
        privacy_settings:
          type: object
          description: Controls the privacy settings.
          properties:
            ask_shopper_for_tracking_consent:
              type: boolean
              description: Determines if a customer requires consent for tracking privacy.
            policy_url:
              type: string
              example: https://bigcommmerce.com/policy
              description: The URL for a websiteʼs privacy policy.
        customer_group_settings:
          type: object
          description: The settings for a collection of customers.
          properties:
            guest_customer_group_id:
              type: integer
              example: 0
              description: The ID for a guest customer group.
            default_customer_group_id:
              type: integer
              example: 0
              description: The ID for a default customer group.
        allow_global_logins:
          type: boolean
          description: '* Determines if a channel allows global customer to login

            * Determines if customers created on this channel will get global access/login'
      x-examples:
        example-1:
          value:
            privacy_settings:
              ask_shopper_for_tracking_consent: true
              policy_url: https://bigcommmerce.com/policy
            customer_group_settings:
              guest_customer_group_id: 0
              default_customer_group_id: 0
            allow_global_logins: true
      x-internal: false
    CustomerSettingsObject:
      title: CustomerSettingsObject
      type: object
      description: Customer Settings.
      properties:
        privacy_settings:
          type: object
          description: Controls the privacy settings.
          properties:
            ask_shopper_for_tracking_consent:
              type: boolean
              description: Determines if a customer requires consent for tracking privacy.
            policy_url:
              type: string
              example: https://bigcommmerce.com/policy
              description: The URL for a websiteʼs privacy policy.
        customer_group_settings:
          type: object
          description: The settings for a collection of customers.
          properties:
            guest_customer_group_id:
              type: integer
              example: 0
              description: The ID for a guest customer group.
            default_customer_group_id:
              type: integer
              example: 0
              description: The ID for a default customer group.
      x-examples:
        example-1:
          value:
            privacy_settings:
              ask_shopper_for_tracking_consent: true
              policy_url: https://bigcommmerce.com/policy
            customer_group_settings:
              guest_customer_group_id: 0
              default_customer_group_id: 0
      x-internal: false
  securitySchemes:
    X-Auth-Token:
      name: X-Auth-Token
      description: '### OAuth scopes


        | UI Name | Permission | Parameter |

        |:--|:--|:-|

        | Customers | modify | `store_v2_customers` |

        | Customers | read-only | `store_v2_customers_read_only` |

        | Stored Payment Instruments | modify | `store_stored_payment_instruments` |

        | Stored Payment Instruments | read-only | `store_stored_payment_instruments_read_only` |


        ### Authentication header


        | Header | Argument | Description |

        |:-|:|:|

        | `X-Auth-Token` | `access_token` | For more about API accounts that generate `access_token`s, see our [Guide to API Accounts](/docs/start/authentication/api-accounts). |


        ### Further reading


        For example requests and more information about authenticating BigCommerce APIs, see [Authentication and Example Requests](/docs/start/authentication#x-auth-token-header-example-requests).


        For more about BigCommerce OAuth scopes, see our [Guide to API Accounts](/docs/start/authentication/api-accounts#oauth-scopes).


        For a list of API status codes, see [API Status Codes](/docs/start/about/status-codes).'
      type: apiKey
      in: header
