openapi: 3.0.0
info:
  title: BigCommerce Abandoned Cart Emails Analytics API
  version: 3.0.0
  termsOfService: https://www.bigcommerce.com/terms
  description: Abandoned Cart Emails V3 API managing Handlebars-based emails.
  contact:
    name: BigCommerce
    url: https://www.bigcommerce.com
    email: support@bigcommerce.com
servers:
- url: https://api.bigcommerce.com/stores/{store_hash}/v3
  variables:
    store_hash:
      default: store_hash
      description: Permanent ID of the BigCommerce store.
  description: BigCommerce API Gateway
security:
- X-Auth-Token: []
tags:
- name: Analytics
paths:
  /settings/analytics:
    parameters:
    - $ref: '#/components/parameters/Accept'
    get:
      summary: BigCommerce Get All Web Analytics Providers
      description: Returns a list of web analytics providers.
      operationId: getAnalyticsProviders
      parameters:
      - $ref: '#/components/parameters/ChannelIdParam'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/AnalyticsProviders'
                  meta:
                    $ref: '#/components/schemas/MetaOpen'
      tags:
      - Analytics
  /settings/analytics/{id}:
    parameters:
    - $ref: '#/components/parameters/Accept'
    - name: id
      in: path
      description: Web Analytics Provider ID.
      required: true
      schema:
        type: integer
    get:
      summary: BigCommerce Get a Web Analytics Provider
      description: Returns a single web analytics provider data for a default channel.
      operationId: getAnalyticsProvider
      parameters:
      - $ref: '#/components/parameters/ChannelIdParam'
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsProvider'
        '400':
          description: Bad request. Authentication Required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse400'
        '404':
          description: The requested resource was not found. Please specify valid Web Analytics Provider ID.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse404'
      tags:
      - Analytics
    put:
      summary: BigCommerce Update a Web Analytics Provider
      description: Updates a single web analytics provider data for a default channel.
      operationId: updateAnalyticsProvider
      parameters:
      - $ref: '#/components/parameters/ContentType'
      - $ref: '#/components/parameters/ChannelIdParam'
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              properties:
                channel_id:
                  type: number
                code:
                  type: string
                  minLength: 1
                data_tag_enabled:
                  type: boolean
                enabled:
                  type: boolean
                id:
                  type: number
                is_oauth_connected: {}
                name:
                  type: string
                  minLength: 1
                version:
                  type: number
              x-examples:
                example-1:
                  channel_id: 1
                  code: GA-1234567890
                  data_tag_enabled: false
                  enabled: false
                  id: 2
                  is_oauth_connected: null
                  name: Visual Website Optimizer
                  version: 1
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsProvider'
        '400':
          description: Bad request. Authentication Required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse400'
        '404':
          description: The requested resource was not found. Please specify valid Web Analytics Provider ID.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse404'
        '409':
          description: Web Analytics Provider was in conflict with another Web Analytics Provider. This can be caused by duplicated unique values (such as ID).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse409'
        '422':
          description: Web Analytics Provider data was not valid. This is the result of missing required fields, or of invalid data. See the response for more details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse422'
      tags:
      - Analytics
components:
  schemas:
    AnalyticsProvider:
      type: object
      properties:
        code:
          description: Web Analytics Provider code.
          type: string
        enabled:
          description: Flag indicates if Web Analytics Provider is enabled or not.
          type: boolean
        id:
          description: Web Analytics Provider ID.
          type: integer
        name:
          description: Web Analytics Provider title.
          type: string
      x-internal: false
    ErrorResponse409:
      type: object
      properties:
        schema:
          $ref: '#/components/schemas/Error'
      x-internal: false
    AnalyticsProviders:
      type: array
      items:
        $ref: '#/components/schemas/AnalyticsProvider'
      x-internal: false
    ErrorResponse400:
      type: object
      properties:
        schema:
          $ref: '#/components/schemas/Error'
      x-internal: false
    ErrorResponse404:
      type: object
      properties:
        schema:
          $ref: '#/components/schemas/Error'
      x-internal: false
    Error:
      description: A standard error object.
      type: object
      properties:
        code:
          type: string
        message:
          type: string
      required:
      - code
      x-internal: false
      x-tags:
      - Common
    MetaOpen:
      title: Response meta
      type: object
      properties: {}
      additionalProperties: true
      description: Response metadata.
    ErrorResponse422:
      type: object
      properties:
        schema:
          $ref: '#/components/schemas/Error'
      x-internal: false
  parameters:
    Accept:
      name: Accept
      in: header
      required: true
      description: The [MIME type](https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/MIME_types) of the response body.
      schema:
        type: string
        default: application/json
    ContentType:
      name: Content-Type
      in: header
      required: true
      description: The [MIME type](https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/MIME_types) of the request body.
      schema:
        type: string
        default: application/json
    ChannelIdParam:
      description: Channel ID to use for channel-specific setting. If omitted, you will interact with the global setting only.
      in: query
      name: channel_id
      schema:
        type: integer
  securitySchemes:
    X-Auth-Token:
      name: X-Auth-Token
      description: '### OAuth scopes


        | UI Name | Permission | Parameter |

        |:--|:--|:-|

        | Information & Settings  | read-only  | `store_v2_information_read_only`|

        | Information & Settings  | modify     | `store_v2_information`          |


        ### Authentication header


        | Header | Argument | Description |

        |:-|:|:|

        | `X-Auth-Token` | `access_token` | For more about API accounts that generate `access_token`s, see our [Guide to API Accounts](/docs/start/authentication/api-accounts). |


        ### Further reading


        For example requests and more information about authenticating BigCommerce APIs, see [Authentication and Example Requests](/docs/start/authentication#x-auth-token-header-example-requests).


        For more about BigCommerce OAuth scopes, see our [Guide to API Accounts](/docs/start/authentication/api-accounts#oauth-scopes).


        For a list of API status codes, see [API Status Codes](/docs/start/about/status-codes).'
      type: apiKey
      in: header
