openapi: 3.2.0
info:
  title: Bigcommerce Images API
  version: ''
  contact:
    name: BigCommerce
    url: https://www.bigcommerce.com
    email: support@bigcommerce.com
  termsOfService: https://www.bigcommerce.com/terms
  description: 'Operations tagged Images across 5 of this provider''s published API definitions: catalog-brands-openapi-original.yml, catalog-categories-openapi-original.yml, catalog-product-modifiers-openapi-original.yml, catalog-product-variants-openapi-original.yml, catalog-products-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.bigcommerce.com/stores/{store_hash}/v3
  variables:
    store_hash:
      default: store_hash
      description: Permanent ID of the BigCommerce store.
  description: BigCommerce API Gateway
security:
- X-Auth-Token: []
tags:
- name: Images
paths:
  /catalog/brands/{brand_id}/image:
    parameters:
    - $ref: '#/components/parameters/Accept'
    - $ref: '#/components/parameters/BrandIdParam'
    post:
      tags:
      - Images
      summary: BigCommerce Create a Brand Image
      description: 'Creates a *Brand Image*.


        **Required Fields**

        - image_file: Form posts are the only accepted upload option.


        **Read-Only Fields**

        - id


        Only one image at a time can be created. To update a *Brand Image*, use the [Update a brand](/docs/rest-catalog/brands#update-a-brand) endpoint and an `image_url`.'
      operationId: createBrandImage
      parameters:
      - $ref: '#/components/parameters/ContentType'
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                image_file:
                  type: string
                  format: binary
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                title: Brand Image Response
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      image_url:
                        type: string
                  meta:
                    $ref: '#/components/schemas/metaEmpty_Full'
              example:
                data:
                  image_url: https://cdn11.bigcommerce.com/s-{store_hash}/product_images/k/group_1545334669__76009.png
                meta: {}
        '400':
          description: Bad Request. The requested resource could not be downloaded and may be invalid. Possible reasons include malformed request syntax or the file host blocking requests.
          content:
            application/json:
              schema:
                type: object
                properties: {}
        '404':
          description: The resource was not found.
          content:
            application/json:
              schema:
                title: Not Found
                type: object
                properties:
                  status:
                    type: integer
                    description: '404 HTTP status code.

                      '
                  title:
                    type: string
                    description: The error title describing the particular error.
                  type:
                    type: string
                  instance:
                    type: string
                description: Error payload for the BigCommerce API.
        '422':
          description: Image was not valid. This is the result of a missing `image_file` field, or of an incorrect file type. See the response for more details.
          content:
            application/json:
              schema:
                title: Error Response
                type: object
                properties:
                  errors:
                    title: Detailed Errors
                    type: object
                    properties: {}
                    additionalProperties: true
                  instance:
                    type: string
                  status:
                    type: integer
                    description: 'The HTTP status code.

                      '
                  title:
                    type: string
                    description: 'The error title describing the particular error.

                      '
                  type:
                    type: string
    delete:
      tags:
      - Images
      summary: BigCommerce Delete a Brand Image
      description: Deletes a *Brand Image*.
      operationId: deleteBrandImage
      responses:
        '204':
          description: ''
          content: {}
    servers:
    - url: https://api.bigcommerce.com/stores/{store_hash}/v3
      variables:
        store_hash:
          default: store_hash
          description: Permanent ID of the BigCommerce store.
      description: BigCommerce API Gateway
  /catalog/categories/{category_id}/image:
    parameters:
    - $ref: '#/components/parameters/Accept'
    - $ref: '#/components/parameters/CategoryIdParam'
    post:
      tags:
      - Images
      summary: BigCommerce Create a Category Image
      description: "Create a *Category Image*.\n\n **Required Fields**\n- image_file: Form posts are the only accepted upload option.\n\nOnly one image at a time can be created.\nLimit image size to 1MB.\nTo update a *Category Image*, use the [Update categories](/docs/rest-catalog/category-trees/categories#update-categories) endpoint and an `image_url`."
      operationId: createCategoryImage
      parameters:
      - $ref: '#/components/parameters/ContentType'
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                image_file:
                  type: string
                  format: binary
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                title: Create Image Response
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      image_url:
                        type: string
                  meta:
                    $ref: '#/components/schemas/metaEmpty_Full'
              example:
                data:
                  image_url: https://cdn11.bigcommerce.com/s-{store_hash}/product_images/k/group_1545334669__76009.png
                meta: {}
        '400':
          description: Bad Request. The requested resource could not be downloaded and may be invalid. Possible reasons include malformed request syntax or the file host blocking requests.
          content:
            application/json:
              schema:
                title: Error Response
                type: object
                properties: {}
        '404':
          description: 'The resource was not found.

            '
          content:
            application/json:
              schema:
                title: Not Found
                type: object
                properties:
                  status:
                    type: integer
                    description: '404 HTTP status code.

                      '
                  title:
                    type: string
                    description: The error title describing the particular error.
                  type:
                    type: string
                  instance:
                    type: string
                description: Error payload for the BigCommerce API.
        '422':
          description: 'Image was not valid. This is the result of a missing `image_file` field or an incorrect file type. See the response for more details.

            '
          content:
            application/json:
              schema:
                title: Error Response
                type: object
                properties:
                  errors:
                    title: Detailed Errors
                    type: object
                    properties: {}
                    additionalProperties: true
                  instance:
                    type: string
                  status:
                    type: integer
                    description: 'The HTTP status code.

                      '
                  title:
                    type: string
                    description: 'The error title describing the particular error.

                      '
                  type:
                    type: string
    delete:
      tags:
      - Images
      summary: BigCommerce Delete a Category Image
      description: Deletes a *Category Image*.
      operationId: deleteCategoryImage
      responses:
        '204':
          description: ''
          content: {}
    servers:
    - url: https://api.bigcommerce.com/stores/{store_hash}/v3
      variables:
        store_hash:
          default: store_hash
          description: Permanent ID of the BigCommerce store.
      description: BigCommerce API Gateway
  /catalog/products/{product_id}/modifiers/{modifier_id}/values/{value_id}/image:
    parameters:
    - $ref: '#/components/parameters/Accept'
    - $ref: '#/components/parameters/ProductIdParam'
    - $ref: '#/components/parameters/ModifierIdParam'
    - $ref: '#/components/parameters/ValueIdParam'
    post:
      tags:
      - Images
      summary: BigCommerce Create Product Modifier Image
      description: "Creates a *Modifier Image*.\n\nThe image will show on the storefront when the value is selected.\n\n **Required Fields**\n- image_file: Form posts are the only accepted upload option."
      operationId: createProductModifierImage
      parameters:
      - $ref: '#/components/parameters/ContentType'
      - name: modifier_id
        in: path
        description: 'The ID of the `Modifier`.

          '
        required: true
        schema:
          type: integer
      - name: value_id
        in: path
        description: 'The ID of the `Modifier`.

          '
        required: true
        schema:
          type: integer
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                image_file:
                  type: string
                  format: binary
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                title: Image Response
                type: object
                properties:
                  data:
                    title: Resource Image
                    type: object
                    properties:
                      image_url:
                        type: string
                        description: 'A public URL for a GIF, JPEG, or PNG image. Limit of 8MB per file.

                          '
                    description: An object containing a publicly accessible image URL, or a form post that contains an image file.
                  meta:
                    $ref: '#/components/schemas/metaEmpty_Full'
                description: 'Image Response returns for:

                  * Create Variant Image

                  * Create Modifier Image

                  * Create Category Image

                  * Create Brand Image'
              example:
                data:
                  image_url: https://cdn8.bigcommerce.com/s-id30h7ohwf/product_images/attribute_rule_images/85_source_1536863430.png
                meta: {}
        '400':
          description: Bad Request. The requested resource could not be downloaded and may be invalid. Possible reasons include malformed request syntax or the file host blocking requests.
          content:
            application/json:
              schema:
                type: object
                properties: {}
        '404':
          description: 'The resource was not found.

            '
          content:
            application/json:
              schema:
                title: Not Found
                type: object
                properties:
                  status:
                    type: integer
                    description: '404 HTTP status code.

                      '
                  title:
                    type: string
                    description: The error title describing the particular error.
                  type:
                    type: string
                  instance:
                    type: string
                description: Error payload for the BigCommerce API.
        '422':
          description: 'Modifier image was not valid. This is the result of missing `image_file` fields, or of a non-URL value for the `image_file` field. See the response for more details.

            '
          content:
            application/json:
              schema:
                title: Error Response
                type: object
                properties:
                  errors:
                    title: Detailed Errors
                    type: object
                    properties: {}
                    additionalProperties: true
                  instance:
                    type: string
                  status:
                    type: integer
                    description: 'The HTTP status code.

                      '
                  title:
                    type: string
                    description: 'The error title describing the particular error.

                      '
                  type:
                    type: string
    servers:
    - url: https://api.bigcommerce.com/stores/{store_hash}/v3
      variables:
        store_hash:
          default: store_hash
          description: Permanent ID of the BigCommerce store.
      description: BigCommerce API Gateway
  /catalog/products/{product_id}/variants/{variant_id}/image:
    parameters:
    - $ref: '#/components/parameters/Accept'
    - $ref: '#/components/parameters/ProductIdParam_2'
    - $ref: '#/components/parameters/VariantIdParam'
    post:
      tags:
      - Images
      summary: BigCommerce Create a Product Variant Image
      description: "Creates a *Variant Image*.\n\nOnly one image can be explicitly associated with a Variant. If the Variant already has an associated image, overwrites the existing Variant Image.\n\nThe image displays on the storefront when the Variant is selected.\n\n **Required Fields**\n- image_file: Form posts. Files larger than 1 MB are not accepted\n- image_url: Any publicly available URL"
      operationId: createProductVariantImage
      parameters:
      - $ref: '#/components/parameters/ContentType'
      - name: variant_id
        in: path
        description: 'ID of the variant on a product, or on an associated Price List Record.

          '
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                image_url:
                  type: string
                  description: 'A public URL for a GIF, JPEG, or PNG image. Limit of 8MB per file.

                    '
              description: An object containing a publicly accessible image URL, or a form post that contains an image file.
          multipart/form-data:
            schema:
              type: object
              properties:
                image_url:
                  type: string
                  description: 'A public URL for a GIF, JPEG, or PNG image. Limit of 8MB per file.

                    '
              description: An object containing a publicly accessible image URL, or a form post that contains an image file.
        required: false
      responses:
        '200':
          description: '`image_url` is returned for both `image_file` and `image_url`.'
          content:
            application/json:
              schema:
                title: Image Response
                type: object
                properties:
                  data:
                    title: Resource Image
                    type: object
                    properties:
                      image_url:
                        type: string
                        description: 'A public URL for a GIF, JPEG, or PNG image. Limit of 8MB per file.

                          '
                    description: An object containing a publicly accessible image URL, or a form post that contains an image file.
                  meta:
                    $ref: '#/components/schemas/metaEmpty_Full'
                description: 'Image Response returns for:

                  * Create Variant Image

                  * Create Modifier Image

                  * Create Category Image

                  * Create Brand Image'
              example:
                data:
                  image_url: https://cdn8.bigcommerce.com/s-id30h7ohwf/product_images/attribute_rule_images/85_source_1536863430.png
                meta: {}
        '400':
          description: Bad Request. The requested resource could not be downloaded and may be invalid. Possible reasons include malformed request syntax or the file host blocking requests.
          content:
            application/json:
              schema:
                type: object
                properties: {}
        '404':
          description: 'The resource was not found.

            '
          content:
            application/json:
              schema:
                title: Not Found
                type: object
                properties:
                  status:
                    type: integer
                    description: '404 HTTP status code.

                      '
                  title:
                    type: string
                    description: The error title describing the particular error.
                  type:
                    type: string
                  instance:
                    type: string
                description: Error payload for the BigCommerce API.
        '422':
          description: 'Image was not valid. This is the result of a missing `image_file` field or of an incorrect file type. See the response for more details.

            '
          content:
            application/json:
              schema:
                title: Error Response
                type: object
                properties:
                  errors:
                    title: Detailed Errors
                    type: object
                    properties: {}
                    additionalProperties: true
                  instance:
                    type: string
                  status:
                    type: integer
                    description: 'The HTTP status code.

                      '
                  title:
                    type: string
                    description: 'The error title describing the particular error.

                      '
                  type:
                    type: string
        '500':
          description: Returns for an `image_file` larger than 1 MB.
          content:
            application/json:
              schema:
                title: Error Response
                type: object
                properties:
                  errors:
                    title: Detailed Errors
                    type: object
                    properties: {}
                    additionalProperties: true
                  instance:
                    type: string
                  status:
                    type: integer
                    description: 'The HTTP status code.

                      '
                  title:
                    type: string
                    description: 'The error title describing the particular error.

                      '
                  type:
                    type: string
      x-codegen-request-body-name: body
    servers:
    - url: https://api.bigcommerce.com/stores/{store_hash}/v3
      variables:
        store_hash:
          default: store_hash
          description: Permanent ID of the BigCommerce store.
      description: BigCommerce API Gateway
  /catalog/products/{product_id}/images:
    parameters:
    - $ref: '#/components/parameters/Accept'
    - $ref: '#/components/parameters/ProductIdParam'
    get:
      tags:
      - Images
      summary: BigCommerce Get All Product Images
      description: Returns a list of *Product Images*. Optional parameters can be passed in.
      operationId: getProductImages
      parameters:
      - name: page
        in: query
        description: Specifies the page number in a limited (paginated) list of products.
        schema:
          type: integer
      - name: limit
        in: query
        description: Controls the number of items per page in a limited (paginated) list of products.
        schema:
          type: integer
      - name: include_fields
        in: query
        description: Fields to include, in a comma-separated list. The ID and the specified fields will be returned.
        schema:
          type: string
      - name: exclude_fields
        in: query
        description: Fields to exclude, in a comma-separated list. The specified fields will be excluded from a response. The ID cannot be excluded.
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                title: Product Image Collection Response
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/productImage_Full'
                  meta:
                    $ref: '#/components/schemas/metaCollection_Full'
                description: 'Response payload for the BigCommerce API.

                  '
              example:
                data:
                - id: 382
                  product_id: 158
                  is_thumbnail: true
                  sort_order: 0
                  description: ''
                  image_file: a/521/foglinenbeigestripetowel1b_1024x1024__83011__60806.jpg
                  url_zoom: https://cdn8.bigcommerce.com/s-id30h7ohwf/products/158/images/382/foglinenbeigestripetowel1b_1024x1024__83011__60806.1534344511.1280.1280.jpg?c=2
                  url_standard: https://cdn8.bigcommerce.com/s-id30h7ohwf/products/158/images/382/foglinenbeigestripetowel1b_1024x1024__83011__60806.1534344511.560.850.jpg?c=2
                  url_thumbnail: https://cdn8.bigcommerce.com/s-id30h7ohwf/products/158/images/382/foglinenbeigestripetowel1b_1024x1024__83011__60806.1534344511.330.500.jpg?c=2
                  url_tiny: https://cdn8.bigcommerce.com/s-id30h7ohwf/products/158/images/382/foglinenbeigestripetowel1b_1024x1024__83011__60806.1534344511.66.100.jpg?c=2
                  date_modified: '2018-08-15T14:48:31+00:00'
                - id: 383
                  product_id: 158
                  is_thumbnail: false
                  sort_order: 0
                  description: ''
                  image_file: k/050/foglinenbeigestripetowel2b_1024x1024__16082__46564.jpg
                  url_zoom: https://cdn8.bigcommerce.com/s-id30h7ohwf/products/158/images/383/foglinenbeigestripetowel2b_1024x1024__16082__46564.1534344511.1280.1280.jpg?c=2
                  url_standard: https://cdn8.bigcommerce.com/s-id30h7ohwf/products/158/images/383/foglinenbeigestripetowel2b_1024x1024__16082__46564.1534344511.560.850.jpg?c=2
                  url_thumbnail: https://cdn8.bigcommerce.com/s-id30h7ohwf/products/158/images/383/foglinenbeigestripetowel2b_1024x1024__16082__46564.1534344511.330.500.jpg?c=2
                  url_tiny: https://cdn8.bigcommerce.com/s-id30h7ohwf/products/158/images/383/foglinenbeigestripetowel2b_1024x1024__16082__46564.1534344511.66.100.jpg?c=2
                  date_modified: '2018-08-15T14:48:31+00:00'
                meta:
                  pagination:
                    total: 2
                    count: 2
                    per_page: 50
                    current_page: 1
                    total_pages: 1
                    links:
                      current: ?page=1&limit=50
        '204':
          description: 'There are not any images on this product.

            '
          content: {}
        '404':
          description: 'The product ID does not exist.

            '
          content:
            application/json:
              schema:
                title: Not Found
                type: object
                properties:
                  status:
                    type: integer
                    description: '404 HTTP status code.

                      '
                  title:
                    type: string
                    description: The error title describing the particular error.
                  type:
                    type: string
                  instance:
                    type: string
                description: Error payload for the BigCommerce API.
    post:
      tags:
      - Images
      summary: BigCommerce Create a Product Image
      description: "Creates a *Product Image*.\n\n **Required Fields**\n- `image_file`, or\n- `image_url`\n\n**Usage Notes**\n- `image_url` - `255` character limit\n- For file uploads, use the `multipart/form-data` media type.\n- You can create only one image at a time. A product can have up to 1000 images.\n- Supported image file types are BMP, GIF, JPEG, PNG, WBMP, XBM, and WEBP.\n- Each image file or image uploaded by URL can be up to 8 MB."
      operationId: createProductImage
      parameters:
      - $ref: '#/components/parameters/ContentType'
      requestBody:
        content:
          application/json:
            schema:
              title: Product Image Post
              description: The model for a POST to create an image on a product.
              allOf:
              - title: Product Image Base
                type: object
                properties:
                  product_id:
                    type: integer
                    description: 'The unique numeric identifier for the product with which the image is associated.

                      '
                  url_zoom:
                    readOnly: true
                    type: string
                    description: 'The zoom URL for this image. By default, this is used as the zoom image on product pages when zoom images are enabled. You should provide an image smaller than 1280x1280; otherwise, the API returns a resized image.

                      '
                  url_standard:
                    readOnly: true
                    type: string
                    description: 'The standard URL for this image. By default, this is used for product-page images.

                      '
                  url_thumbnail:
                    readOnly: true
                    type: string
                    description: 'The thumbnail URL for this image. By default, this is the image size used on the category page and in side panels.

                      '
                  url_tiny:
                    readOnly: true
                    type: string
                    description: 'The tiny URL for this image. By default, this is the image size used for thumbnails beneath the product image on a product page.

                      '
                  date_modified:
                    type: string
                    description: 'The date on which the product image was modified.

                      '
                    format: date-time
                  is_thumbnail:
                    type: boolean
                    description: 'Flag for identifying whether the image is used as the productʼs thumbnail.

                      '
                  sort_order:
                    maximum: 2147483647
                    minimum: -2147483648
                    type: integer
                    description: 'The order in which the image will be displayed on the product page. Higher integers give the image a lower priority. When updating, if the image is given a lower priority, all images with a `sort_order` the same as or greater than the imageʼs new `sort_order` value will have their `sort_order`s reordered.

                      '
                  description:
                    type: string
                    description: 'The description for the image.

                      '
                description: Common ProductImage properties.
              - type: object
                properties:
                  image_url:
                    type: string
                    description: 'Must be a fully qualified URL path, including protocol. Limit of 8MB per file.

                      '
                  image_file:
                    type: string
                    description: 'The local path to the original image file uploaded to BigCommerce. A `multipart/form-data` media type.


                      Must be sent as a `multipart/form-data` field in the request body. Limit of 8 MB per file.

                      '
          multipart/form-data:
            schema:
              title: Product Image Post
              description: The model for a POST to create an image on a product.
              allOf:
              - title: Product Image Base
                type: object
                properties:
                  id:
                    type: integer
                    description: 'The unique numeric ID of the image; increments sequentially.

                      '
                  product_id:
                    type: integer
                    description: 'The unique numeric identifier for the product with which the image is associated.

                      '
                  url_zoom:
                    readOnly: true
                    type: string
                    description: 'The zoom URL for this image. By default, this is used as the zoom image on product pages when zoom images are enabled. You should provide an image smaller than 1280x1280; otherwise, the API returns a resized image.

                      '
                  url_standard:
                    readOnly: true
                    type: string
                    description: 'The standard URL for this image. By default, this is used for product-page images.

                      '
                  url_thumbnail:
                    readOnly: true
                    type: string
                    description: 'The thumbnail URL for this image. By default, this is the image size used on the category page and in side panels.

                      '
                  url_tiny:
                    readOnly: true
                    type: string
                    description: 'The tiny URL for this image. By default, this is the image size used for thumbnails beneath the product image on a product page.

                      '
                  date_modified:
                    type: string
                    description: 'The date on which the product image was modified.

                      '
                    format: date-time
                  is_thumbnail:
                    type: boolean
                    description: 'Flag for identifying whether the image is used as the productʼs thumbnail.

                      '
                  sort_order:
                    maximum: 2147483647
                    minimum: -2147483648
                    type: integer
                    description: 'The order in which the image will be displayed on the product page. Higher integers give the image a lower priority. When updating, if the image is given a lower priority, all images with a `sort_order` the same as or greater than the imageʼs new `sort_order` value will have their `sort_order`s reordered.

                      '
                  description:
                    type: string
                    description: 'The description for the image.

                      '
                description: Common ProductImage properties.
              - type: object
                properties:
                  image_url:
                    type: string
                    description: 'Must be a fully qualified URL path, including protocol. Limit of 8MB per file.

                      '
                  image_file:
                    type: string
                    description: 'The local path to the original image file uploaded to BigCommerce. A `multipart/form-data` media type.


                      Must be sent as a multipart/form-data field in the request body. Limit of 8 MB per file.

                      '
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                title: Product Image Response
                type: object
                properties:
                  data:
                    title: Product Image
                    type: object
                    allOf:
                    - title: Product Image Base
                      type: object
                      properties:
                        id:
                          type: integer
                          description: 'The unique numeric ID of the image; increments sequentially.

                            '
                        product_id:
                          type: integer
                          description: 'The unique numeric identifier for the product with which the image is associated.

                            '
                        url_zoom:
                          readOnly: true
                          type: string
                          description: 'The zoom URL for this image. By default, this is used as the zoom image on product pages when zoom images are enabled. You should provide an image smaller than 1280x1280; otherwise, the API returns a resized image.

                            '
                        url_standard:
                          readOnly: true
                          type: string
                          description: 'The standard URL for this image. By default, this is used for product-page images.

                            '
                        url_thumbnail:
                          readOnly: true
                          type: string
                          description: 'The thumbnail URL for this image. By default, this is the image size used on the category page and in side panels.

                            '
                        url_tiny:
                          readOnly: true
                          type: string
                          description: 'The tiny URL for this image. By default, this is the image size used for thumbnails beneath the product image on a product page.

                            '
                        date_modified:
                          type: string
                          description: 'The date on which the product image was modified.

                            '
                          format: date-time
                        is_thumbnail:
                          type: boolean
                          description: 'Flag for identifying whether the image is used as the productʼs thumbnail.

                            '
                        sort_order:
                          maximum: 2147483647
                          minimum: -2147483648
                          type: integer
                          description: 'The order in which the image will be displayed on the product page. Higher integers give the image a lower priority. When updating, if the image is given a lower priority, all images with a `sort_order` the same as or greater than the imageʼs new `sort_order` value will have their `sort_order`s reordered.

                            '
                        description:
                          type: string
                          description: 'The description for the image.

                            '
                      description: Common ProductImage properties.
                    - type: object
                      properties:
                        id:
                          type: integer
                          description: 'The unique numeric ID of the image; increments sequentially.

                            '
                        product_id:
                          type: integer
                          description: 'The unique numeric identifier for the product with which the image is associated.

                            '
                        image_file:
                          type: string
                          description: 'The local path to the original image file uploaded to BigCommerce. Use image_url when creating a product.

                            A `multipart/form-data` media type.


                            Must be sent as a multipart/form-data field in the request body. Limit of 8 MB per file.'
                        url_zoom:
                          readOnly: true
                          type: string
                          description: 'The zoom URL for this image. By default, this is used as the zoom image on product pages when zoom images are enabled. You should provide an image smaller than 1280x1280; otherwise, the API returns a resized image.

                            '
                        url_standard:
                          readOnly: true
                          type: string
                          description: 'The standard URL for this image. By default, this is used for product-page images.

                            '
                        url_thumbnail:
                          readOnly: true
                          type: string
                          description: 'The thumbnail URL for this image. By default, this is the image size used on the category page and in side panels.

                            '
                        url_tiny:
                          readOnly: true
                          type: string
                          description: 'The tiny URL for this image. By default, this is the image size used for thumbnails beneath the product image on a product page.

                            '
                        date_modified:
                          type: string
                          description: 'The date on which the product image was modified.

                            '
                          format: date-time
                        image_url:
                          type: string
                          description: 'Publically available URL.

                            Use the image_url when creating a product.'
                          example: https://upload.wikimedia.org/wikipedia/commons/7/7f/Anglel_Bless_Legendary_Hills_1_m%C4%9Bs%C3%ADc_st%C3%A1%C5%99%C3%AD.jpg
                  meta:
                    $ref: '#/components/schemas/metaEmpty_Full'
                description: 'Response payload for the BigCommerce API.

                  '
              example:
                data:
                  id: 485
                  product_id: 158
                  is_thumbnail: false
                  sort_order: 1
                  description: ''
                  image_file: o/381/product-image__98178.png
                  url_zoom: https://cdn8.bigcommerce.com/s-id30h7ohwf/products/158/images/485/product-image__98178.1536854227.1280.1280.png?c=2
                  url_standard: https://cdn8.bigcommerce.com/s-id30h7ohwf/products/158/images/485/product-image__98178.1536854227.560.850.png?c=2
                  url_thumbnail: https://cdn8.bigcommerce.com/s-id30h7ohwf/products/158/images/485/product-image__98178.1536854227.330.500.png?c=2
                  url_tiny: https://cdn8.bigcommerce.com/s-id30h7ohwf/products/158/images/485/product-image__98178.1536854227.66.100.png?c=2
                  date_modified: '2018-09-13T15:57:07+00:00'
                meta: {}
        '400':
          description: Bad Request. The requested resource could not be downloaded and may be invalid. Possible reasons include malformed request syntax or the file host blocking requests.
          content:
            application/json:
              schema:
                type: object
                properties: {}
        '404':
          description: 'The product ID does not exist.

            '
          content:
            application/json:
              schema:
                title: Not Found
                type: object
                properties:
                  status:
                    type: integer
                    description: '404 HTTP status code.

                      '
                  title:
                    type: string
                    description: The error title describing the particular error.
                  type:
                    type: string
                  instance:
                    type: string
                description: Error payload for the BigCommerce API.
        '422':
          description: "Unprocessable Entity. \n\nMay occur if the `Content-Type` header is set to `multipart/form-data` rather than `application/json` when creating a product image using `image_url`."
          content:
            application/json:
              schema:
                required:
                - status
                - title
                - type
                type: object
                properties:
                  status:
                    type: number
                  title:
                    minLength: 1
                    type: string
                  type:
                    minLength: 1
                    type: string
                description: ''
              example:
                status: 422
                title: image_url must be present if uploading by url
                type: /api-docs/getting-started/api-status-codes
      x-codegen-request-body-name: productImage
    servers:
    - url: https://api.bigcommerce.com/stores/{store_hash}/v3
      variables:
        store_hash:
          default: store_hash
          description: Permanent ID of the BigCommerce store.
      description: BigCommerce API Gateway
  /catalog/products/{product_id}/images/{image_id}:
    parameters:
    - $ref: '#/components/parameters/Accept'
    - $ref: '#/components/parameters/ProductIdParam'
    - $ref: '#/components/parameters/ImageIdParam'
    get:
      tags:
      - Images
      summary: BigCommerce Get a Product Image
      description: Returns a single *Product Image*. Optional parameters can be passed in.
      operationId: getProductImage
      parameters:
      - name: include_fields
        in: query
        description: Fields to include, in a comma-separated list. The ID and the specified fields will be returned.
        schema:
          type: string
      - name: exclude_fields
        in: query
        description: Fields to exclude, in a comma-separated list. The specified fields will be excluded from a response. The ID cannot be excluded.
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                title: Product Image Response
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/productImage_Full'
                  meta:
                    $ref: '#/components/schemas/metaEmpty_Full'
                description: 'Response payload for the BigCommerce API.

                  '
              example:
                data:
                  id: 485
                  product_id: 158
                  is_thumbnail: false
                  sort_order: 1
                  description: ''
                  image_file: o/381/product-image__98178.png
                  url_zoom: https://cdn8.bigcommerce.com/s-id30h7ohwf/products/158/images/485/product-image__98178.1536854227.1280.1280.png?c=2
                  url_standard: https://cdn8.bigcommerce.com/s-id30h7ohwf/products/158/images/485/product-image__98178.1536854227.560.850.png?c=2
                  url_thumbnail: https://cdn8.bigcommerce.com/s-id30h7ohwf/products/158/images/485/product-image__98178.1536854227.330.500.png?c=2
                  url_tiny: https://cdn8.bigcommerce.com/s-id30h7ohwf/products/158/images/485/product-image__98178.1536854227.66.100.png?c=2
                  date_modified: '2018-09-13T15:57:07+00:00'
                meta: {}
        '404':
          description: 'The resource was not found.

            '
          content:
            application/json:
              schema:
                title: Not Found
                type: object
                properties:
                  status:
                    type: integer
                    description: '404 HTTP status code.

                      '
                  title:
                    type: string
                    description: The error title describing the particular error.
                  type:
                    type: string
                  instance:
                    type: string
                description: Error payload for the BigCommerce API.
    put:
      tags:
      - Images
      summary: BigCommerce Update a Product Image
      description: 'Updates a *Product Image*.


        **Usage Notes**

        - `image_url` - `255` character limit

        - Each image file or image uploaded by URL can be up to 8 MB.

        - For file uploads, send a POST request using the `multipart/form-data` media type'
      operationId: updateProductImage
      parameters:
      - $ref: '#/components/parameters/ContentType'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/productImage_Put'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                title: Product Image Response
                type: object
                properties:
                  data:
                    title: Product Image
                    type: object
                    allOf:
                    - title: Product Image Base
                      type: object
                      properties:
                        id:
                          type: integer
                          description: 'The unique numeric ID of the image; increments sequentially.

                            '
                        product_id:
                          type: integer
                          description: 'The unique numeric identifier for the product with which the image is associated.

                            '
                        url_zoom:
                          readOnly: true
                          type: string
                          description: 'The zoom URL for this image. By default, this is used as the zoom image on product pages when zoom images are enabled. You should provide an image smaller than 1280x1280; otherwise, the API returns a resized image.

                            '
                        url_standard:
                          readOnly: true
                          type: string
                          description: 'The standard URL for this image. By default, this is used for product-page images.

                            '
                        url_thumbnail:
                          readOnly: true
                          type: string
                          description: 'The thumbnail URL for this image. By default, this is the image size used on the category page and in side panels.

                            '
                        url_tiny:
                          readOnly: true
                          type: string
                          description: 'The tiny URL for this image. By default, this is the image size used for thumbnails beneath the product image on a product page.

                            '
                        date_modified:
                          type: string
                          description: 'The date on which the product image was modified.

                            '
                          format: date-time
                        is_thumbnail:
                          type: boolean
                          description: 'Flag for identifying whether the image is used as the productʼs thumbnail.

                            '
                        sort_order:
                          maximum: 2147483647
                          minimum: -2147483648
                          type: integer
                          description: 'The order in which the image will be displayed on the product page. Higher integers give the image a lower priority. When updating, if the image is given a lower priority, all images with a `sort_order` the same as or greater than the imageʼs new `sort_order` value will have their `sort_order`s reordered.

                            '
                        description:
                          type: string
                          description: 'The description for the image.

                            '
                      description: Common ProductImage properties.
                    - type: object
                      properties:
                        id:
                          type: integer
                          description: 'The unique numeric ID of the image; increments sequentially.

                            '
                        product_id:
                          type: integer
                          description: 'The unique numeric identifier for the product with which the image is associated.

                            '
                        image_file:
                          type: string
                          description: 'The local path to the original image file uploaded to BigCommerce. Use image_url when creating a product.


                            Must be sent as a `multipart/form-data` field in the request body. Limit of 8 MB per file.

                            '
                        url_zoom:
                          readOnly: true
                          type: string
                          description: 'The zoom URL for this image. By default, this is used as the zoom image on product pages when zoom images are enabled. You should provide an image smaller than 1280x1280; otherwise, the API returns a resized image.

                            '
                        url_standard:
                          readOnly: true
                          type: string
                          description: 'The standard URL for this image. By default, this is used for product-page images.

                            '
                        url_thumbnail:
                          readOnly: true
                          type: string
                          description: 'The thumbnail URL for this image. By default, this is the image size used on the category page and in side panels.

                            '
                        url_tiny:
                          readOnly: true
                          type: string
                          description: 'The tiny URL for this image. By default, this is the image size used for thumbnails beneath the product image on a product page.

                            '
                        date_modified:
                          type: string
                          description: 'The date on which the product image was modified.

                            '
                          format: date-time
                        image_url:
                          type: string
                          description: 'Publically available URL.

                            Use the image_url when creating a product.'
                          example: https://upload.wikimedia.org/wikipedia/commons/7/7f/Anglel_Bless_Legendary_Hills_1_m%C4%9Bs%C3%ADc_st%C3%A1%C5%99%C3%AD.jpg
                  meta:
                    $ref: '#/components/schemas/metaEmpty_Full'
                description: 'Response payload for the BigCommerce API.

                  '
              example:
                data:
                  id: 485
                  product_id: 158
                  is_thumbnail: false
                  sort_order: 1
                  description: ''
                  image_file: o/381/product-image__98178.png
                  url_zoom: https://cdn8.bigcommerce.com/s-id30h7ohwf/products/158/images/485/product-image__98178.1536854227.1280.1280.png?c=2
                  url_standard: https://cdn8.bigcommerce.com/s-id30h7ohwf/products/158/images/485/product-image__98178.1536854227.560.850.png?c=2
                  url_thumbnail: https://cdn8.bigcommerce.com/s-id30h7ohwf/products/158/images/485/product-image__98178.1536854227.330.500.png?c=2
                  url_tiny: https://cdn8.bigcommerce.com/s-id30h7ohwf/products/158/images/485/product-image__98178.1536854227.66.100.png?c=2
                  date_modified: '2018-09-13T15:57:07+00:00'
                meta: {}
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties: {}
        '400':
          description: Bad Request. The requested resource could not be downloaded and may be invalid. Possible reasons include malformed request syntax or the file host blocking requests.
          content:
            application/json:
              schema:
                type: object
                properties: {}
        '404':
          description: 'The resource was not found.

            '
          content:
            application/json:
              schema:
                title: Not Found
                type: object
                properties:
                  status:
                    type: integer
                    description: '404 HTTP status code.

                      '
                  title:
                    type: string
                    description: The error title describing the particular error.
                  type:
                    type: string
                  instance:
                    type: string
                description: Error payload for the BigCommerce API.
      x-codegen-request-body-name: productImage
    delete:
      tags:
      - Images
      summary: BigCommerce Delete a Product Image
      description: Deletes a *Product Image*.
      operationId: deleteProductImage
      responses:
        '204':
          description: ''
          content: {}
    servers:
    - url: https://api.bigcommerce.com/stores/{store_hash}/v3
      variables:
        store_hash:
          default: store_hash
          description: Permanent ID of the BigCommerce store.
      description: BigCommerce API Gateway
components:
  parameters:
    ContentType:
      name: Content-Type
      in: header
      required: true
      description: The [MIME type](https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/MIME_types) of the request body.
      schema:
        type: string
        default: application/json
    Accept:
      name: Accept
      in: header
      required: true
      description: The [MIME type](https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/MIME_types) of the response body.
      schema:
        type: string
        default: application/json
    BrandIdParam:
      name: brand_id
      in: path
      description: 'The ID of the `Brand` to which the resource belongs.

        '
      required: true
      schema:
        type: integer
    CategoryIdParam:
      name: category_id
      in: path
      description: 'The ID of the `Category` to which the resource belongs.

        '
      required: true
      schema:
        type: integer
    ModifierIdParam:
      name: modifier_id
      description: 'The ID of the `Modifier`.

        '
      required: true
      in: path
      schema:
        type: integer
    ValueIdParam:
      name: value_id
      description: 'The ID of the `Modifier/Option Value`.

        '
      required: true
      in: path
      schema:
        type: integer
    ProductIdParam:
      name: product_id
      in: path
      description: 'The ID of the `Product` to which the resource belongs.

        '
      required: true
      schema:
        type: integer
    VariantIdParam:
      name: variant_id
      in: path
      description: 'ID of the variant on a product, or on an associated Price List Record.

        '
      required: true
      schema:
        type: integer
    ProductIdParam_2:
      name: product_id
      in: path
      description: 'The ID of the `Product` to which the resource belongs. Product variant metafield endpoints that have the `product_id` in the request path are successful as long as the parameter is not empty. The `product_id` segment is there only for path consistency.

        '
      required: true
      schema:
        type: integer
    ImageIdParam:
      name: image_id
      description: 'The ID of the `Image` that is being operated on.

        '
      required: true
      in: path
      schema:
        type: integer
  schemas:
    metaEmpty_Full:
      type: object
      title: Response meta
      properties: {}
      additionalProperties: true
      description: Response metadata.
    pagination_Full:
      title: pagination_Full
      type: object
      properties:
        total:
          type: integer
          description: 'Total number of items in the result set.

            '
          example: 36
        count:
          type: integer
          description: 'Total number of items in the collection response.

            '
          example: 36
        per_page:
          type: integer
          description: 'The amount of items returned in the collection per page, controlled by the limit parameter.

            '
          example: 50
        current_page:
          type: integer
          description: 'The page you are currently on within the collection.

            '
          example: 1
        total_pages:
          type: integer
          description: 'The total number of pages in the collection.

            '
          example: 1
        links:
          type: object
          properties:
            previous:
              type: string
              description: 'Link to the previous page returned in the response.

                '
            current:
              type: string
              description: 'Link to the current page returned in the response.

                '
              example: ?page=1&limit=50
            next:
              type: string
              description: 'Link to the next page returned in the response.

                '
          description: 'Pagination links for the previous and next parts of the whole collection.

            '
      description: Data about the response, including pagination and collection totals.
      x-internal: false
    productImage_Base:
      title: productImage_Base
      type: object
      properties:
        image_file:
          type: string
          description: 'The local path to the original image file uploaded to BigCommerce. Use image_url when creating a product.


            Must be sent as a `multipart/form-data` field in the request body. Limit of 8 MB per file.

            '
        is_thumbnail:
          type: boolean
          description: 'Flag for identifying whether the image is used as the productʼs thumbnail.

            '
        sort_order:
          maximum: 2147483647
          minimum: -2147483648
          type: integer
          description: 'The order in which the image will be displayed on the product page. Higher integers give the image a lower priority. When updating, if the image is given a lower priority, all images with a `sort_order` the same as or greater than the imageʼs new `sort_order` value will have their `sort_order`s reordered.

            '
        description:
          type: string
          description: 'The description for the image.

            '
        image_url:
          type: string
          description: Must be a fully qualified URL path, including protocol. Limit of 8MB per file.
      description: Common ProductImage properties.
      x-internal: false
    productImage_Full:
      title: productImage_Full
      description: Common ProductImage properties.
      allOf:
      - $ref: '#/components/schemas/productImage_Base'
      - title: productImage
        type: object
        properties:
          id:
            type: integer
            description: 'The unique numeric ID of the image; increments sequentially.

              '
          product_id:
            type: integer
            description: 'The unique numeric identifier for the product with which the image is associated.

              '
          url_zoom:
            readOnly: true
            type: string
            description: 'The zoom URL for this image. By default, this is used as the zoom image on product pages when zoom images are enabled. You should provide an image smaller than 1280x1280; otherwise, the API returns a resized image.

              '
          url_standard:
            readOnly: true
            type: string
            description: 'The standard URL for this image. By default, this is used for product-page images.

              '
          url_thumbnail:
            readOnly: true
            type: string
            description: 'The thumbnail URL for this image. By default, this is the image size used on the category page and in side panels.

              '
          url_tiny:
            readOnly: true
            type: string
            description: 'The tiny URL for this image. By default, this is the image size used for thumbnails beneath the product image on a product page.

              '
          date_modified:
            type: string
            description: 'The date on which the product image was modified.

              '
            format: date-time
        description: Common ProductImage properties.
      x-internal: false
    metaCollection_Full:
      title: metaCollection_Full
      type: object
      properties:
        pagination:
          $ref: '#/components/schemas/pagination_Full'
      description: Data about the response, including pagination and collection totals.
      x-internal: false
    productImage_Put:
      title: productImage_Put
      description: The model for a PUT to update applicable Product Image fields.
      allOf:
      - title: Product Image Base
        type: object
        properties:
          product_id:
            type: integer
            description: 'The unique numeric identifier for the product with which the image is associated.

              '
          url_zoom:
            readOnly: true
            type: string
            description: 'The zoom URL for this image. By default, this is used as the zoom image on product pages when zoom images are enabled. You should provide an image smaller than 1280x1280; otherwise, the API returns a resized image.

              '
          url_standard:
            readOnly: true
            type: string
            description: 'The standard URL for this image. By default, this is used for product-page images.

              '
          url_thumbnail:
            readOnly: true
            type: string
            description: 'The thumbnail URL for this image. By default, this is the image size used on the category page and in side panels.

              '
          url_tiny:
            readOnly: true
            type: string
            description: 'The tiny URL for this image. By default, this is the image size used for thumbnails beneath the product image on a product page.

              '
        description: Common ProductImage properties.
      - $ref: '#/components/schemas/productImage_Base'
      x-internal: false
  securitySchemes:
    X-Auth-Token:
      name: X-Auth-Token
      description: '### OAuth scopes


        | UI Name | Permission | Parameter |

        |:--|:--|:-|

        |  Products | modify | `store_v2_products` |

        |  Products | read-only | `store_v2_products_read_only` |


        ### Authentication header


        | Header | Argument | Description |

        |:-|:|:|

        | `X-Auth-Token` | `access_token` | For more about API accounts that generate `access_token`s, see our [Guide to API Accounts](/docs/start/authentication/api-accounts). |


        ### Further reading


        For example requests and more information about authenticating BigCommerce APIs, see [Authentication and Example Requests](/docs/start/authentication#x-auth-token-header-example-requests).


        For more about BigCommerce OAuth scopes, see our [Guide to API Accounts](/docs/start/authentication/api-accounts#oauth-scopes).


        For a list of API status codes, see [API Status Codes](/docs/start/about/status-codes).'
      type: apiKey
      in: header
x-refined-from:
- catalog-brands-openapi-original.yml
- catalog-categories-openapi-original.yml
- catalog-product-modifiers-openapi-original.yml
- catalog-product-variants-openapi-original.yml
- catalog-products-openapi-original.yml
