openapi: 3.0.0
info:
  title: BigCommerce Abandoned Cart Emails Menus API
  version: 3.0.0
  termsOfService: https://www.bigcommerce.com/terms
  description: Abandoned Cart Emails V3 API managing Handlebars-based emails.
  contact:
    name: BigCommerce
    url: https://www.bigcommerce.com
    email: support@bigcommerce.com
servers:
- url: https://api.bigcommerce.com/stores/{store_hash}/v3
  variables:
    store_hash:
      default: store_hash
      description: Permanent ID of the BigCommerce store.
  description: BigCommerce API Gateway
security:
- X-Auth-Token: []
tags:
- name: Menus
paths:
  /channels/{channel_id}/channel-menus:
    parameters:
    - $ref: '#/components/parameters/Accept'
    - $ref: '#/components/parameters/channel_id_path_param'
    get:
      summary: BigCommerce Get Channel Menus
      description: 'Returns list of Control Panel side navigation menus for a channel.

        '
      operationId: getChannelMenus
      responses:
        '200':
          $ref: '#/components/responses/channel_menus_Resp'
      tags:
      - Menus
    post:
      responses:
        '200':
          $ref: '#/components/responses/channel_menus_Resp'
      summary: BigCommerce Create Channel Menus
      operationId: createChannelMenus
      parameters:
      - $ref: '#/components/parameters/ContentType'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/channel_menus_Post'
            examples: {}
      tags:
      - Menus
      description: Creates or replaces list of control panel side navigation menus for a channel.
    delete:
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: integer
                  meta:
                    $ref: '#/components/schemas/EmptyMeta'
                x-examples:
                  example-1:
                    data: 1
                    meta: {}
      description: Deletes control panel side navigation menus for a channel.
      operationId: deleteChannelMenus
      tags:
      - Menus
      summary: BigCommerce Delete Channel Menus
components:
  parameters:
    Accept:
      name: Accept
      in: header
      required: true
      description: The [MIME type](https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/MIME_types) of the response body.
      schema:
        type: string
        default: application/json
    ContentType:
      name: Content-Type
      in: header
      required: true
      description: The [MIME type](https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/MIME_types) of the request body.
      schema:
        type: string
        default: application/json
    channel_id_path_param:
      name: channel_id
      description: The ID of a channel.
      in: path
      required: true
      schema:
        type: integer
        format: int64
  examples:
    channel_menus_resp_example:
      value:
        data:
          bigcommerce_protected_app_sections:
          - social
          - carousel
          - domains
          - currencies
          - notifications
          - storefront_settings
          custom_app_sections:
          - title: Overview
            query_path: overview
          - title: Products
            query_path: products
          - title: Campaigns
            query_path: campaigns
          - title: Settings
            query_path: settings
        meta: {}
  schemas:
    channel_menus_Post:
      type: object
      properties:
        bigcommerce_protected_app_sections:
          $ref: '#/components/schemas/BigCommerceProtectedAppSections'
        custom_app_sections:
          $ref: '#/components/schemas/CustomAppSections'
    EmptyMeta:
      type: object
      title: Empty meta response.
      properties: {}
      additionalProperties: true
      description: Response metadata.
    CustomAppSections:
      type: array
      items:
        type: object
        properties:
          title:
            type: string
            description: Text displayed to the merchant.
          query_path:
            type: string
            description: Value used in the `section` query param.
        x-internal: false
    BigCommerceProtectedAppSections:
      type: array
      description: List of channel-specific control panel menu navigation items and corresponding settings pages an app developer can choose to enable for the subject channel. Protected settings override any settings set in those UI sections at the storewide level. Learn more in the [Building Storefront Channels](/docs/integrations/channels/guide/storefronts#protected-ui-sections) tutorial.
      items:
        type: string
        enum:
        - storefront_settings
        - social
        - carousel
        - domains
        - currencies
        - notifications
  responses:
    channel_menus_Resp:
      description: ''
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  bigcommerce_protected_app_sections:
                    $ref: '#/components/schemas/BigCommerceProtectedAppSections'
                  custom_app_sections:
                    $ref: '#/components/schemas/CustomAppSections'
              meta:
                $ref: '#/components/schemas/EmptyMeta'
          examples:
            response:
              $ref: '#/components/examples/channel_menus_resp_example'
  securitySchemes:
    X-Auth-Token:
      name: X-Auth-Token
      description: '### OAuth scopes


        | UI Name | Permission | Parameter |

        |:--|:--|:-|

        | Information & Settings  | read-only  | `store_v2_information_read_only`|

        | Information & Settings  | modify     | `store_v2_information`          |


        ### Authentication header


        | Header | Argument | Description |

        |:-|:|:|

        | `X-Auth-Token` | `access_token` | For more about API accounts that generate `access_token`s, see our [Guide to API Accounts](/docs/start/authentication/api-accounts). |


        ### Further reading


        For example requests and more information about authenticating BigCommerce APIs, see [Authentication and Example Requests](/docs/start/authentication#x-auth-token-header-example-requests).


        For more about BigCommerce OAuth scopes, see our [Guide to API Accounts](/docs/start/authentication/api-accounts#oauth-scopes).


        For a list of API status codes, see [API Status Codes](/docs/start/about/status-codes).'
      type: apiKey
      in: header
